interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '1831198031522029144']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225147276579275043/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Jeans Valid Attrs",
        "id": 666032, "quantity": "3.00", "reorder_level": "20.00", "safety_stock":
        "20.00", "price": "0E-10", "tax_type": 1062, "custom_price": false, "ebay_product_id":
        null, "ebay_url": null, "in_shop": false, "shop_url": null, "thumbnail": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "id": 2978, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"},
        "variation_count": 2, "variations": [{"id": 666030, "attributes": {"color":
        ["Red"], "material": ["Denim"], "size": ["22"]}, "quantity": "1.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "140.1869158879",
        "product_code": null, "tax_type": 1062, "name": "Jeans Valid Attrs, Red, 22,
        Denim", "images": [{"new": false, "type": 0, "id": 2978, "urls": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"}}],
        "meta": {"atalanda": {"channel": 9, "description": null, "gross_price": "150.00",
        "id": 3498, "images": [], "name": null, "price": "140.1869158879"}, "shop":
        {"channel": 5, "description": null, "gross_price": "150.00", "id": 960, "images":
        [], "name": null, "price": "140.1869158879"}, "click_and_collect": {"channel":
        8, "description": null, "gross_price": "150.00", "id": 3499, "images": [],
        "name": null, "price": "140.1869158879"}, "ebay": {"channel": 4, "description":
        null, "gross_price": "150.00", "id": 961, "images": [], "name": null, "price":
        "140.1869158879"}}, "gross_price": "150.00", "purchase_price": "0", "average_purchase_price":
        "0", "attributes_str": "22, Red, Denim", "inv_id": null, "package_size_value":
        null, "package_size_unit": null, "base_price": null, "base_size_value": null,
        "base_size_unit": null}, {"id": 666031, "attributes": {"color": ["Blue"],
        "material": ["Leather"], "size": ["50"]}, "quantity": "2.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "121.4953271028",
        "product_code": null, "tax_type": 1062, "name": "Jeans Valid Attrs, Blue,
        50, Leather", "images": [{"new": false, "type": 0, "id": 2979, "urls": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "roles": [{"id": 946, "name":
        "owner", "key_name": "owner"}, {"id": 947, "name": "manager", "key_name":
        "manager"}, {"id": 948, "name": "staff", "key_name": "staff"}], "attributes":
        [{"used": true, "usage_count": 4, "key": "size", "name": "Size"}, {"used":
        true, "usage_count": 4, "key": "material", "name": "Material"}, {"used": true,
        "usage_count": 3, "key": "color", "name": "Color"}, {"used": false, "usage_count":
        0, "key": "cut", "name": "Cut"}, {"used": false, "usage_count": 0, "key":
        "fabric", "name": "Fabric"}, {"used": false, "usage_count": 0, "key": "finish",
        "name": "Finish"}, {"used": false, "usage_count": 0, "key": "fit", "name":
        "Fit"}, {"used": false, "u[...]
- request:
    body: '{"state": "in_progress", "details": null, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/666032/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['1831198031522029144']
    status: {code: 200, message: OK}
- request:
    body: !!python/str "<?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest\
      \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description><![CDATA[<p>Photo\
      \ of jeans for sell.</p>]]></Description><DispatchTimeMax>3</DispatchTimeMax><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>info@inventorum.com</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PictureDetails><PictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG</PictureURL></PictureDetails><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>171949</CategoryID></PrimaryCategory><ReturnPolicy><Description>The\
      \ article can be returned to the given conditions</Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsWithinOption>Days_14</ReturnsWithinOption><ShippingCostPaidByOption>Seller</ShippingCostPaidByOption></ReturnPolicy><SKU>invtest_666032</SKU><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceAdditionalCost>3.00</ShippingServiceAdditionalCost><ShippingServiceCost>5.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceAdditionalCost>1.00</ShippingServiceAdditionalCost><ShippingServiceCost>4.50</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><Title><![CDATA[Jeans\
      \ Valid Attrs]]></Title><VATDetails><VATPercent>7.000</VATPercent></VATDetails><Variations><Pictures><VariationSpecificName>Gr\xF6\
      \xDFe (*)</VariationSpecificName><VariationSpecificPictureSet><PictureURL>http://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG</PictureURL><VariationSpecificValue>50</VariationSpecificValue></VariationSpecificPictureSet><VariationSpecificPictureSet><PictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</PictureURL><VariationSpecificValue>22</VariationSpecificValue></VariationSpecificPictureSet></Pictures><Variation><Quantity>2</Quantity><SKU>invtest_666031</SKU><StartPrice>130.00</StartPrice><VariationSpecifics><NameValueList><Name>Gr\xF6\
      \xDFe (*)</Name><Value>50</Value></NameValueList><NameValueList><Name>Material\
      \ (*)</Name><Value>Leather</Value></NameValueList><NameValueList><Name>Farbe\
      \ (*)</Name><Value>Blue</Value></NameValueList></VariationSpecifics></Variation><Variation><Quantity>1</Quantity><SKU>invtest_666030</SKU><StartPrice>150.00</StartPrice><VariationSpecifics><NameValueList><Name>Gr\xF6\
      \xDFe (*)</Name><Value>22</Value></NameValueList><NameValueList><Name>Material\
      \ (*)</Name><Value>Denim</Value></NameValueList><NameValueList><Name>Farbe (*)</Name><Value>Red</Value></NameValueList></VariationSpecifics></Variation><VariationSpecificsSet><NameValueList><Name>Farbe\
      \ (*)</Name><Value>Blue</Value><Value>Red</Value></NameValueList><NameValueList><Name>Material\
      \ (*)</Name><Value>Leather</Value><Value>Denim</Value></NameValueList><NameValueList><Name>Gr\xF6\
      \xDFe (*)</Name><Value>50</Value><Value>22</Value></NameValueList></VariationSpecificsSet></Variations></Item></AddFixedPriceItemRequest>"
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'AddFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [9400e8c2-b320-4c1f-9159-1ac571af2eb4]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AddFixedPriceItemResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2016-01-15T12:33:58.661Z</Timestamp><Ack>Failure</Ack><Errors><ShortMessage>In\
        \ dieser Kategorie werden keine Varianten unterst\xFCtzt</ShortMessage><LongMessage>Die\
        \ ausgew\xE4hlte Kategorie unterst\xFCtzt keine Angebote mit Varianten</LongMessage><ErrorCode>21916564</ErrorCode><SeverityCode>Error</SeverityCode><ErrorClassification>RequestError</ErrorClassification></Errors><Version>949</Version><Build>E949_UNI_API5_17774433_R1</Build></AddFixedPriceItemResponse>"}
    headers:
      content-type: [text/xml]
      guid: [15245472-99a0-a794-4554-70a4c842192b]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dWtgMGQ3MmYrNWFhNigyNSg2MTUoNjMyKDMyPz43OzU=]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:3e77fd89-8beb-45e6-961e-ffc9c4561216']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['15245472-99a0-a794-4554-70a4c842192b!ws.api.dll!10.121.68.85!esbtrading[']
    status: {code: 200, message: OK}
- request:
    body: '{"state": "failed", "details": [{"severity_code": "Error", "code": 21916564,
      "classification": "RequestError", "parameters": [], "long_message": "Die ausgew\u00e4hlte
      Kategorie unterst\u00fctzt keine Angebote mit Varianten", "short_message": "In
      dieser Kategorie werden keine Varianten unterst\u00fctzt"}], "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/666032/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['1831198031522029144']
    status: {code: 200, message: OK}
version: 1
