interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '2050266213655812240']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225146588560351744/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "INVENTORUM iPad-Stand",
        "id": 665753, "quantity": "74.00", "reorder_level": "0.00", "safety_stock":
        "0.00", "price": "0.8403361345", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": true, "shop_url": "https://inventorum-test-account.inventorum.net/products/details?pid=665753",
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "id": 2934, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "3E+1",
        "description": "Der stylische iPad-Stand von INVENTORUM aus edlem Holz rundet
        das Erscheinungsbild Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen
        Neigungswinkel ist dieser ideal, um einfach und schnell Produkte mit der internen
        Kamera des iPads zu scannen.  Kompatibel f\u00fcr iPad 2, 3 und 4, sowie das
        iPad Air und iPad mini.", "product_code": "", "ean": null, "categories": [],
        "images": [{"new": false, "type": 0, "id": 2934, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "roles": [{"id": 946, "name":
        "owner", "key_name": "owner"}, {"id": 947, "name": "manager", "key_name":
        "manager"}, {"id": 948, "name": "staff", "key_name": "staff"}], "attributes":
        [{"used": true, "usage_count": 4, "key": "size", "name": "Size"}, {"used":
        true, "usage_count": 4, "key": "material", "name": "Material"}, {"used": true,
        "usage_count": 3, "key": "color", "name": "Color"}, {"used": false, "usage_count":
        0, "key": "cut", "name": "Cut"}, {"used": false, "usage_count": 0, "key":
        "fabric", "name": "Fabric"}, {"used": false, "usage_count": 0, "key": "finish",
        "name": "Finish"}, {"used": false, "usage_count": 0, "key": "fit", "name":
        "Fit"}, {"used": false, "u[...]
[...]
