interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '3225259305428755794']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225145632417445479/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "XtC Advanced 2 LTD",
        "id": 463690, "quantity": "1000.00", "reorder_level": "10.00", "safety_stock":
        "2.00", "price": "1680.6638655462", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_ipad.JPEG",
        "id": 2914, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "1.5E+3",
        "description": "GIANT XtC 27.5\" Advanced Carbon", "product_code": "123456789",
        "ean": "75678164125", "categories": [], "images": [{"new": false, "type":
        0, "id": 2914, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/f6ac/f910/410a/1ce2/9f24/6d92/ea14/f6acf910410a1ce29f246d92ea1402ae_thumb.JPEG"}}],
        "custom_sale": false, "shipping_services": [], "is_favourite": false, "brand":
        "", "supplier": "", "meta": {}, "is_giftcard": false, "gross_price": "1999.99",
        "purchase_price": "1.5E+3", "states": [{"channel": "ebay", "details": null,
        "state": "in_progress"}], "attributes_str": "", "inv_id": "1225145632417445479",
        "package_size_value": null, "package_size_unit": null, "base_price": null,
        "base_size_value": null, "base_size_unit": null}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3225259305428755794']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"used": true, "usage_count": 3, "key": "color"}, {"used": true, "usage_count":
        4, "key": "size"}, {"used": true, "usage_count": 4, "key": "material"}], "account":
        {"paypal": false, "ebay": false, "image": null, "shipping_address": null,
        "billing_address": {"country": "DE", "id": 5067, "address1": "Voltastr 5",
        "address2": "Gebaude 3", "zipcode": "13355", "city": "Berlin", "state": null,
        "first_name": "John", "last_name": "Newman", "company": "Inventorum", "title":
        null}, "phone_numbers": [{"country_code": "49", "id": 1444, "type": "normal",
        "national_number": "030 12341234"}], "name": "Inventorum Test Account", "store_name":
        "Inventorum Test Account", "store_description": "", "store_slogan": "", "email":
        "tech+slingshot-test@inventorum.com", "fax": "", "tax_number": "", "vat_number":
        "", "payment_method_note": "", "thanks_note": "", "invoice_prefix": "", "invoice_counter":
        2, "bank_name": "", "bank_account_number": "", "bank_code": "", "bank_iban":
        "", "bank_bic_swift": "", "settings": {"shipping_services": [{"id": "DE_DHLPaket",
        "description": "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
