/.installed.cfg
/bin
/parts
/develop-eggs
/var
/etc
/node_modules
/eggs
/downloads
/inventorum/var
/.coverage
/tmp
/.idea
/.idea/dictionaries
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/libraries/Buildout_Eggs.xml
/.idea/backend.iml
/.idea/misc.xml
/.idea/libraries/Buildout_Eggs*.xml
/.idea/runConfigurations/*.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/libraries/

.DS_Store
*.pyc
*.pyo
*.egg-info
.idea/dataSources.ids
.idea/dataSources.xml
.idea/inventorum.backend.iml
.idea/watcherTasks.xml

node_modules
.sass-cache
Django_Lib.xml
missing_versions.cfg
