/.installed.cfg
/bin
/parts
/develop-eggs
/var
/etc
/node_modules
/eggs
/downloads
/inventorum/var
/.coverage
/tmp
/.idea/

.DS_Store
*.pyc
*.pyo
*.egg-info

node_modules
.sass-cache
Django_Lib.xml
missing_versions.cfg

celerybeat-schedule
celerybeat.pid

