interactions:
- request:
    body: !!python/unicode <?xml version='1.0' encoding='utf-8'?><GetSessionIDRequest
      xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials></RequesterCredentials><RuName>Inventorum_GmbH-Inventor-9021-4-pbiiw</RuName></GetSessionIDRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [!!python/unicode Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode GetSessionID]
      X-EBAY-API-CERT-NAME: [!!python/unicode 6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [!!python/unicode dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [0]
      X-EBAY-SDK-REQUEST-ID: [96ddc0c3-384b-427c-bea1-14eb05149e54]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetSessionIDResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-03-31T12:28:25.453Z</Timestamp><Ack>Success</Ack><Version>915</Version><Build>E915_CORE_APISIGNIN_17436769_R1</Build><SessionID>qeUBAA**6fcddfde14c0a624a21035e0ffff84ce</SessionID></GetSessionIDResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14c6fcdd-fbb0-a602-d6c6-5ac6f6591062]
      x-ebay-api-pool-name: [___cDRidW90amJobm1maXVm]
      x-ebay-api-server-name: [___ZW9nNGQ3MWYrYTI8PigyNSg+OysxMy02NT07NT43]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetSessionID]
      x-ebay-esb-guid: ['urn:uuid:ae53860a-61d3-49a1-ab41-7772add53044']
      x-ebay-esb-siteid: ['0']
      x-ebay-request-id: ['14c6fcdd-fbb0-a602-d6c6-5ac6f6591062!ws.api.dll!10.96.45.108!esbtrading[]']
    status: {code: 200, message: OK}
version: 1
