interactions:
- request:
    body: !!python/unicode <?xml version="1.0" encoding="utf-8"?><AddInventoryLocationRequest><Address1>Voltrastr
      5</Address1><Address2>Gebaude 2</Address2><City>Berlin</City><Country>DE</Country><Hours><Day><DayOfWeek>1</DayOfWeek><Interval><Close>10:00:00</Close><Open>08:00:00</Open></Interval></Day></Hours><Latitude>37.374488</Latitude><LocationID>test_inventorum_location</LocationID><LocationType>STORE</LocationType><Longitude>-122.032876</Longitude><Name>Test
      location Inventorum</Name><Phone>072 445 78 75</Phone><PickupInstructions>Pick
      it up as soon as possible</PickupInstructions><PostalCode>13355</PostalCode><Region>Berlin</Region><URL>http://inventorum.com</URL><UTCOffset>+02:00</UTCOffset></AddInventoryLocationRequest>
    headers:
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [8dbbd775-d3f9-4068-8270-20fc195ae890]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/locations/delta/add
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><AddInventoryLocationResponse><Ack>SUCCESS</Ack><LocationID>TEST_INVENTORUM_LOCATION</LocationID><LocationUUID>8723722A-F590-4D7A-BB87-2DD0A65BE4B9</LocationUUID></AddInventoryLocationResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d05d61-e1b0-a358-a141-4451ff3f1cef]
      rlogid: [t6jkptufoi9%3Fuk%601d72f%2Bf52d%29pqtfwpu%29pie%29fgg%7E-fij-14d05d61e1a-0x14d46]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d05d61-e1b0-a358-a141-4451ff3f1cef!selling.inventory.v1.locations!10.53.138.20!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <?xml version="1.0" encoding="utf-8"?><AddInventoryRequest><Locations><Location><Availability>IN_STOCK</Availability><LocationID>test_inventorum_location</LocationID><Quantity>10</Quantity></Location></Locations><SKU>test_sky</SKU></AddInventoryRequest>
    headers:
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [acf79c8a-885e-4b1c-9365-cdc031898460]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/inventory/delta/add
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><AddInventoryResponse><Ack>SUCCESS</Ack><SKU>TEST_SKY</SKU></AddInventoryResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d05d62-1d10-a358-a141-4451ff3f1bf3]
      rlogid: [t6jkptufoi9%3Fuk%601d71f%2B%3Fa14%29pqtfwpu%29pie%29fgg%7E-fij-14d05d621d0-0x14d14]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d05d62-1d10-a358-a141-4451ff3f1bf3!selling.inventory.v1.inventory!10.53.138.20!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <?xml version="1.0" encoding="utf-8"?><DeleteInventoryRequest><Confirm>true</Confirm><Locations></Locations><SKU>test_sky</SKU></DeleteInventoryRequest>
    headers:
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [40c605f9-2e1a-4d5f-8124-0be9a0e2432b]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/inventory/delta/delete
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><DeleteInventoryResponse><Ack>SUCCESS</Ack><SKU>TEST_SKY</SKU></DeleteInventoryResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d05d62-2d30-a358-a135-89f5ff392e61]
      rlogid: [t6jkptufoi9%3Fuk%601d70f%2B0b%3C0-14d05d622d3-0x15180]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d05d62-2d30-a358-a135-89f5ff392e61!selling.inventory.v1.inventory!10.53.138.19!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <?xml version="1.0" encoding="utf-8"?><DeleteInventoryLocationRequest><LocationID>test_inventorum_location</LocationID></DeleteInventoryLocationRequest>
    headers:
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [b63c9716-59d0-461e-b81c-28f32e714e5f]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/locations/delta/delete
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><DeleteInventoryLocationResponse><Ack>SUCCESS</Ack><LocationID>TEST_INVENTORUM_LOCATION</LocationID></DeleteInventoryLocationResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d05d62-3ec0-a7ea-0712-9162ffd0ec99]
      rlogid: [t6jkptufoi9%3Fuk%601d72f%2Bf52d%29pqtfwpu%29pie%29fgg%7E-fij-14d05d623ea-0xba4a]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d05d62-3ec0-a7ea-0712-9162ffd0ec99!selling.inventory.v1.locations!10.126.160.113!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 200, message: OK}
version: 1
