interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetCategoryFeaturesRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**VPo4VQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFkYKnDpiFoQ6dj6x9nY+seQ**qeUBAA**AAMAAA**hm7IZ6+9b1WTNSGOMQEdijzrGPgniZfog17a2QN3WsUAcoZk67KsJGj55R+Q9vyfPQjVOgcfH7CcK587xCEu9EzWIKFgBfBvZ5q0Ykk9UUOLxiHfaZJcdWNnQ3RG1EkXgYPt95COGQjZx0rSLACHhhI5c2kc5QuI+8AsG4pPH/px7HQmjM8RDFD9/6wmor5PgKYMWlF3iCTDUEVS1m36+AOthGjyTvUApZ9JoXkwhHXeStvKyNwsbaU+VjSlzp/L+Rxk0H16MwFhFc6jx8yPDcccbVbKejcB30lxHQFyHOm5d3BVTxEnw2un1GXr0uE7qd9fynAdGnsNUk/zf8D/U/RNFHHDOEvaz/XuCy6HS7asJL0duLdG+RtjMuWy0lHmaY84yd47aTLL0t1q374O2ypvUDyvyuCEEKbV+PTHG83VJDQbivlPitI2o9wNg81xIiGW+qpGbwffWHU2B42MmreA3XcOL/cqQtHBK+gz1j3a9MuXl36LiXETYFC7F/t6OXHnIJFzbiKYU4ozWERb+2wDhVadw1JcKxJako9J74caQUmMJ1Shg/FvbO7QtnxbjzR63rp7661O64I6GFe6EgvFQVLGXcbEmsoPAE0mE4QkVEBKrvgfPCDjCZZcvpIy5yzibT6KNZMvBizlC5vx5+xPSvXRMjc5bWsT1kVZb7hiao9/uC4e7UZDanykuyUfYHsuj2aHWdtgqcb92WCaJQ28zlwudRlsmTsrSngI0yP7IG4ZwhXsKVRFTzZ9pWEh</eBayAuthToken></RequesterCredentials><AllFeaturesForCategory>True</AllFeaturesForCategory><CategoryID>92921</CategoryID><DetailLevel>ReturnAll</DetailLevel><ErrorLanguage>de_DE</ErrorLanguage><FeatureID>ListingDurations</FeatureID><FeatureID>PaymentMethods</FeatureID><FeatureID>ItemSpecificsEnabled</FeatureID><FeatureID>VariationsEnabled</FeatureID><LevelLimit>7</LevelLimit><ViewAllNodes>True</ViewAllNodes></GetCategoryFeaturesRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-CALL-NAME: [!!python/unicode GetCategoryFeatures]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [3748cbd6-d57e-4400-a02b-061bebf16837]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetCategoryFeaturesResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-04-23T17:32:38.022Z</Timestamp><Ack>Success</Ack><Version>895</Version><Build>E895_INTL_APICATALOG_17257399_R1</Build><CategoryVersion>3164</CategoryVersion><UpdateTime>2015-04-23T09:38:23.000Z</UpdateTime><Category><CategoryID>92921</CategoryID><ListingDuration
        type="Chinese">1</ListingDuration><ListingDuration type="Dutch">1</ListingDuration><ListingDuration
        type="Live">1</ListingDuration><ListingDuration type="AdType">5</ListingDuration><ListingDuration
        type="StoresFixedPrice">31</ListingDuration><ListingDuration type="PersonalOffer">1</ListingDuration><ListingDuration
        type="FixedPriceItem">8</ListingDuration><ListingDuration type="LeadGeneration">20</ListingDuration><ListingDuration
        type="Express">7</ListingDuration><PaymentMethod>PayPal</PaymentMethod><PaymentMethod>Moneybookers</PaymentMethod><PaymentMethod>CashOnPickup</PaymentMethod><PaymentMethod>MoneyXferAcceptedInCheckout</PaymentMethod><PaymentMethod>MoneyXferAccepted</PaymentMethod><PaymentMethod>COD</PaymentMethod><PaymentMethod>PaymentSeeDescription</PaymentMethod><PaymentMethod>CCAccepted</PaymentMethod><PaymentMethod>Escrow</PaymentMethod><PaymentMethod>StandardPayment</PaymentMethod><VariationsEnabled>false</VariationsEnabled></Category><SiteDefaults><ListingDuration
        type="Chinese">1</ListingDuration><ListingDuration type="Dutch">1</ListingDuration><ListingDuration
        type="Live">1</ListingDuration><ListingDuration type="AdType">5</ListingDuration><ListingDuration
        type="StoresFixedPrice">31</ListingDuration><ListingDuration type="PersonalOffer">1</ListingDuration><ListingDuration
        type="FixedPriceItem">8</ListingDuration><ListingDuration type="LeadGeneration">20</ListingDuration><ListingDuration
        type="Express">7</ListingDuration><ItemSpecificsEnabled>Enabled</ItemSpecificsEnabled><PaymentMethod>PayPal</PaymentMethod><PaymentMethod>Moneybookers</PaymentMethod><PaymentMethod>CashOnPickup</PaymentMethod><PaymentMethod>MoneyXferAcceptedInCheckout</PaymentMethod><PaymentMethod>MoneyXferAccepted</PaymentMethod><PaymentMethod>COD</PaymentMethod><PaymentMethod>PaymentSeeDescription</PaymentMethod><PaymentMethod>CCAccepted</PaymentMethod><PaymentMethod>Escrow</PaymentMethod><PaymentMethod>StandardPayment</PaymentMethod><VariationsEnabled>false</VariationsEnabled><AttributeConversionEnabled>Disabled</AttributeConversionEnabled></SiteDefaults><FeatureDefinitions><ListingDurations
        Version="8"><ListingDuration durationSetID="1"><Duration>Days_3</Duration><Duration>Days_5</Duration><Duration>Days_7</Duration><Duration>Days_10</Duration></ListingDuration><ListingDuration
        durationSetID="20"><Duration>Days_14</Duration><Duration>Days_28</Duration></ListingDuration><ListingDuration
        durationSetID="5"><Duration>Days_10</Duration><Duration>Days_30</Duration></ListingDuration><ListingDuration
        durationSetID="7"><Duration>Days_30</Duration><Duration>GTC</Duration></ListingDuration><ListingDuration
        durationSetID="8"><Duration>Days_3</Duration><Duration>Days_5</Duration><Duration>Days_7</Duration><Duration>Days_10</Duration><Duration>Days_30</Duration></ListingDuration><ListingDuration
        durationSetID="31"><Duration>Days_3</Duration><Duration>Days_5</Duration><Duration>Days_7</Duration><Duration>Days_10</Duration><Duration>Days_30</Duration><Duration>GTC</Duration></ListingDuration></ListingDurations><ItemSpecificsEnabled/><PaymentMethod/><VariationsEnabled/><AttributeConversionEnabled/></FeatureDefinitions></GetCategoryFeaturesResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14ce756a-7120-a625-4b57-49e7a8f2276d]
      x-ebay-api-pool-name: [___cDRidW9kYnFna2xib2l3aQ==]
      x-ebay-api-server-name: [___ZW9nNGQ3MWYrYjQ0MygyNSg+Oys3MTIrNT07NT42]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetCategoryFeatures]
      x-ebay-esb-guid: ['urn:uuid:3d0071e2-b153-4ecb-8888-89ac2c7d26e4']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14ce756a-7120-a625-4b57-49e7a8f2276d!ws.api.dll!10.98.84.181!esbtrading[]']
    status: {code: 200, message: OK}
[...]
