interactions:
- request:
    body: !!python/unicode <?xml version="1.0" encoding="utf-8"?><AddInventoryRequest><Locations><Location><Availability>IN_STOCK</Availability><LocationID>SOME_WIERD_NON_EXISTING_ID</LocationID><Quantity>10</Quantity></Location></Locations><SKU>test_sky</SKU></AddInventoryRequest>
    headers:
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [aae5c46b-18d0-4153-bad1-5db2c3added8]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/inventory/delta/add
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><AddInventoryResponse><Ack>SUCCESS</Ack><SKU>TEST_SKY</SKU></AddInventoryResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d05eb6-fb40-a2ae-8365-fbb5ff7f610b]
      rlogid: [t6jkptufoi9%3Feog4d71f%2B7a%60%3F%29pqtfwpu%29sm%7E%29fgg%7E-fij-14d05eb6fb3-0x175e1]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d05eb6-fb40-a2ae-8365-fbb5ff7f610b!selling.inventory.v1.inventory!10.42.232.54!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 200, message: OK}
version: 1
