interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetCategoryFeaturesRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><AllFeaturesForCategory>True</AllFeaturesForCategory><DetailLevel>ReturnAll</DetailLevel><ErrorLanguage>de_DE</ErrorLanguage><LevelLimit>7</LevelLimit><ViewAllNodes>True</ViewAllNodes></GetCategoryFeaturesRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-CALL-NAME: [!!python/unicode GetCategoryFeatures]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [a94e24de-cb2b-4b0f-856c-c58d952cee01]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetCategoryFeaturesResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-04-17T15:11:20.970Z</Timestamp><Ack>Success</Ack><Version>895</Version><Build>E895_INTL_APICATALOG_17257399_R1</Build><CategoryVersion>3164</CategoryVersion><UpdateTime>2015-04-17T09:30:31.000Z</UpdateTime><SiteDefaults><ShippingTermsRequired>false</ShippingTermsRequired><BestOfferEnabled>true</BestOfferEnabled><DutchBINEnabled>false</DutchBINEnabled><UserConsentRequired>false</UserConsentRequired><HomePageFeaturedEnabled>true</HomePageFeaturedEnabled><ProPackEnabled>false</ProPackEnabled><BasicUpgradePackEnabled>false</BasicUpgradePackEnabled><ValuePackEnabled>true</ValuePackEnabled><ProPackPlusEnabled>true</ProPackPlusEnabled><AdFormatEnabled>Disabled</AdFormatEnabled><BestOfferCounterEnabled>true</BestOfferCounterEnabled><BestOfferAutoDeclineEnabled>true</BestOfferAutoDeclineEnabled><LocalMarketSpecialitySubscription>false</LocalMarketSpecialitySubscription><LocalMarketRegularSubscription>false</LocalMarketRegularSubscription><LocalMarketPremiumSubscription>false</LocalMarketPremiumSubscription><LocalMarketNonSubscription>false</LocalMarketNonSubscription><ExpressEnabled>true</ExpressEnabled><ExpressPicturesRequired>true</ExpressPicturesRequired><ExpressConditionRequired>true</ExpressConditionRequired><MinimumReservePrice>0.0</MinimumReservePrice><SellerContactDetailsEnabled>false</SellerContactDetailsEnabled><TransactionConfirmationRequestEnabled>false</TransactionConfirmationRequestEnabled><StoreInventoryEnabled>false</StoreInventoryEnabled><SkypeMeTransactionalEnabled>true</SkypeMeTransactionalEnabled><SkypeMeNonTransactionalEnabled>true</SkypeMeNonTransactionalEnabled><ClassifiedAdPaymentMethodEnabled>NotSupported</ClassifiedAdPaymentMethodEnabled><ClassifiedAdShippingMethodEnabled>false</ClassifiedAdShippingMethodEnabled><ClassifiedAdBestOfferEnabled>Disabled</ClassifiedAdBestOfferEnabled><ClassifiedAdCounterOfferEnabled>false</ClassifiedAdCounterOfferEnabled><ClassifiedAdAutoDeclineEnabled>false</ClassifiedAdAutoDeclineEnabled><ClassifiedAdContactByPhoneEnabled>false</ClassifiedAdContactByPhoneEnabled><ClassifiedAdContactByEmailEnabled>false</ClassifiedAdContactByEmailEnabled><SafePaymentRequired>true</SafePaymentRequired><ItemSpecificsEnabled>Enabled</ItemSpecificsEnabled><ClassifiedAdAutoAcceptEnabled>false</ClassifiedAdAutoAcceptEnabled><BestOfferAutoAcceptEnabled>true</BestOfferAutoAcceptEnabled><CrossBorderTradeNorthAmericaEnabled>false</CrossBorderTradeNorthAmericaEnabled><CrossBorderTradeGBEnabled>false</CrossBorderTradeGBEnabled><CrossBorderTradeAustraliaEnabled>false</CrossBorderTradeAustraliaEnabled><PayPalBuyerProtectionEnabled>false</PayPalBuyerProtectionEnabled><BuyerGuaranteeEnabled>true</BuyerGuaranteeEnabled><CombinedFixedPriceTreatmentEnabled>true</CombinedFixedPriceTreatmentEnabled><GalleryFeaturedDurations><Duration>Days_7</Duration><Duration>Lifetime</Duration></GalleryFeaturedDurations><PayPalRequired>false</PayPalRequired><eBayMotorsProAdFormatEnabled>Disabled</eBayMotorsProAdFormatEnabled><eBayMotorsProContactByPhoneEnabled>false</eBayMotorsProContactByPhoneEnabled><eBayMotorsProContactByAddressEnabled>false</eBayMotorsProContactByAddressEnabled><eBayMotorsProCompanyNameEnabled>false</eBayMotorsProCompanyNameEnabled><eBayMotorsProContactByEmailEnabled>false</eBayMotorsProContactByEmailEnabled><eBayMotorsProBestOfferEnabled>Disabled</eBayMotorsProBestOfferEnabled><eBayMotorsProAutoAcceptEnabled>false</eBayMotorsProAutoAcceptEnabled><eBayMotorsProAutoDeclineEnabled>false</eBayMotorsProAutoDeclineEnabled><eBayMotorsProPaymentMethodCheckOutEnabled>NotSupported</eBayMotorsProPaymentMethodCheckOutEnabled><eBayMotorsProShippingMethodEnabled>false</eBayMotorsProShippingMethodEnabled><eBayMotorsProCounterOfferEnabled>false</eBayMotorsProCounterOfferEnabled><eBayMotorsProSellerContactDetailsEnabled>false</eBayMotorsProSellerContactDetailsEnabled><LocalMarketAdFormatEnabled>Disabled</LocalMarketAdFormatEnabled><LocalMarketContactByPhoneEnabled>false</LocalMarketContactByPhoneEnabled><LocalMarketContactByAddressEnabled>false</LocalMarketContactByAddressEnabled><LocalMarketCompanyNameEnabled>false</LocalMarketCompanyNameEnabled><LocalMarketContactByEmailEnabled>false</LocalMarketContactByEmailEnabled><LocalMarketBestOfferEnabled>Disabled</LocalMarketBestOfferEnabled><LocalMarketAutoAcceptEnabled>false</LocalMarketAutoAcceptEnabled><LocalMarketAutoDeclineEnabled>false</LocalMarketAutoDeclineEnabled><LocalMarketPaymentMethodCheckOutEnabled>NotSupported</LocalMarketPaymentMethodCheckOutEnabled><LocalMarketShippingMethodEnabled>false</LocalMarketShippingMethodEnabled><LocalMarketCounterOfferEnabled>false</LocalMarketCounterOfferEnabled><LocalMarketSellerContactDetailsEnabled>false</LocalMarketSellerContactDetailsEnabled><ClassifiedAdContactByAddressEnabled>false</ClassifiedAdContactByAddressEnabled><ClassifiedAdCompanyNameEnabled>false</ClassifiedAdCompanyNameEnabled><SpecialitySubscription>National</SpecialitySubscription><RegularSubscription>National</RegularSubscription><PremiumSubscription>National</PremiumSubscription><NonSubscription>National</NonSubscription><PayPalRequiredForStoreOwner>true</PayPalRequiredForStoreOwner><ReviseQuantityAllowed>true</ReviseQuantityAllowed><RevisePriceAllowed>true</RevisePriceAllowed><StoreOwnerExtendedListingDurationsEnabled>true</StoreOwnerExtendedListingDurationsEnabled><StoreOwnerExtendedListingDurations><Duration>Days_30</Duration><Duration>GTC</Duration></StoreOwnerExtendedListingDurations><ReturnPolicyEnabled>true</ReturnPolicyEnabled><HandlingTimeEnabled>false</HandlingTimeEnabled><MaxFlatShippingCostCBTExempt>false</MaxFlatShippingCostCBTExempt><Group1MaxFlatShippingCost
        currencyID="EUR">3.0</Group1MaxFlatShippingCost><Group2MaxFlatShippingCost
        currencyID="EUR">2.5</Group2MaxFlatShippingCost><PaymentMethod>PayPal</PaymentMethod><PaymentMethod>Moneybookers</PaymentMethod><PaymentMethod>CashOnPickup</PaymentMethod><PaymentMethod>MoneyXferAcceptedInCheckout</PaymentMethod><PaymentMethod>MoneyXferAccepted</PaymentMethod><PaymentMethod>COD</PaymentMethod><PaymentMethod>PaymentSeeDescription</PaymentMethod><PaymentMethod>CCAccepted</PaymentMethod><PaymentMethod>Escrow</PaymentMethod><PaymentMethod>StandardPayment</PaymentMethod><ZeroInsertionFeeEligible>false</ZeroInsertionFeeEligible><VariationsEnabled>false</VariationsEnabled><AttributeConversionEnabled>Disabled</AttributeConversionEnabled><FreeGalleryPlusEnabled>false</FreeGalleryPlusEnabled><FreePicturePackEnabled>false</FreePicturePackEnabled><ItemCompatibilityEnabled>Disabled</ItemCompatibilityEnabled><MinItemCompatibility>0</MinItemCompatibility><MaxItemCompatibility>0</MaxItemCompatibility><ConditionEnabled>Disabled</ConditionEnabled><ValueCategory>false</ValueCategory><ProductCreationEnabled>Disabled</ProductCreationEnabled><FixedPriceFormatDisabled>false</FixedPriceFormatDisabled><MaxItemSpecificsInClassified>0</MaxItemSpecificsInClassified><MaxGranularFitmentCount>0</MaxGranularFitmentCount><PaymentOptionsGroup>eBayPaymentProcessEnabled</PaymentOptionsGroup><ShippingProfileCategoryGroup>ALL</ShippingProfileCategoryGroup><PaymentProfileCategoryGroup>ALL</PaymentProfileCategoryGroup><ReturnPolicyProfileCategoryGroup>ALL</ReturnPolicyProfileCategoryGroup><VINSupported>false</VINSupported><VRMSupported>false</VRMSupported><SellerProvidedTitleSupported>false</SellerProvidedTitleSupported><DepositSupported>false</DepositSupported><GlobalShippingEnabled>false</GlobalShippingEnabled><AdditionalCompatibilityEnabled>false</AdditionalCompatibilityEnabled><PickupDropOffEnabled>false</PickupDropOffEnabled></SiteDefaults><FeatureDefinitions><ListingDurations
        Version="8"/><ShippingTermsRequired/><BestOfferEnabled/><DutchBINEnabled/><UserConsentRequired/><HomePageFeaturedEnabled/><ProPackEnabled/><BasicUpgradePackEnabled/><ValuePackEnabled/><ProPackPlusEnabled/><AdFormatEnabled/><BestOfferCounterEnabled/><BestOfferAutoDeclineEnabled/><LocalMarketSpecialitySubscription/><LocalMarketRegularSubscription/><LocalMarketPremiumSubscription/><LocalMarketNonSubscription/><ExpressEnabled/><ExpressPicturesRequired/><ExpressConditionRequ[...]
