interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSellerListRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><DetailLevel>ReturnAll</DetailLevel><EndTimeFrom>2016-02-11T14:21:51.818098Z</EndTimeFrom><EndTimeTo>2016-06-10T14:21:51.818123Z</EndTimeTo><ErrorLanguage>de_DE</ErrorLanguage><IncludeVariations>True</IncludeVariations><Pagination><EntriesPerPage>100</EntriesPerPage><PageNumber>1</PageNumber></Pagination></GetSellerListRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetSellerList']
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [df05d4fa-88c4-44a1-b0cb-4a6f12eb9aff]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetSellerListResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2016-02-11T13:21:52.602Z</Timestamp><Ack>Success</Ack><Version>947</Version><Build>E947_INTL_APISELLING_17766253_R1</Build><PaginationResult><TotalNumberOfPages>0</TotalNumberOfPages><TotalNumberOfEntries>0</TotalNumberOfEntries></PaginationResult><HasMoreItems>false</HasMoreItems><ItemArray/><ItemsPerPage>100</ItemsPerPage><PageNumber>1</PageNumber><ReturnedItemCountActual>0</ReturnedItemCountActual><Seller><AboutMePage>false</AboutMePage><Email>tech+ebay@inventorum.com</Email><FeedbackScore>1</FeedbackScore><PositiveFeedbackPercent>66.7</PositiveFeedbackPercent><FeedbackPrivate>false</FeedbackPrivate><FeedbackRatingStar>None</FeedbackRatingStar><IDVerified>false</IDVerified><eBayGoodStanding>true</eBayGoodStanding><NewUser>false</NewUser><RegistrationDate>2015-03-31T08:57:26.000Z</RegistrationDate><Site>Germany</Site><Status>Confirmed</Status><UserID>newmade</UserID><UserIDChanged>false</UserIDChanged><VATStatus>VATExempt</VATStatus><SellerInfo><AllowPaymentEdit>true</AllowPaymentEdit><CheckoutEnabled>true</CheckoutEnabled><CIPBankAccountStored>true</CIPBankAccountStored><GoodStanding>true</GoodStanding><LiveAuctionAuthorized>false</LiveAuctionAuthorized><MerchandizingPref>OptIn</MerchandizingPref><QualifiesForB2BVAT>false</QualifiesForB2BVAT><StoreOwner>false</StoreOwner><SafePaymentExempt>false</SafePaymentExempt></SellerInfo><MotorsDealer>false</MotorsDealer></Seller></GetSellerListResponse>'}
    headers:
      content-type: [text/xml]
      guid: [152d07eb-b1a0-a794-4554-70a4a5039dbf]
      x-ebay-api-pool-name: [___cDRidW90Zmlqbm1ib2l3aQ==]
      x-ebay-api-server-name: [___dWtgMWQ3MWYrZmU9YCgyNSg2MzMoNjc3KDY6NDw/Mz03]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetSellerList]
      x-ebay-esb-guid: ['urn:uuid:071a98ee-e17d-4b38-be4c-6f9706933761']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['152d07eb-b1a0-a794-4554-70a4a5039dbf!ws.api.dll!10.121.68.85!esbtrading[']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '3958867380477877848']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225147276579275043/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Jeans Valid Attrs",
        "id": 666032, "quantity": "3.00", "reorder_level": "20.00", "safety_stock":
        "20.00", "price": "0E-10", "tax_type": 1062, "custom_price": false, "ebay_product_id":
        null, "ebay_url": null, "in_shop": false, "shop_url": null, "thumbnail": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "id": 2978, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"},
        "variation_count": 2, "variations": [{"id": 666030, "attributes": {"color":
        ["Red"], "material": ["Denim"], "size": ["22"]}, "quantity": "1.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "140.1869158879",
        "product_code": null, "tax_type": 1062, "name": "Jeans Valid Attrs, Red, 22,
        Denim", "images": [{"new": false, "type": 0, "id": 2978, "urls": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"}}],
        "meta": {"atalanda": {"channel": 9, "description": null, "gross_price": "150.00",
        "id": 3498, "images": null, "name": null, "price": "140.1869158879"}, "shop":
        {"channel": 5, "description": null, "gross_price": "150.00", "id": 960, "images":
        null, "name": null, "price": "140.1869158879"}, "click_and_collect": {"channel":
        8, "description": null, "gross_price": "150.00", "id": 3499, "images": null,
        "name": null, "price": "140.1869158879"}, "ebay": {"channel": 4, "description":
        null, "gross_price": "150.00", "id": 961, "images": null, "name": null, "price":
        "140.1869158879"}}, "gross_price": "150.00", "purchase_price": "0", "average_purchase_price":
        "0", "attributes_str": "22, Red, Denim", "inv_id": null, "package_size_value":
        null, "package_size_unit": null, "base_price": null, "base_size_value": null,
        "base_size_unit": null}, {"id": 666031, "attributes": {"color": ["Blue"],
        "material": ["Leather"], "size": ["50"]}, "quantity": "2.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "121.4953271028",
        "product_code": null, "tax_type": 1062, "name": "Jeans Valid Attrs, Blue,
        50, Leather", "images": [{"new": false, "type": 0, "id": 2979, "urls": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "roles": [{"id": 946, "name":
        "owner", "key_name": "owner"}, {"id": 947, "name": "manager", "key_name":
        "manager"}, {"id": 948, "name": "staff", "key_name": "staff"}], "attributes":
        [{"used": true, "usage_count": 4, "key": "size", "name": "Size"}, {"used":
        true, "usage_count": 4, "key": "material", "name": "Material"}, {"used": true,
        "usage_count": 3, "key": "color", "name": "Color"}, {"used": false, "usage_count":
        0, "key": "cut", "name": "Cut"}, {"used": false, "usage_count": 0, "key":
        "fabric", "name": "Fabric"}, {"used": false, "usage_count": 0, "key": "finish",
        "name": "Finish"}, {"used": false, "usage_count": 0, "key": "fit", "name":
        "Fit"}, {"used": false, "u[...]
- request:
    body: '{"state": "in_progress", "details": null, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/666032/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3958867380477877848']
    status: {code: 200, message: OK}
- request:
    body: !!python/str "<?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest\
      \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description><![CDATA[<p>Photo\
      \ of jeans for sell.</p>]]></Description><DispatchTimeMax>3</DispatchTimeMax><ItemSpecifics><NameValueList><Name>Hosengr\xF6\
      \xDFe</Name><Value>33/32</Value></NameValueList><NameValueList><Name>Marke</Name><Value>Diesel</Value></NameValueList></ItemSpecifics><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>info@inventorum.com</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PictureDetails><PictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG</PictureURL></PictureDetails><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>57989</CategoryID></PrimaryCategory><ReturnPolicy><Description>The\
      \ article can be returned to the given conditions</Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsWithinOption>Days_14</ReturnsWithinOption><ShippingCostPaidByOption>Seller</ShippingCostPaidByOption></ReturnPolicy><SKU>invtest_666032</SKU><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceAdditionalCost>3.00</ShippingServiceAdditionalCost><ShippingServiceCost>5.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceAdditionalCost>1.00</ShippingServiceAdditionalCost><ShippingServiceCost>4.50</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><Title><![CDATA[Jeans\
      \ Valid Attrs]]></Title><VATDetails><VATPercent>7.000</VATPercent></VATDetails><Variations><Pictures><VariationSpecificName>Gr\xF6\
      \xDFe (*)</VariationSpecificName><VariationSpecificPictureSet><PictureURL>http://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG</PictureURL><VariationSpecificValue>50</VariationSpecificValue></VariationSpecificPictureSet><VariationSpecificPictureSet><PictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</PictureURL><VariationSpecificValue>22</VariationSpecificValue></VariationSpecificPictureSet></Pictures><Variation><Quantity>2</Quantity><SKU>invtest_666031</SKU><StartPrice>130.00</StartPrice><VariationSpecifics><NameValueList><Name>Gr\xF6\
      \xDFe (*)</Name><Value>50</Value></NameValueList><NameValueList><Name>Material\
      \ (*)</Name><Value>Leather</Value></NameValueList><NameValueList><Name>Farbe\
      \ (*)</Name><Value>Blue</Value></NameValueList></VariationSpecifics></Variation><Variation><Quantity>1</Quantity><SKU>invtest_666030</SKU><StartPrice>150.00</StartPrice><VariationSpecifics><NameValueList><Name>Gr\xF6\
      \xDFe (*)</Name><Value>22</Value></NameValueList><NameValueList><Name>Material\
      \ (*)</Name><Value>Denim</Value></NameValueList><NameValueList><Name>Farbe (*)</Name><Value>Red</Value></NameValueList></VariationSpecifics></Variation><VariationSpecificsSet><NameValueList><Name>Farbe\
      \ (*)</Name><Value>Blue</Value><Value>Red</Value></NameValueList><NameValueList><Name>Material\
      \ (*)</Name><Value>Leather</Value><Value>Denim</Value></NameValueList><NameValueList><Name>Gr\xF6\
      \xDFe (*)</Name><Value>50</Value><Value>22</Value></NameValueList></VariationSpecificsSet></Variations></Item></AddFixedPriceItemRequest>"
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'AddFixedPriceItem']
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [7a0c205f-8c95-4ade-9d69-82c9c037d444]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <AddFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2016-02-11T13:21:56.767Z</Timestamp><Ack>Warning</Ack><Errors><ShortMessage>Geben
        Sie einen Wert in EAN ein und versuchen Sie es erneut.</ShortMessage><LongMessage>In
        EAN fehlt ein Wert. Geben Sie einen Wert ein und versuchen Sie es erneut.</LongMessage><ErrorCode>21919401</ErrorCode><SeverityCode>Warning</SeverityCode><ErrorParameters
        ParamID="0"><Value>Geben Sie einen Wert in EAN ein und versuchen Sie es erneut.</Value></ErrorParameters><ErrorParameters
        ParamID="1"><Value>In EAN fehlt ein Wert. Geben Sie einen Wert ein und versuchen
        Sie es erneut.</Value></ErrorParameters><ErrorParameters ParamID="2"><Value>0</Value></ErrorParameters><ErrorParameters
        ParamID="3"><Value>EAN</Value></ErrorParameters><ErrorClassification>RequestError</ErrorClassification></Errors><Errors><ShortMessage>Geben
        Sie einen Wert in EAN ein und versuchen Sie es erneut.</ShortMessage><LongMessage>In
        EAN fehlt ein Wert. Geben Sie einen Wert ein und versuchen Sie es erneut.</LongMessage><ErrorCode>21919401</ErrorCode><SeverityCode>Warning</SeverityCode><ErrorParameters
        ParamID="0"><Value>Geben Sie einen Wert in EAN ein und versuchen Sie es erneut.</Value></ErrorParameters><ErrorParameters
        ParamID="1"><Value>In EAN fehlt ein Wert. Geben Sie einen Wert ein und versuchen
        Sie es erneut.</Value></ErrorParameters><ErrorParameters ParamID="2"><Value>1</Value></ErrorParameters><ErrorParameters
        ParamID="3"><Value>EAN</Value></ErrorParameters><ErrorClassification>RequestError</ErrorClassification></Errors><Version>953</Version><Build>E953_UNI_API5_17831825_R1</Build><ItemID>262285955874</ItemID><StartTime>2016-02-11T13:21:54.939Z</StartTime><EndTime>2016-03-12T13:21:54.939Z</EndTime><Fees><Fee><Name>AuctionLengthFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BoldFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>BuyItNowFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>CategoryFeaturedFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryPlusFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedGalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>FixedPriceDurationFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GiftIconFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>HighLightFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>InsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.35</PromotionalDiscount></Fee><Fee><Name>InternationalInsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingDesignerFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.35</PromotionalDiscount></Fee><Fee><Name>PhotoDisplayFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>PhotoFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ReserveFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>SchedulingFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>SubtitleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BorderFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BasicUpgradePackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ValuePackBundleFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>PrivateListingFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackPlusBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee></Fees><DiscountReason>SpecialOffer</DiscountReason></AddFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [152d07ec-0e90-a794-4554-70a4a5039c39]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dWtgMGQ3MWYrNzZjPygyNSg2MTMoMjYrMzc5PTY/Mw==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:f4f92cf0-03ef-4fa7-a745-e3803d5164c2']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['152d07ec-0e90-a794-4554-70a4a5039c39!ws.api.dll!10.121.68.85!esbtrading[']
    status: {code: 200, message: OK}
[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><ItemID>262285955874</ItemID></GetItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetItem']
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [a5786f21-5c04-4de5-aa80-373770508262]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetItemResponse xmlns=\"\
        urn:ebay:apis:eBLBaseComponents\"><Timestamp>2016-02-11T13:21:57.849Z</Timestamp><Ack>Success</Ack><Version>949</Version><Build>E949_INTL_API_17775486_R1</Build><Item><AutoPay>false</AutoPay><BuyerProtection>ItemIneligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"EUR\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>262285955874</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</BindingAuction><CheckoutEnabled>true</CheckoutEnabled><ConvertedBuyItNowPrice\
        \ currencyID=\"EUR\">0.0</ConvertedBuyItNowPrice><ConvertedStartPrice currencyID=\"\
        EUR\">130.0</ConvertedStartPrice><ConvertedReservePrice currencyID=\"EUR\"\
        >0.0</ConvertedReservePrice><HasReservePrice>false</HasReservePrice><StartTime>2016-02-11T13:21:54.000Z</StartTime><EndTime>2016-03-12T13:21:54.000Z</EndTime><ViewItemURL>http://www.ebay.de/itm/Jeans-Valid-Attrs-/262285955874</ViewItemURL><HasUnansweredQuestions>false</HasUnansweredQuestions><HasPublicMessages>false</HasPublicMessages><ViewItemURLForNaturalSearch>http://www.ebay.de/itm/Jeans-Valid-Attrs-/262285955874</ViewItemURLForNaturalSearch></ListingDetails><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><Location>Berlin</Location><PaymentMethods>PayPal</PaymentMethods><PayPalEmailAddress>info@inventorum.com</PayPalEmailAddress><PrimaryCategory><CategoryID>57989</CategoryID><CategoryName>Kleidung\
        \ &amp; Accessoires:Herrenmode:Hosen</CategoryName></PrimaryCategory><PrivateListing>false</PrivateListing><Quantity>3</Quantity><ReservePrice\
        \ currencyID=\"EUR\">0.0</ReservePrice><ReviseStatus><ItemRevised>false</ItemRevised></ReviseStatus><Seller><AboutMePage>false</AboutMePage><Email>tech+ebay@inventorum.com</Email><FeedbackScore>1</FeedbackScore><PositiveFeedbackPercent>66.7</PositiveFeedbackPercent><FeedbackPrivate>false</FeedbackPrivate><FeedbackRatingStar>None</FeedbackRatingStar><IDVerified>false</IDVerified><eBayGoodStanding>true</eBayGoodStanding><NewUser>false</NewUser><RegistrationDate>2015-03-31T08:57:26.000Z</RegistrationDate><Site>Germany</Site><Status>Confirmed</Status><UserID>newmade</UserID><UserIDChanged>false</UserIDChanged><VATStatus>VATExempt</VATStatus><SellerInfo><AllowPaymentEdit>true</AllowPaymentEdit><CheckoutEnabled>true</CheckoutEnabled><CIPBankAccountStored>true</CIPBankAccountStored><GoodStanding>true</GoodStanding><LiveAuctionAuthorized>false</LiveAuctionAuthorized><MerchandizingPref>OptIn</MerchandizingPref><QualifiesForB2BVAT>false</QualifiesForB2BVAT><StoreOwner>false</StoreOwner><SellerBusinessType>Commercial</SellerBusinessType><SafePaymentExempt>false</SafePaymentExempt></SellerInfo><MotorsDealer>false</MotorsDealer></Seller><SellingStatus><BidCount>0</BidCount><BidIncrement\
        \ currencyID=\"EUR\">0.0</BidIncrement><ConvertedCurrentPrice currencyID=\"\
        EUR\">130.0</ConvertedCurrentPrice><CurrentPrice currencyID=\"EUR\">130.0</CurrentPrice><LeadCount>0</LeadCount><MinimumToBid\
        \ currencyID=\"EUR\">130.0</MinimumToBid><QuantitySold>0</QuantitySold><ReserveMet>true</ReserveMet><SecondChanceEligible>false</SecondChanceEligible><ListingStatus>Active</ListingStatus><QuantitySoldByPickupInStore>0</QuantitySoldByPickupInStore></SellingStatus><ShippingDetails><ApplyShippingDiscount>false</ApplyShippingDiscount><CalculatedShippingRate><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></CalculatedShippingRate><InsuranceFee\
        \ currencyID=\"EUR\">0.0</InsuranceFee><InsuranceOption>NotOffered</InsuranceOption><SalesTax><SalesTaxPercent>0.0</SalesTaxPercent><ShippingIncludedInTax>false</ShippingIncludedInTax></SalesTax><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">5.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">3.0</ShippingServiceAdditionalCost><ShippingServicePriority>1</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">4.5</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">1.0</ShippingServiceAdditionalCost><ShippingServicePriority>2</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingType>Flat</ShippingType><ThirdPartyCheckout>false</ThirdPartyCheckout><InsuranceDetails><InsuranceOption>NotOffered</InsuranceOption></InsuranceDetails><ShippingDiscountProfileID>0</ShippingDiscountProfileID><InternationalShippingDiscountProfileID>0</InternationalShippingDiscountProfileID><SellerExcludeShipToLocationsPreference>true</SellerExcludeShipToLocationsPreference></ShippingDetails><ShipToLocations>DE</ShipToLocations><Site>Germany</Site><StartPrice\
        \ currencyID=\"EUR\">130.0</StartPrice><TimeLeft>P29DT23H59M57S</TimeLeft><Title>Jeans\
        \ Valid Attrs</Title><VATDetails><VATPercent>7.0</VATPercent></VATDetails><HitCount>0</HitCount><LocationDefaulted>true</LocationDefaulted><GetItFast>false</GetItFast><SKU>invtest_666032</SKU><PostalCode>13355</PostalCode><PictureDetails><GalleryType>Gallery</GalleryType><GalleryURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</GalleryURL><PhotoDisplay>None</PhotoDisplay><PictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG</PictureURL><ExternalPictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</ExternalPictureURL></PictureDetails><DispatchTimeMax>3</DispatchTimeMax><ProxyItem>false</ProxyItem><BusinessSellerDetails><Address><Street1>Inventorum\
        \ GmbH</Street1><Street2>Voltastr 5</Street2><CityName>Berlin</CityName><CountryName>Deutschland</CountryName><PostalCode>13355</PostalCode><FirstName>John</FirstName><LastName>Newman</LastName></Address><Email>tech+ebay@inventorum.com</Email><AdditionalContactInformation>http://ec.europa.eu/consumers/odr/</AdditionalContactInformation><LegalInvoice>false</LegalInvoice></BusinessSellerDetails><BuyerGuaranteePrice\
        \ currencyID=\"EUR\">20000.0</BuyerGuaranteePrice><ReturnPolicy><ReturnsWithinOption>Days_14</ReturnsWithinOption><ReturnsWithin>14\
        \ Tage</ReturnsWithin><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsAccepted>Verbraucher\
        \ haben das Recht, den Artikel unter den angegebenen Bedingungen zur\xFCckzugeben.</ReturnsAccepted><Description>The\
        \ article can be returned to the given conditions</Description><ShippingCostPaidByOption>Seller</ShippingCostPaidByOption><ShippingCostPaidBy>Verk\xE4\
        ufer tr\xE4gt die Kosten der R\xFCcksendung der Waren</ShippingCostPaidBy></ReturnPolicy><PaymentAllowedSite>Germany</PaymentAllowedSite><Variations><Variation><SKU>invtest_666031</SKU><StartPrice\
        \ currencyID=\"EUR\">130.0</StartPrice><Quantity>2</Quantity><VariationSpecifics><NameValueList><Name>Gr\xF6\
        \xDFe (*)</Name><Value>50</Value></NameValueList><NameValueList><Name>Material\
        \ (*)</Name><Value>Leather</Value></NameValueList><NameValueList><Name>Farbe\
        \ (*)</Name><Value>Blue</Value></NameValueList></VariationSpecifics><SellingStatus><QuantitySold>0</QuantitySol[...]
[...]
- request:
[...]
