interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><ItemID>261967105601</ItemID></GetItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetItem']
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [a70153ff-928b-42fa-9b04-3112ad8e5314]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetItemResponse xmlns=\"\
        urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-08-18T13:39:42.932Z</Timestamp><Ack>Success</Ack><Version>933</Version><Build>E933_INTL_API_17625661_R1</Build><Item><AutoPay>true</AutoPay><BuyerProtection>ItemEligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"EUR\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>261967105601</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</BindingAuction><CheckoutEnabled>true</CheckoutEnabled><ConvertedBuyItNowPrice\
        \ currencyID=\"EUR\">0.0</ConvertedBuyItNowPrice><ConvertedStartPrice currencyID=\"\
        EUR\">1.09</ConvertedStartPrice><ConvertedReservePrice currencyID=\"EUR\"\
        >0.0</ConvertedReservePrice><HasReservePrice>false</HasReservePrice><StartTime>2015-07-14T10:07:48.000Z</StartTime><EndTime>2015-07-14T12:49:28.000Z</EndTime><ViewItemURL>http://www.ebay.de/itm/Aaa-/261967105601</ViewItemURL><HasUnansweredQuestions>false</HasUnansweredQuestions><HasPublicMessages>false</HasPublicMessages><ViewItemURLForNaturalSearch>http://www.ebay.de/itm/Aaa-/261967105601</ViewItemURLForNaturalSearch><EndingReason>NotAvailable</EndingReason></ListingDetails><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><Location>Berlin</Location><PaymentMethods>PayPal</PaymentMethods><PayPalEmailAddress>info@inventorum.com</PayPalEmailAddress><PrimaryCategory><CategoryID>50602</CategoryID><CategoryName>TV,\
        \ Video &amp; Audio:Haushaltsbatterien &amp; Strom:Einweg-Batterien</CategoryName></PrimaryCategory><PrivateListing>false</PrivateListing><Quantity>0</Quantity><ReservePrice\
        \ currencyID=\"EUR\">0.0</ReservePrice><ReviseStatus><ItemRevised>false</ItemRevised></ReviseStatus><Seller><AboutMePage>false</AboutMePage><Email>tech+ebay@inventorum.com</Email><FeedbackScore>1</FeedbackScore><PositiveFeedbackPercent>66.7</PositiveFeedbackPercent><FeedbackPrivate>false</FeedbackPrivate><FeedbackRatingStar>None</FeedbackRatingStar><IDVerified>false</IDVerified><eBayGoodStanding>true</eBayGoodStanding><NewUser>false</NewUser><RegistrationDate>2015-03-31T08:57:26.000Z</RegistrationDate><Site>Germany</Site><Status>Confirmed</Status><UserID>newmade</UserID><UserIDChanged>false</UserIDChanged><VATStatus>VATExempt</VATStatus><SellerInfo><AllowPaymentEdit>true</AllowPaymentEdit><CheckoutEnabled>true</CheckoutEnabled><CIPBankAccountStored>true</CIPBankAccountStored><GoodStanding>true</GoodStanding><LiveAuctionAuthorized>false</LiveAuctionAuthorized><MerchandizingPref>OptIn</MerchandizingPref><QualifiesForB2BVAT>false</QualifiesForB2BVAT><StoreOwner>false</StoreOwner><SellerBusinessType>Commercial</SellerBusinessType><SafePaymentExempt>false</SafePaymentExempt></SellerInfo><MotorsDealer>false</MotorsDealer></Seller><SellingStatus><BidCount>0</BidCount><BidIncrement\
        \ currencyID=\"EUR\">0.0</BidIncrement><ConvertedCurrentPrice currencyID=\"\
        EUR\">1.09</ConvertedCurrentPrice><CurrentPrice currencyID=\"EUR\">1.09</CurrentPrice><LeadCount>0</LeadCount><MinimumToBid\
        \ currencyID=\"EUR\">1.09</MinimumToBid><QuantitySold>0</QuantitySold><ReserveMet>true</ReserveMet><SecondChanceEligible>false</SecondChanceEligible><ListingStatus>Completed</ListingStatus><QuantitySoldByPickupInStore>0</QuantitySoldByPickupInStore></SellingStatus><ShippingDetails><ApplyShippingDiscount>false</ApplyShippingDiscount><CalculatedShippingRate><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></CalculatedShippingRate><InsuranceFee\
        \ currencyID=\"EUR\">0.0</InsuranceFee><InsuranceOption>NotOffered</InsuranceOption><SalesTax><SalesTaxPercent>0.0</SalesTaxPercent><ShippingIncludedInTax>false</ShippingIncludedInTax></SalesTax><ShippingServiceOptions><ShippingService>DE_UPSStandard</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">3.0</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_DeutschePostBrief</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">1.5</ShippingServiceCost><ShippingServicePriority>2</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_DHLExpressWorldwide</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">2.0</ShippingServiceCost><ShippingServicePriority>3</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>3</ShippingTimeMax></ShippingServiceOptions><ShippingType>Flat</ShippingType><ThirdPartyCheckout>false</ThirdPartyCheckout><InsuranceDetails><InsuranceOption>NotOffered</InsuranceOption></InsuranceDetails><ShippingDiscountProfileID>0</ShippingDiscountProfileID><InternationalShippingDiscountProfileID>0</InternationalShippingDiscountProfileID><SellerExcludeShipToLocationsPreference>true</SellerExcludeShipToLocationsPreference></ShippingDetails><ShipToLocations>DE</ShipToLocations><Site>Germany</Site><StartPrice\
        \ currencyID=\"EUR\">1.09</StartPrice><TimeLeft>PT0S</TimeLeft><Title>Aaa</Title><HitCount>2</HitCount><LocationDefaulted>true</LocationDefaulted><GetItFast>false</GetItFast><SKU>invrc_677218</SKU><PostalCode>13347</PostalCode><PictureDetails><GalleryType>Gallery</GalleryType><GalleryURL>http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/usoAAOSwgQ9VpN-D/$_1.JPG?set_id=880000500F</GalleryURL><PhotoDisplay>PicturePack</PhotoDisplay><PictureURL>http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/usoAAOSwgQ9VpN-D/$_1.JPG?set_id=880000500F</PictureURL><PictureURL>http://i.ebayimg.com/00/s/MTMzNFg3NTA=/z/hXYAAOSwDNdVpN-B/$_1.JPG?set_id=880000500F</PictureURL><PictureURL>http://i.ebayimg.com/00/s/MTMzNFg3NTA=/z/uqQAAOSwgQ9VpN-B/$_1.JPG?set_id=880000500F</PictureURL><PictureURL>http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/DqIAAOSwu4BVpN-S/$_1.JPG?set_id=880000500F</PictureURL><PictureURL>http://i.ebayimg.com/00/s/MTMzNFg3NTA=/z/xjoAAOSwT6pVpN-C/$_1.JPG?set_id=880000500F</PictureURL><PictureURL>http://i.ebayimg.com/00/s/MTMzNFg3NTA=/z/tHkAAOSwPcVVpN-C/$_1.JPG?set_id=880000500F</PictureURL><ExternalPictureURL>http://app.inventorum.net/uploads/img-hash/62da/62da/5e39/b38c/1789/9247/af48/62da62da5e39b38c17899247af48c9e3_ipad_retina.JPEG</ExternalPictureURL></PictureDetails><DispatchTimeMax>3</DispatchTimeMax><ProxyItem>false</ProxyItem><BusinessSellerDetails><Address><Street1>Voltastr\
        \ 5</Street1><CityName>Berlin</CityName><CountryName>Deutschland</CountryName><PostalCode>13355</PostalCode><FirstName>John</FirstName><LastName>Newman</LastName></Address><LegalInvoice>false</LegalInvoice></BusinessSellerDetails><BuyerGuaranteePrice\
        \ currencyID=\"EUR\">20000.0</BuyerGuaranteePrice><ReturnPolicy><ReturnsWithinOption>Days_14</ReturnsWithinOption><ReturnsWithin>14\
        \ Tage</ReturnsWithin><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsAccepted>Verbraucher\
        \ haben das Recht, den Artikel unter den angegebenen Bedingungen zur\xFCckzugeben.</ReturnsAccepted><ShippingCostPaidByOption>Buyer</ShippingCostPaidByOption><ShippingCostPaidBy>K\xE4\
        ufer tr\xE4gt die unmittelbaren Kosten der R\xFCcksendung der Waren</ShippingCostPaidBy></ReturnPolicy><ConditionID>1000</ConditionID><ConditionDisplayName>Neu</ConditionDisplayName><PostCheckoutExperienceEnabled>false</PostCheckoutExperienceEnabled><SellerProfiles><SellerShippingProfile><ShippingProfileID>71813223023</ShippingProfileID><ShippingProfileName>Pauschal:UPS\
        \ Standard(EUR 3,00),Deutsche Post</ShippingProfileName></SellerShippingProfile><SellerReturnProfile><ReturnProfileID>70043489023</ReturnProfileID><ReturnProfileName>Verbraucher\
        \ haben das Recht, den Artikel unte</ReturnProfileName></SellerReturnProfile><SellerPaymentProfile><PaymentProfileID>70836070023</PaymentProfileID><PaymentProfileName>PayPal:Sofortige\
        \ Bezahlung</PaymentProfileName></SellerPaymentProfile></SellerProfiles><ShippingServiceCostOverrideList><ShippingServiceCostOverride><ShippingServicePriority>1</ShippingServicePriority><ShippingServiceType>Domestic</ShippingServiceType><ShippingServiceCost\
        \ currencyID=\"EUR\">3.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost></ShippingServiceCostOverride><ShippingServiceCostOverride><ShippingServicePriority>2</ShippingServicePriority><ShippingServiceType>Domestic</ShippingServiceType><ShippingServiceCost\
        \ currencyID=\"EUR\">1.5</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost></ShippingServiceCostOverride><ShippingServiceCostOverride><ShippingServicePriority>3</ShippingServicePriority><ShippingServiceType>Domestic</ShippingServiceType><ShippingServiceCost\
        \ currencyID=\"EUR\">2.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost></ShippingServiceCostOverride></ShippingServiceCostOverrideList><ShippingPackageDetails><ShippingIrregular>false</ShippingIrregular><ShippingPackage>None</ShippingPackage><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></ShippingPackageDetails><HideFromSearch>false</HideFromSearch><PickupInStoreDetails><EligibleForPickupInStore>true</EligibleForPickupInStore></PickupInStoreDetails><IgnoreQuantity>true</IgnoreQuantity><eBayPlus>false</eBayPlus><eBayPlusEligible>false</eBayPlusEligible></Item></GetItemResponse>"}
    headers:
      content-type: [text/xml]
      guid: [14f41097-3d60-a620-95f1-0a61f301f564]
      x-ebay-api-pool-name: [___cDRidW9ubXFq]
      x-ebay-api-server-name: [___ZW9nNGQ3MmYrNjJkYigyNSg+NSs0NzUrMTY5PTY/Mg==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetItem]
      x-ebay-esb-guid: ['urn:uuid:becaaca3-9126-4cf0-b307-f992702dfdc2']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14f41097-3d60-a620-95f1-0a61f301f564!ws.api.dll!10.98.9.95!esbtrading[']
    status: {code: 200, message: OK}
[...]
