interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '514373804728427858']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225146588560351744/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "INVENTORUM iPad-Stand",
        "id": 665753, "quantity": "74.00", "reorder_level": "0.00", "safety_stock":
        "0.00", "price": "0.8403361345", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": true, "shop_url": "https://inventorum-test-account.inventorum.net/products/details?pid=665753",
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "id": 2934, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "3E+1",
        "description": "Der stylische iPad-Stand von INVENTORUM aus edlem Holz rundet
        das Erscheinungsbild Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen
        Neigungswinkel ist dieser ideal, um einfach und schnell Produkte mit der internen
        Kamera des iPads zu scannen.  Kompatibel f\u00fcr iPad 2, 3 und 4, sowie das
        iPad Air und iPad mini.", "product_code": "", "ean": null, "categories": [],
        "images": [{"new": false, "type": 0, "id": 2934, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"used": true, "usage_count": 3, "key": "color"}, {"used": true, "usage_count":
        4, "key": "size"}, {"used": true, "usage_count": 4, "key": "material"}], "account":
        {"paypal": false, "ebay": false, "image": null, "shipping_address": null,
        "billing_address": {"country": "DE", "id": 5067, "address1": "Voltastr 5",
        "address2": "Gebaude 3", "zipcode": "13355", "city": "Berlin", "state": null,
        "first_name": "John", "last_name": "Newman", "company": "Inventorum", "title":
        null}, "phone_numbers": [{"country_code": "49", "id": 1444, "type": "normal",
        "national_number": "030 12341234"}], "name": "Inventorum Test Account", "store_name":
        "Inventorum Test Account", "store_description": "", "store_slogan": "", "email":
        "tech+slingshot-test@inventorum.com", "fax": "", "tax_number": "", "vat_number":
        "", "payment_method_note": "", "thanks_note": "", "invoice_prefix": "", "invoice_counter":
        2, "bank_name": "", "bank_account_number": "", "bank_code": "", "bank_iban":
        "", "bank_bic_swift": "", "settings": {"shipping_services": [{"id": "DE_DHLPaket",
        "description": "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
- request:
    body: !!python/str "<?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest\
      \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description><![CDATA[Der\
      \ stylische iPad-Stand von INVENTORUM aus edlem Holz rundet das Erscheinungsbild\
      \ Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen Neigungswinkel\
      \ ist dieser ideal, um einfach und schnell Produkte mit der internen Kamera\
      \ des iPads zu scannen.  Kompatibel f\xFCr iPad 2, 3 und 4, sowie das iPad Air\
      \ und iPad mini.]]></Description><DispatchTimeMax>3</DispatchTimeMax><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>bartosz@hernas.pl</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PictureDetails><PictureURL>http://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/9586/84f1/4581/9e61/2a42/6fd0/7015/958684f145819e612a426fd07015eb9f_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/03c4/ed1e/65fb/0731/4cd0/e469/c346/03c4ed1e65fb07314cd0e469c346aac4_ipad_retina.JPEG</PictureURL></PictureDetails><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>171949</CategoryID></PrimaryCategory><Quantity>74</Quantity><ReturnPolicy><Description>The\
      \ article can be returned to the given conditions</Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsWithinOption>Days_14</ReturnsWithinOption><ShippingCostPaidByOption>Seller</ShippingCostPaidByOption></ReturnPolicy><SKU>invtest_665753</SKU><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceAdditionalCost>3.00</ShippingServiceAdditionalCost><ShippingServiceCost>5.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceAdditionalCost>1.00</ShippingServiceAdditionalCost><ShippingServiceCost>4.50</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><StartPrice>1.00</StartPrice><Title>INVENTORUM\
      \ iPad-Stand</Title></Item></AddFixedPriceItemRequest>"
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'AddFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [48318d32-dd08-4983-8afa-d5c993449bb3]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <AddFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-09-18T08:16:55.585Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_UNI_API5_17667776_R1</Build><ItemID>262054205025</ItemID><StartTime>2015-09-18T08:16:54.054Z</StartTime><EndTime>2015-10-18T08:16:54.054Z</EndTime><Fees><Fee><Name>AuctionLengthFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BoldFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>BuyItNowFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>CategoryFeaturedFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryPlusFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedGalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>FixedPriceDurationFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GiftIconFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>HighLightFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>InsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.35</PromotionalDiscount></Fee><Fee><Name>InternationalInsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingDesignerFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.35</PromotionalDiscount></Fee><Fee><Name>PhotoDisplayFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>PhotoFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ReserveFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>SchedulingFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>SubtitleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BorderFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BasicUpgradePackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ValuePackBundleFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>PrivateListingFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackPlusBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee></Fees><DiscountReason>SpecialOffer</DiscountReason></AddFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14fdf870-7c50-a626-04b0-2470ffd75211]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dm97MmQ3MWYrNTJmNygyNSg/NSs3MjErNzIxPz43OzU=]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:17b0cc5c-b2e7-45f3-aaca-fcea641ca324']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fdf870-7c50-a626-04b0-2470ffd75211!ws.api.dll!10.98.96.75!esbtrading[']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSellerListRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><DetailLevel>ReturnAll</DetailLevel><EndTimeFrom>2015-09-18T10:16:55.962204Z</EndTimeFrom><EndTimeTo>2016-01-16T10:16:55.962223Z</EndTimeTo><ErrorLanguage>de_DE</ErrorLanguage><IncludeVariations>True</IncludeVariations><Pagination><EntriesPerPage>200</EntriesPerPage><PageNumber>1</PageNumber></Pagination></GetSellerListRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetSellerList']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [0b70dafa-a633-4d95-a1f4-57313ebfd722]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetSellerListResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-09-18T08:16:57.000Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_INTL_APISELLING_17668125_R1</Build><PaginationResult><TotalNumberOfPages>1</TotalNumberOfPages><TotalNumberOfEntries>1</TotalNumberOfEntries></PaginationResult><HasMoreItems>false</HasMoreItems><ItemArray><Item><AutoPay>false</AutoPay><BuyerProtection>ItemIneligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"USD\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><Description>Der\
        \ stylische iPad-Stand von INVENTORUM aus edlem Holz rundet das Erscheinungsbild\
        \ Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen Neigungswinkel\
        \ ist dieser ideal, um einfach und schnell Produkte mit der internen Kamera\
        \ des iPads zu scannen.  Kompatibel f\xFCr iPad 2, 3 und 4, sowie das iPad\
        \ Air und iPad mini.</Description><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>262054205025</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</BindingAuction><CheckoutEnabled>true</CheckoutEnabled><ConvertedBuyItNowPrice\
        \ currencyID=\"USD\">0.0</ConvertedBuyItNowPrice><ConvertedStartPrice currencyID=\"\
        EUR\">1.0</ConvertedStartPrice><ConvertedReservePrice currencyID=\"EUR\">0.0</ConvertedReservePrice><HasReservePrice>false</HasReservePrice><StartTime>2015-09-18T08:16:54.000Z</StartTime><EndTime>2015-10-18T08:16:54.000Z</EndTime><ViewItemURL>http://www.ebay.de/itm/INVENTORUM-iPad-Stand-/262054205025</ViewItemURL><HasUnansweredQuestions>false</HasUnansweredQuestions><HasPublicMessages>false</HasPublicMessages><ViewItemURLForNaturalSearch>http://www.ebay.de/itm/INVENTORUM-iPad-Stand-/262054205025</ViewItemURLForNaturalSearch></ListingDetails><ListingDesigner><LayoutID>7710000</LayoutID><ThemeID>7710</ThemeID></ListingDesigner><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><Location>Berlin</Location><PaymentMethods>PayPal</PaymentMethods><PayPalEmailAddress>bartosz@hernas.pl</PayPalEmailAddress><PrimaryCategory><CategoryID>171949</CategoryID><CategoryName>Verschiedenes:Sonstige</CategoryName></PrimaryCategory><PrivateListing>false</PrivateListing><Quantity>74</Quantity><ReservePrice\
        \ currencyID=\"EUR\">0.0</ReservePrice><ReviseStatus><ItemRevised>false</ItemRevised></ReviseStatus><SellingStatus><BidCount>0</BidCount><BidIncrement\
        \ currencyID=\"EUR\">0.0</BidIncrement><ConvertedCurrentPrice currencyID=\"\
        EUR\">1.0</ConvertedCurrentPrice><CurrentPrice currencyID=\"EUR\">1.0</CurrentPrice><LeadCount>0</LeadCount><MinimumToBid\
        \ currencyID=\"EUR\">1.0</MinimumToBid><QuantitySold>0</QuantitySold><ReserveMet>true</ReserveMet><SecondChanceEligible>false</SecondChanceEligible><ListingStatus>Active</ListingStatus></SellingStatus><ShippingDetails><ApplyShippingDiscount>false</ApplyShippingDiscount><CalculatedShippingRate><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></CalculatedShippingRate><InsuranceFee\
        \ currencyID=\"EUR\">0.0</InsuranceFee><InsuranceOption>NotOffered</InsuranceOption><SalesTax><SalesTaxPercent>0.0</SalesTaxPercent><ShippingIncludedInTax>false</ShippingIncludedInTax></SalesTax><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">5.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">3.0</ShippingServiceAdditionalCost><ShippingServicePriority>1</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">4.5</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">1.0</ShippingServiceAdditionalCost><ShippingServicePriority>2</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingType>Flat</ShippingType><ThirdPartyCheckout>false</ThirdPartyCheckout><InsuranceDetails><InsuranceOption>NotOffered</InsuranceOption></InsuranceDetails><ShippingDiscountProfileID>0</ShippingDiscountProfileID><InternationalShippingDiscountProfileID>0</InternationalShippingDiscountProfileID><SellerExcludeShipToLocationsPreference>true</SellerExcludeShipToLocationsPreference></ShippingDetails><ShipToLocations>DE</ShipToLocations><Site>Germany</Site><StartPrice\
        \ currencyID=\"EUR\">1.0</StartPrice><TimeLeft>P29DT23H59M58S</TimeLeft><Title>INVENTORUM\
        \ iPad-Stand</Title><LocationDefaulted>true</LocationDefaulted><GetItFast>false</GetItFast><SKU>invtest_665753</SKU><PostalCode>13355</PostalCode><PictureDetails><GalleryType>Gallery</GalleryType><GalleryURL>http://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG</GalleryURL><PhotoDisplay>PicturePack</PhotoDisplay><PictureURL>http://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/9586/84f1/4581/9e61/2a42/6fd0/7015/958684f145819e612a426fd07015eb9f_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/03c4/ed1e/65fb/0731/4cd0/e469/c346/03c4ed1e65fb07314cd0e469c346aac4_ipad_retina.JPEG</PictureURL></PictureDetails><DispatchTimeMax>3</DispatchTimeMax><ProxyItem>false</ProxyItem><BuyerGuaranteePrice\
        \ currencyID=\"EUR\">20000.0</BuyerGuaranteePrice><ReturnPolicy><ReturnsWithinOption>Days_14</ReturnsWithinOption><ReturnsWithin>14\
        \ Tage</ReturnsWithin><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsAccepted>Verbraucher\
        \ haben das Recht, den Artikel unter den angegebenen Bedingungen zur\xFCckzugeben.</ReturnsAccepted><Description>The\
        \ article can be returned to the given conditions</Description><ShippingCostPaidByOption>Seller</ShippingCostPaidByOption><ShippingCostPaidBy>Verk\xE4\
        ufer tr\xE4gt die Kosten der R\xFCcksendung der Waren</ShippingCostPaidBy></ReturnPolicy><PaymentAllowedSite>Germany</PaymentAllowedSite><ConditionID>1000</ConditionID><ConditionDisplayName>Neu</ConditionDisplayName><PostCheckoutExperienceEnabled>false</PostCheckoutExperienceEnabled><SellerProfiles/><ShippingPackageDetails><ShippingIrregular>false</ShippingIrregular><ShippingPackage>None</ShippingPackage><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></ShippingPackageDetails><HideFromSearch>false</HideFromSearch><eBayPlus>false</eBayPlus><eBayPlusEligible>false</eBayPlusEligible></Item></ItemArray><ItemsPerPage>200</ItemsPerPage><PageNumber>1</PageNumber><ReturnedItemCountActual>1</ReturnedItemCountActual><Seller><AboutMePage>false</AboutMePage><Email>tech+ebay@inventorum.com</Email><FeedbackScore>1</FeedbackScore><PositiveFeedbackPercent>66.7</PositiveFeedbackPercent><FeedbackPrivate>false</FeedbackPrivate><FeedbackRatingStar>None</FeedbackRatingStar><IDVerified>false</IDVerified><eBayGoodStanding>true</eBayGoodStanding><NewUser>false</NewUser><RegistrationDate>2015-03-31T08:57:26.000Z</RegistrationDate><Site>Germany</Site><Status>Confirmed</Status><UserID>newmade</UserID><UserIDChanged>false</UserIDChanged><VATStatus>VATExempt</VATStatus><SellerInfo><AllowPaymentEdit>true</AllowPaymentEdit><CheckoutEnabled>true</CheckoutEnabled><CIPBankAccountStored>true</CIPBankAccountStored><GoodStanding>true</GoodStanding><LiveAuctionAuthorized>false</LiveAuctionAuthorized><MerchandizingPref>OptIn</MerchandizingPref><QualifiesForB2BVAT>false</QualifiesForB2BVAT><StoreOwner>false</StoreOwner><SafePaymentExempt>false</SafePaymentExempt></SellerInfo><MotorsDealer>false</MotorsDealer></Seller></GetSellerListResponse>"}
    headers:
      content-type: [text/xml]
      guid: [14fdf871-7410-a624-d4a3-09a3feec5580]
      x-ebay-api-pool-name: [___cDRidW90Zmlqbm1ib2l3aQ==]
      x-ebay-api-server-name: [___ZW9nNGQ3MmYrMmExYigyNSg+NSs+NS00PjQ5PTY/Mg==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetSellerList]
      x-ebay-esb-guid: ['urn:uuid:7ab19f18-e30a-49c5-b789-6a2c57c4a1fa']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fdf871-7410-a624-d4a3-09a3feec5580!ws.api.dll!10.98.77.74!esbtrading[']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoD[...]
[...]
- request:
    body: '{"state": "published", "details": {}, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: POST
    uri: http://app.intern.inventorum.net/api/products/665753/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3165609742843831796']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><EndFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><EndingReason>NotAvailable</EndingReason><ErrorLanguage>de_DE</ErrorLanguage><ItemID>262054205025</ItemID></EndFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'EndFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [06d86d14-d28d-4474-ad9c-422fdb58c813]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <EndFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-09-18T08:16:59.726Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_UNI_API5_17667776_R1</Build><EndTime>2015-09-18T08:16:59.000Z</EndTime></EndFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14fdf872-0870-a625-6865-8e35feec4f50]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___ZW9nNGQ3MWYrYWBjNygyNSg+OyswNS0xMD07NT43]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [EndFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:aa9c5faa-0aaf-46a5-8f4a-44a4d217fe3e']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fdf872-0870-a625-6865-8e35feec4f50!ws.api.dll!10.98.86.134!esbtrading[']
    status: {code: 200, message: OK}
version: 1
