interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSessionIDRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials></RequesterCredentials><RuName>Inventorum_GmbH-Inventor-9021-4-pbiiw</RuName></GetSessionIDRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode GetSessionID]
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [28627343-1f82-4b38-af1b-657eb5da568f]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetSessionIDResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-04-17T14:52:07.718Z</Timestamp><Ack>Success</Ack><Version>919</Version><Build>E919_INTL_APISIGNIN_17468662_R1</Build><SessionID>qeUBAA**c7dd8c7714c0a5f01643b283fffff82c</SessionID></GetSessionIDResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14cc7dd8-c7d0-a786-b806-9586b8c8922e]
      x-ebay-api-pool-name: [___cDRidW90amJobm1saHNv]
      x-ebay-api-server-name: [___dWtgMWQ3MmYrYjZkYigyNSg+Nis3KTI1Nj07NT42]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetSessionID]
      x-ebay-esb-guid: ['urn:uuid:2fb2013a-ba12-4352-936c-b9b1c7fb1f94']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14cc7dd8-c7d0-a786-b806-9586b8c8922e!ws.api.dll!10.120.107.128!esbtrading[]']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}], "account": {"paypal": false, "ebay":
        false, "image": null, "shipping_address": null, "billing_address": {"id":
        5067, "address1": "Voltastr 5", "address2": "Gebaude 3", "zipcode": "13355",
        "city": "Berlin", "state": null, "country": "DE", "first_name": "John", "last_name":
        "Newman", "company": "Inventorum", "title": null}, "phone_numbers": [{"country_code":
        "49", "id": 1444, "type": "normal", "national_number": "030 12341234"}], "name":
        "Inventorum Test Account", "store_name": "Inventorum Test Account", "store_description":
        "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com", "fax":
        "", "tax_number": "", "vat_number": "", "payment_method_note": "", "thanks_note":
        "", "invoice_prefix": "", "invoice_counter": 0, "bank_name": "", "bank_account_number":
        "", "bank_code": "", "bank_iban": "", "bank_bic_swift": "", "settings": {"shipping_services":
        [{"id": "DE_DHL2KGPaket", "description": "DHL 2kg Paket (nur f\u00fcr kurze
        Zeit)", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat": "", "carrier":
        "DHL", "category": "[STANDARD]", "service": "DE_DHL2KGPaket", "cost": "5.0000000000",
        "additional_cost": "2.0000000000", "enabled": true, "free_above_price": null}],
        "ebay_payment_methods": [1], "izettle": true, "meta_prices_enabled": true,
        "paypal": false, "ebay": true, "shop": false, "zreports": true, "roundup":
        false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl", "receipt_header":
        "", "receipt_footer": "", "first_change_added": false}, "image_width": 0,
        "image_height": 0, "permissions": ["accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.can_add_basket_discount", "subscriptions.can_change_header_and_footer_on_receipt",
        "subscriptions.can_enable_shop", "subscriptions.can_have_shop", "subscriptions.can_see_native_pos_v121",
        "subscriptions.can_use_acc_photo_on_receipt", "subscriptions.can_use_giftcards",
        "subscriptions.can_use_inventorum", "subscriptions.can_use_izettle", "subscriptions.can_use_native_cashbook_add",
        "subscriptions.can_use_native_checkout", "subscriptions.can_use_native_pos_v121",
        "subscriptions.can_use_product_list_in_bo", "subscriptions.can_use_purchase_on_account",
        "subscriptions.can_use_stock_keeping", "subscriptions.is_paid", "subscriptions.native_checkout_enabled",
        "subscriptions.native_product_details", "subscriptions.poweredby_hidden"],
        "subscriptions": [{"start_date": "2015-04-02T13:16:20.637+02:00", "due_date":
        null, "subscription_plan": {"id": 32, "name": "Base Plan"}, "users_quota":
        1, "active": true}, {"start_date": "2015-04-02T13:16:42.183+02:00", "due_date":
        "2015-04-16T23:59:59.183+02:00", "subscription_plan": {"id": 25, "name": "Trial"},
        "users_quota": 3, "active": false}, {"start_date": "2015-04-02T13:37:41+02:00",
        "due_date": null, "subscription_plan": {"id": 39, "name": "Inventorum Premium"},
        "users_quota": null, "active": true}], "users_quota": null, "image_absolute":
        null, "return_prefix": "", "id": 346, "opening_hours": [], "is_ece": false,
        "bank_account_holder": "", "first_app_login": "2015-04-02T11:48:58.474Z",
        "account_creation": "2015-04-02T11:16:20.623Z", "country": "DE"}, "ece_categories":
        [], "channels": [{"name": "ipad", "description": "ipad", "translated_name":
        "POS"}, {"name": "shop", "description": "shop", "translated_name": "Shop"}],
        "carriers": [{"description": "DHL"}, {"description": "Pick up in store"},
        {"description": "Deutsche Post"}, {"description": "UPS"}, {"description":
        "Hermes"}, {"description": "DPD"}, {"description": "GLS"}], "countries": {"DE":
        "Germany", "AT": "Austria"}}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2635029411744245236']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><FetchTokenRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials></RequesterCredentials><SessionID>qeUBAA**c7dd8c7714c0a5f01643b283fffff82c</SessionID></FetchTokenRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode FetchToken]
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [7c384536-adaf-4199-84e2-c49e599df373]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<FetchTokenResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-04-17T14:52:08.570Z</Timestamp><Ack>Failure</Ack><Errors><ShortMessage>Der
        Nutzer hat den \u201EAuth &amp; Auth-Einlog-Prozess\u201C nicht abgeschlossen.</ShortMessage><LongMessage>Der
        Nutzer hat den \u201EAuth &amp; Auth-Einlog-Prozess\u201C nicht abgeschlossen.</LongMessage><ErrorCode>21916017</ErrorCode><SeverityCode>Error</SeverityCode><ErrorClassification>RequestError</ErrorClassification></Errors><Version>919</Version><Build>E919_INTL_APISIGNIN_17468662_R1</Build></FetchTokenResponse>"}
    headers:
      content-type: [text/xml]
      guid: [14cc7dd9-0070-a624-d4a0-bbf0afd8031d]
      x-ebay-api-pool-name: [___cDRidW90amJobm1saHNv]
      x-ebay-api-server-name: [___dm97PWQ3MGYrMGYwMigyNSgzMCs+Mi00NDA5PTY/Mg==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [FetchToken]
      x-ebay-esb-guid: ['urn:uuid:571e4c29-1fa2-43a6-9d09-421c197a1a8e']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14cc7dd9-0070-a624-d4a0-bbf0afd8031d!ws.api.dll!10.98.77.74!esbtrading[]']
    status: {code: 200, message: OK}
version: 1
