interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [!!python/long '2461054743659324754']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1/
  response:
    body: {string: !!python/unicode '{"error": {"fields": {}, "description": null,
        "key": "product.not_found"}}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2461054743659324754']
    status: {code: 404, message: NOT FOUND}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [!!python/long '4235191521866589522']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1/
  response:
    body: {string: !!python/unicode '{"error": {"fields": {}, "description": null,
        "key": "product.not_found"}}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['4235191521866589522']
    status: {code: 404, message: NOT FOUND}
version: 1
