interactions:
- request:
    body: '{"safety_stock": 5, "reorder_level": 10, "name": "Test product 1", "images":
      [{"id": 2933}], "price": "1.6722689076", "quantity": 12, "tax_type": 1063, "description":
      "Awesome test products are awesome"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '1855039118801282386']
    method: POST
    uri: http://app.intern.inventorum.net/api/products/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Test product 1",
        "id": 684476, "quantity": "12.00", "reorder_level": "10.00", "safety_stock":
        "5.00", "price": "1.6722689076", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad.JPEG",
        "id": 2933, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "0", "description":
        "Awesome test products are awesome", "product_code": null, "ean": null, "categories":
        [], "images": [{"new": false, "type": 0, "id": 2933, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb.JPEG"}}],
        "custom_sale": false, "shipping_services": [], "is_favourite": false, "brand":
        "", "supplier": "", "meta": {}, "is_giftcard": false, "gross_price": "1.99",
        "purchase_price": "0", "states": [], "attributes_str": "", "inv_id": "36209919939149802",
        "package_size_value": null, "package_size_unit": null, "base_price": null,
        "base_size_value": null, "base_size_unit": null}'}
    headers:
      allow: ['GET, POST, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['1855039118801282386']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/684476/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Test product 1",
        "id": 684476, "quantity": "12.00", "reorder_level": "10.00", "safety_stock":
        [...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"used": true, "usage_count": 3, "key": "color"}, {"used": true, "usage_count":
        4, "key": "size"}, {"used": true, "usage_count": 4, "key": "material"}], "account":
        {"paypal": false, "ebay": false, "image": null, "shipping_address": null,
        "billing_address": {"country": "DE", "id": 5067, "address1": "Voltastr 5",
        "address2": "Gebaude 3", "zipcode": "13355", "city": "Berlin", "state": null,
        "first_name": "John", "last_name": "Newman", "company": "Inventorum", "title":
        null}, "phone_numbers": [{"country_code": "49", "id": 1444, "type": "normal",
        "national_number": "030 12341234"}], "name": "Inventorum Test Account", "store_name":
        "Inventorum Test Account", "store_description": "", "store_slogan": "", "email":
        "tech+slingshot-test@inventorum.com", "fax": "", "tax_number": "", "vat_number":
        "", "payment_method_note": "", "thanks_note": "", "invoice_prefix": "", "invoice_counter":
        2, "bank_name": "", "bank_account_number": "", "bank_code": "", "bank_iban":
        "", "bank_bic_swift": "", "settings": {"shipping_services": [{"id": "DE_DHLPaket",
        "description": "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "info@inventorum.com",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
- request:
    body: '{"state": "in_progress", "details": null, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/684476/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['1855039118801282386']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description><![CDATA[Awesome
      test products are awesome]]></Description><DispatchTimeMax>3</DispatchTimeMax><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>info@inventorum.com</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PictureDetails><PictureURL>http://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad_retina.JPEG</PictureURL></PictureDetails><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>171949</CategoryID></PrimaryCategory><Quantity>12</Quantity><ReturnPolicy><Description>The
      article can be returned to the given conditions</Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsWithinOption>Days_14</ReturnsWithinOption><ShippingCostPaidByOption>Seller</ShippingCostPaidByOption></ReturnPolicy><SKU>invtest_684476</SKU><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceAdditionalCost>3.00</ShippingServiceAdditionalCost><ShippingServiceCost>5.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceAdditionalCost>1.00</ShippingServiceAdditionalCost><ShippingServiceCost>4.50</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><StartPrice>1.99</StartPrice><Title>Test
      product 1</Title></Item></AddFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'AddFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [c122ed05-705f-42c9-973b-1e2d7a892bc3]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <AddFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-09-18T07:55:23.599Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_UNI_API5_17667776_R1</Build><ItemID>262054182903</ItemID><StartTime>2015-09-18T07:55:22.537Z</StartTime><EndTime>2015-10-18T07:55:22.537Z</EndTime><Fees><Fee><Name>AuctionLengthFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BoldFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>BuyItNowFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>CategoryFeaturedFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryPlusFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedGalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>FixedPriceDurationFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GiftIconFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>HighLightFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>InsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.35</PromotionalDiscount></Fee><Fee><Name>InternationalInsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingDesignerFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.35</PromotionalDiscount></Fee><Fee><Name>PhotoDisplayFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>PhotoFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ReserveFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>SchedulingFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>SubtitleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BorderFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BasicUpgradePackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ValuePackBundleFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>PrivateListingFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackPlusBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee></Fees><DiscountReason>SpecialOffer</DiscountReason></AddFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14fdf735-6170-a5e4-3654-2404ffd7c0ff]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dWtgMGQ3MmYrZTtjMigyNSg2MTUoNjM8KDI2Pz43OzU=]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:e94dd4f2-bb11-485f-bf57-d43963fd6ed1']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fdf735-6170-a5e4-3654-2404ffd7c0ff!ws.api.dll!10.94.67.101!esbtrading[']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/delta/modified/?limit=100&page=1&verbose=True
  response:
    body: {string: !!python/unicode '{"total": 2, "data": [{"name": "Test product
        2", "id": 684477, "quantity": "5.00", "reorder_level": "10.00", "safety_stock":
        "5.00", "price": "2.8991596639", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad.JPEG",
        "id": 2933, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb.JPEG"},
        "variation_count": 0, "is_giftcard": false, "gross_price": "3.45", "ean":
        null, "inv_id": "36209919939363975", "state": "created", "parent": null, "custom_sale":
        false, "categories": [], "attributes_str": "", "description": "Awesome test
        products are awesome", "product_code": null, "attributes": {}, "brand": "",
        "meta": {}, "images": [{"new": false, "type": 0, "id": 2933, "urls": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_thumb.JPEG"}}],
        "publish_states": [{"channel": "ebay", "details": {}, "state": "published"}]},
        {"name": "Test product 1", "id": 684476, "quantity": "12.00", "reorder_level":
        "10.00", "safety_stock": "5.00", "price": "2.5126050420", "tax_type": 1063,
        "custom_price": false, "ebay_product_id": null, "ebay_url": null, "in_shop":
        false, "shop_url": null, "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/c2ad/2d86/0582/def2/f6b8/3a33/8881/c2ad2d860582def2f6b83a33888159cd_ipad.JPEG",
  [...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><ReviseFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoD[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/delta/deleted/?limit=10000&page=1
  response:
    body: {string: !!python/unicode '{"total": 0, "data": []}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3165609742843831796']
    status: {code: 200, message: OK}
- request:
    body: '{"stock": {"date": "18.09.2015", "note": "", "price": "2.99", "quantity":
      10}}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: PUT
    uri: http://app.intern.inventorum.net/api/products/684476/adjust_inventory/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Test product 1",
        "id": 684476, "quantity": "22.00", "reorder_level": "10.00", "safety_s[...]
[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><EndFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><EndingReason>NotAvailable</EndingReason><ErrorLanguage>de_DE</ErrorLanguage><ItemID>262054182903</ItemID></EndFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'EndFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [93e2a0a1-2365-4f3c-89e5-8e8e82400238]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <EndFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-09-18T07:55:38.504Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_UNI_API5_17667776_R1</Build><EndTime>2015-09-18T07:55:38.000Z</EndTime></EndFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14fdf739-5b00-a602-d6c0-a050fe86f3c0]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dm97PWQ3MGYrPzM8ZSgyNSgzMCs+My00NzU5PTY/Mw==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [EndFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:7ce08cc1-7263-4872-bcb7-9e3d1db53120']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fdf739-5b00-a602-d6c0-a050fe86f3c0!ws.api.dll!10.96.45.108!esbtrading[']
    status: {code: 200, message: OK}
[...]
