interactions:
- request:
    body: '{"channel": "ebay", "basket": {"items": [{"product": 463690, "name": "XtC
      Advanced 2 LTD", "quantity": 2, "unit_gross_price": "942.68", "tax_rate": "7.000"},
      {"product": 463691, "name": "FastRoad CoMax", "quantity": 5, "unit_gross_price":
      "582.93", "tax_rate": "7.000"}], "note_external": "Ebay order id: 9912341245-7534821047"},
      "shipment": {"service": {"name": "Some ebay description", "time_min": 86400,
      "time_max": 259200}, "name": "Some ebay description", "cost": "4.39", "external_key":
      "EbayShippingService_7", "tracking_number": null}, "customer": {"first_name":
      "John", "last_name": "Wayne", "email": "test@inventorum.com", "billing_address":
      {"first_name": "LTepUeOyoY", "last_name": "", "address1": "niTmhxqbpi", "address2":
      "miDpYOAECS", "zipcode": "hr", "city": "ecQOToDbLt", "state": "sYoVijgGIF",
      "country": "DE"}, "shipping_address": [{"first_name": "swSQootkmt", "last_name":
      "", "address1": "yfZznHbpgq", "address2": "JUXdJufyiN", "zipcode": "oS", "city":
      "fPHILmUlrT", "state": "bAioavLHXA", "country": "DE"}]}, "payments": [{"payment_amount":
      "259.58", "payment_method": "4"}], "state": 2}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: POST
    uri: http://app.intern.inventorum.net/api/orders/
  response:
    body: {string: !!python/unicode '{"id": 15090, "basket": {"note_internal": null,
        "note_external": "Ebay order id: 9912341245-7534821047", "items": [{"id":
        33277, "name": "XtC Advanced 2 LTD", "discount": null, "original_quantity":
        "2.00", "price": "881.0093457944", "product": 463690, "quantity": 2, "tax_rate":
        "7.000", "gross_price": "1885.36", "unit_gross_price": "942.68"}, {"id": 33278,
        "name": "FastRoad CoMax", "discount": null, "original_quantity": "5.00", "price":
        "544.7943925234", "product": 463691, "quantity": 5, "tax_rate": "7.000", "gross_price":
        "2914.65", "unit_gross_price": "582.93"}]}, "state": 2, "customer": {"id":
        11846, "channel": 1, "email": "test@inventorum.com", "title": null, "first_name":
        "John", "middle_name": null, "last_name": "Wayne", "billing_address": {"country":
        "DE", "id": 23395, "address1": "niTmhxqbpi", "address2": "miDpYOAECS", "zipcode":
        "hr", "city": "ecQOToDbLt", "state": "sYoVijgGIF", "first_name": "LTepUeOyoY",
        "last_name": "", "company": null, "title": null}, "shipping_address": [{"country":
        "DE", "id": 23394, "address1": "yfZznHbpgq", "address2": "JUXdJufyiN", "zipcode":
        "oS", "city": "fPHILmUlrT", "state": "bAioavLHXA", "first_name": "swSQootkmt",
        "last_name": "", "company": null, "title": null}]}, "amount_paid": "259.5800000000",
        "payments": [{"id": 11621, "payment_method": "4", "payment_amount": "259.5800000000",
        "date": "10.12.2015 - 15:20", "transaction_id": null, "transaction_duration":
        null, "paypal_invoice_id": null, "paypal_tab_id": null}], "shipment": {"id":
        2445, "name": "Some ebay description", "tracking_number": null, "cost": "4.39",
        "external_key": "EbayShippingService_7", "service": {"id": 1916, "name": "Some
        ebay description", "time_max": 259200, "time_min": 86400}}, "channel": "ebay"}'}
    headers:
      allow: ['GET, POST, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-processed-version: ['10']
      x-inv-user: ['425']
      x-rid: ['344667526249637364']
    status: {code: 201, message: CREATED}
[...]
