interactions:
- request:
    body: '{"channel": "ebay", "basket": {"items": [{"product": 463690, "name": "XtC
      Advanced 2 LTD", "quantity": 2, "unit_gross_price": "7.51", "tax_rate": "0.000"},
      {"product": 463691, "name": "FastRoad CoMax", "quantity": 5, "unit_gross_price":
      "138.57", "tax_rate": "19.000"}], "note_external": "Ebay order id: 9912341245-9679510956"},
      "shipment": {"service": {"name": "Some ebay description", "time_min": 86400,
      "time_max": 259200}, "name": "Some ebay description", "cost": "8.54", "external_key":
      "EbayShippingService_7", "tracking_number": null}, "customer": {"first_name":
      "John", "last_name": "Wayne", "email": "test@inventorum.com", "billing_address":
      {"first_name": "rVAphmBjxt", "last_name": "", "address1": "OenypMoTMX", "address2":
      "AsmJwXGPWp", "zipcode": "pg", "city": "NTnRdVzzEN", "state": "QYILtOUKhu",
      "country": "DE"}, "shipping_address": [{"first_name": "LRmwRcceNo", "last_name":
      "", "address1": "ueeCvtrUAR", "address2": "xDLUXgNdjR", "zipcode": "Py", "city":
      "IPKehVEkEN", "state": "cpywEdQjhy", "country": "DE"}]}, "payments": [{"payment_amount":
      "78.65", "payment_method": "4"}], "state": 2}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: POST
    uri: http://app.intern.inventorum.net/api/orders/
  response:
    body: {string: !!python/unicode '{"id": 15094, "basket": {"note_internal": null,
        "note_external": "Ebay order id: 9912341245-9679510956", "items": [{"id":
        33285, "name": "XtC Advanced 2 LTD", "discount": null, "original_quantity":
        "2.00", "price": "7.5100000000", "product": 463690, "quantity": 2, "tax_rate":
        "0.000", "gross_price": "15.02", "unit_gross_price": "7.51"}, {"id": 33286,
        "name": "FastRoad CoMax", "discount": null, "original_quantity": "5.00", "price":
        "116.4453781513", "product": 463691, "quantity": 5, "tax_rate": "19.000",
        "gross_price": "692.85", "unit_gross_price": "138.57"}]}, "state": 2, "customer":
        {"id": 11850, "channel": 1, "email": "test@inventorum.com", "title": null,
        "first_name": "John", "middle_name": null, "last_name": "Wayne", "billing_address":
        {"country": "DE", "id": 23403, "address1": "OenypMoTMX", "address2": "AsmJwXGPWp",
        "zipcode": "pg", "city": "NTnRdVzzEN", "state": "QYILtOUKhu", "first_name":
        "rVAphmBjxt", "last_name": "", "company": null, "title": null}, "shipping_address":
        [{"country": "DE", "id": 23402, "address1": "ueeCvtrUAR", "address2": "xDLUXgNdjR",
        "zipcode": "Py", "city": "IPKehVEkEN", "state": "cpywEdQjhy", "first_name":
        "LRmwRcceNo", "last_name": "", "company": null, "title": null}]}, "amount_paid":
        "78.6500000000", "payments": [{"id": 11625, "payment_method": "4", "payment_amount":
        "78.6500000000", "date": "10.12.2015 - 15:56", "transaction_id": null, "transaction_duration":
        null, "paypal_invoice_id": null, "paypal_tab_id": null}], "shipment": {"id":
        2449, "name": "Some ebay description", "tracking_number": null, "cost": "8.54",
        "external_key": "EbayShippingService_7", "service": {"id": 1920, "name": "Some
        ebay description", "time_max": 259200, "time_min": 86400}}, "channel": "ebay"}'}
    headers:
      allow: ['GET, POST, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-processed-version: ['10']
      x-inv-user: ['425']
      x-rid: ['344667526249637364']
    status: {code: 201, message: CREATED}
version: 1
