interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '1880293116002510272']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225146588560351744/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "INVENTORUM iPad-Stand",
        "id": 665753, "quantity": "74.00", "reorder_level": "0.00", "safety_stock":
        "0.00", "price": "0.8403361345", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": true, "shop_url": "https://inventorum-test-account.inventorum.net/products/details?pid=665753",
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "id": 2934, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "3E+1",
        "description": "Der stylische iPad-Stand von INVENTORUM aus edlem Holz rundet
        das Erscheinungsbild Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen
        Neigungswinkel ist dieser ideal, um einfach und schnell Produkte mit der internen
        Kamera des iPads zu scannen.  Kompatibel f\u00fcr iPad 2, 3 und 4, sowie das
        iPad Air und iPad mini.", "product_code": "", "ean": null, "categories": [],
        "images": [{"new": false, "type": 0, "id": 2934, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}, {"key": "material"}], "account": {"paypal":
        false, "ebay": false, "image": null, "shipping_address": null, "billing_address":
        {"country": "DE", "id": 5067, "address1": "Voltastr 5", "address2": "Gebaude
        3", "zipcode": "13355", "city": "Berlin", "state": null, "first_name": "John",
        "last_name": "Newman", "company": "Inventorum", "title": null}, "phone_numbers":
        [{"country_code": "49", "id": 1444, "type": "normal", "national_number": "030
        12341234"}], "name": "Inventorum Test Account", "store_name": "Inventorum
        Test Account", "store_description": "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com",
        "fax": "", "tax_number": "", "vat_number": "", "payment_method_note": "",
        "thanks_note": "", "invoice_prefix": "", "invoice_counter": 2, "bank_name":
        "", "bank_account_number": "", "bank_code": "", "bank_iban": "", "bank_bic_swift":
        "", "settings": {"shipping_services": [{"id": "DE_DHLPaket", "description":
        "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
- request:
    body: !!python/str "<?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest\
      \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description><![CDATA[Der\
      \ stylische iPad-Stand von INVENTORUM aus edlem Holz rundet das Erscheinungsbild\
      \ Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen Neigungswinkel\
      \ ist dieser ideal, um einfach und schnell Produkte mit der internen Kamera\
      \ des iPads zu scannen.  Kompatibel f\xFCr iPad 2, 3 und 4, sowie das iPad Air\
      \ und iPad mini.]]></Description><DispatchTimeMax>3</DispatchTimeMax><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>bartosz@hernas.pl</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PictureDetails><PictureURL>http://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/9586/84f1/4581/9e61/2a42/6fd0/7015/958684f145819e612a426fd07015eb9f_ipad_retina.JPEG</PictureURL><PictureURL>http://app.inventorum.net/uploads/img-hash/03c4/ed1e/65fb/0731/4cd0/e469/c346/03c4ed1e65fb07314cd0e469c346aac4_ipad_retina.JPEG</PictureURL></PictureDetails><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>7484</CategoryID></PrimaryCategory><ProductListingDetails><EAN>Does\
      \ not apply</EAN></ProductListingDetails><Quantity>74</Quantity><ReturnPolicy><Description></Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption></ReturnPolicy><SKU>invtest_665753</SKU><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceAdditionalCost>3.00</ShippingServiceAdditionalCost><ShippingServiceCost>5.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceAdditionalCost>1.00</ShippingServiceAdditionalCost><ShippingServiceCost>4.50</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><StartPrice>1.00</StartPrice><Title>INVENTORUM\
      \ iPad-Stand</Title></Item></AddFixedPriceItemRequest>"
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'AddFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [3e3105f3-53a3-44ed-a990-2cebfff0a759]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AddFixedPriceItemResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-09-08T09:23:16.413Z</Timestamp><Ack>Warning</Ack><Errors><ShortMessage>Artikelzustand\
        \ kann nicht verwendet werden.</ShortMessage><LongMessage>F\xFCr diese Kategorie\
        \ ist kein Artikelzustand verf\xFCgbar. Der eingegebene Artikelzustand wurde\
        \ entfernt.</LongMessage><ErrorCode>21917121</ErrorCode><SeverityCode>Warning</SeverityCode><ErrorClassification>RequestError</ErrorClassification></Errors><Version>939</Version><Build>E939_UNI_API5_17667776_R1</Build><ItemID>262039817881</ItemID><StartTime>2015-09-08T09:23:15.304Z</StartTime><EndTime>2015-10-08T09:23:15.304Z</EndTime><Fees><Fee><Name>AuctionLengthFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>BoldFee</Name><Fee currencyID=\"\
        EUR\">0.0</Fee></Fee><Fee><Name>BuyItNowFee</Name><Fee currencyID=\"EUR\"\
        >0.0</Fee></Fee><Fee><Name>CategoryFeaturedFee</Name><Fee currencyID=\"EUR\"\
        >0.0</Fee></Fee><Fee><Name>FeaturedFee</Name><Fee currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>GalleryPlusFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>FeaturedGalleryFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>FixedPriceDurationFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>GalleryFee</Name><Fee currencyID=\"\
        EUR\">0.0</Fee></Fee><Fee><Name>GiftIconFee</Name><Fee currencyID=\"EUR\"\
        >0.0</Fee></Fee><Fee><Name>HighLightFee</Name><Fee currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>InsertionFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee><PromotionalDiscount currencyID=\"EUR\">0.35</PromotionalDiscount></Fee><Fee><Name>InternationalInsertionFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>ListingDesignerFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>ListingFee</Name><Fee currencyID=\"\
        EUR\">0.0</Fee><PromotionalDiscount currencyID=\"EUR\">0.35</PromotionalDiscount></Fee><Fee><Name>PhotoDisplayFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>PhotoFee</Name><Fee currencyID=\"\
        EUR\">0.0</Fee></Fee><Fee><Name>ReserveFee</Name><Fee currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>SchedulingFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>SubtitleFee</Name><Fee currencyID=\"\
        EUR\">0.0</Fee></Fee><Fee><Name>BorderFee</Name><Fee currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>ProPackBundleFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>BasicUpgradePackBundleFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>ValuePackBundleFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>PrivateListingFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee><Fee><Name>ProPackPlusBundleFee</Name><Fee\
        \ currencyID=\"EUR\">0.0</Fee></Fee></Fees><DiscountReason>SpecialOffer</DiscountReason></AddFixedPriceItemResponse>"}
    headers:
      content-type: [text/xml]
      guid: [14fac443-2bb0-a785-f481-c0d1da2a0610]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dWtgMWQ3MmYrNDBmNigyNSg+Nys3MzcrMzE5PTY/Mw==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:b5b74c4e-a650-4223-a33b-d90e55b73ae8']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fac443-2bb0-a785-f481-c0d1da2a0610!ws.api.dll!10.120.95.72!esbtrading[']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSellerListRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><DetailLevel>ReturnAll</DetailLevel><EndTimeFrom>2015-09-08T11:23:16.739631Z</EndTimeFrom><EndTimeTo>2016-01-06T11:23:16.739649Z</EndTimeTo><ErrorLanguage>de_DE</ErrorLanguage><IncludeVariations>True</IncludeVariations><Pagination><EntriesPerPage>200</EntriesPerPage></Pagination></GetSellerListRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetSellerList']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [3dfa5176-e41e-4849-b37a-d005de950279]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetSellerListResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-09-08T09:23:17.794Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_INTL_APISELLING_17668125_R1</Build><PaginationResult><TotalNumberOfPages>1</TotalNumberOfPages><TotalNumberOfEntries>7</TotalNumberOfEntries></PaginationResult><HasMoreItems>false</HasMoreItems><ItemArray><Item><AutoPay>false</AutoPay><BuyerProtection>ItemIneligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"USD\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><Description>Felt\
        \ Brougham</Description><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>261999679081</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</BindingAuction><CheckoutEnabled>true</CheckoutEnabled><ConvertedBuyItNowPrice\
        \ currencyID=\"USD\">0.0</ConvertedBuyItNowPrice><ConvertedStartPrice currencyID=\"\
        EUR\">1.0</ConvertedStartPrice><ConvertedReservePrice currencyID=\"EUR\">0.0</ConvertedReservePrice><HasReservePrice>false</HasReservePrice><StartTime>2015-08-10T12:40:26.000Z</StartTime><EndTime>2015-09-09T12:40:26.000Z</EndTime><ViewItemURL>http://www.ebay.de/itm/Felt-Brougham-/261999679081</ViewItemURL><HasUnansweredQuestions>false</HasUnansweredQuestions><HasPublicMessages>false</HasPublicMessages><ViewItemURLForNaturalSearch>http://www.ebay.de/itm/Felt-Brougham-/261999679081</ViewItemURLForNaturalSearch></ListingDetails><ListingDesigner><LayoutID>7710000</LayoutID><ThemeID>7710</ThemeID></ListingDesigner><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><Location>Berlin</Location><PaymentMethods>MoneyXferAccepted</PaymentMethods><PaymentMethods>PayPal</PaymentMethods><PaymentMethods>MoneyXferAcceptedInCheckout</PaymentMethods><PayPalEmailAddress>mail@jmaicher.de</PayPalEmailAddress><PrimaryCategory><CategoryID>22416</CategoryID><CategoryName>Sport:Weitere\
        \ Wintersportarten:Sonstige</CategoryName></PrimaryCategory><PrivateListing>false</PrivateListing><Quantity>108</Quantity><ReservePrice\
        \ currencyID=\"EUR\">0.0</ReservePrice><ReviseStatus><ItemRevised>true</ItemRevised></ReviseStatus><SellingStatus><BidCount>0</BidCount><BidIncrement\
        \ currencyID=\"EUR\">0.0</BidIncrement><ConvertedCurrentPrice currencyID=\"\
        EUR\">1.0</ConvertedCurrentPrice><CurrentPrice currencyID=\"EUR\">1.0</CurrentPrice><HighBidder><AboutMePage>false</AboutMePage><EIASToken>nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ==</EIASToken><Email>Invalid\
        \ Request</Email><FeedbackScore>2</FeedbackScore><PositiveFeedbackPercent>100.0</PositiveFeedbackPercent><FeedbackPrivate>false</FeedbackPrivate><FeedbackRatingStar>None</FeedbackRatingStar><IDVerified>false</IDVerified><eBayGoodStanding>true</eBayGoodStanding><NewUser>false</NewUser><RegistrationAddress><Name>John\
        \ Wayne</Name><Street>Inventorum GmbH, Voltastr. 5</Street><Street1>Inventorum\
        \ GmbH</Street1><Street2>Voltastr. 5</Street2><CityName>Berlin</CityName><Country>DE</Country><CountryName>Deutschland</CountryName><Phone>Invalid\
        \ Request</Phone><PostalCode>13355</PostalCode></RegistrationAddress><RegistrationDate>2015-04-17T15:32:24.000Z</RegistrationDate><Site>Germany</Site><Status>Confirmed</Status><UserID>dejoh_dnju7</UserID><UserIDChanged>false</UserIDChanged><VATStatus>VATExempt</VATStatus><UserAnonymized>false</UserAnonymized></HighBidder><LeadCount>0</LeadCount><MinimumToBid\
        \ currencyID=\"EUR\">1.0</MinimumToBid><QuantitySold>1</QuantitySold><ReserveMet>true</ReserveMet><SecondChanceEligible>false</SecondChanceEligible><ListingStatus>Active</ListingStatus></SellingStatus><ShippingDetails><ApplyShippingDiscount>false</ApplyShippingDiscount><CalculatedShippingRate><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></CalculatedShippingRate><InsuranceFee\
        \ currencyID=\"EUR\">0.0</InsuranceFee><InsuranceOption>NotOffered</InsuranceOption><SalesTax><SalesTaxPercent>0.0</SalesTaxPercent><ShippingIncludedInTax>false</ShippingIncludedInTax></SalesTax><ShippingServiceOptions><ShippingService>DE_DHLPackchen</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">1.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost><ShippingServicePriority>1</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingType>Flat</ShippingType><ThirdPartyCheckout>false</ThirdPartyCheckout><InsuranceDetails><InsuranceOption>NotOffered</InsuranceOption></InsuranceDetails><ShippingDiscountProfileID>0</ShippingDiscountProfileID><InternationalShippingDiscountProfileID>0</InternationalShippingDiscountProfileID><SellerExcludeShipToLocationsPreference>true</SellerExcludeShipToLocationsPreference></ShippingDetails><ShipToLocations>DE</ShipToLocations><Site>Germany</Site><StartPrice\
        \ currencyID=\"EUR\">1.0</StartPrice><TimeLeft>P1DT3H17M9S</TimeLeft><Title>Felt\
        \ Brougham</Title><LocationDefaulted>true</LocationDefaulted><GetItFast>false</GetItFast><SKU>invproduction_2381482</SKU><PostalCode>13355</PostalCode><PictureDetails><GalleryType>Gallery</GalleryType><GalleryURL>http://app.intern.inventorum.com/uploads/2992/product/7a/6c/69/a3/43/c5/97/8c/d0/3e/d2/5e/96/99/46/7a6c69a343c5978cd03ed25e969946bd.ipad_retina.png</GalleryURL><PhotoDisplay>PicturePack</PhotoDisplay><PictureURL>http://app.intern.inventorum.com/uploads/2992/product/7a/6c/69/a3/43/c5/97/8c/d0/3e/d2/5e/96/99/46/7a6c69a343c5978cd03ed25e969946bd.ipad_retina.png</PictureURL></PictureDetails><DispatchTimeMax>3</DispatchTimeMax><ProxyItem>false</ProxyItem><BuyerGuaranteePrice\
        \ currencyID=\"EUR\">20000.0</BuyerGuaranteePrice><ReturnPolicy><ReturnsWithinOption>Days_14</ReturnsWithinOption><ReturnsWithin>14\
        \ Tage</ReturnsWithin><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsAccepted>Verbraucher\
        \ haben das Recht, den Artikel unter den angegebenen Bedingungen zur\xFCckzugeben.</ReturnsAccepted><ShippingCostPaidByOption>Buyer</ShippingCostPaidByOption><ShippingCostPaidBy>K\xE4\
        ufer tr\xE4gt die unmittelbaren Kosten der R\xFCcksendung der Waren</ShippingCostPaidBy></ReturnPolicy><ConditionID>1000</ConditionID><ConditionDisplayName>Neu</ConditionDisplayName><PostCheckoutExperienceEnabled>false</PostCheckoutExperienceEnabled><SellerProfiles><SellerShippingProfile><ShippingProfileID>71752373023</ShippingProfileID><ShippingProfileName>Pauschal:DHL\
        \ P\xE4ckchen(EUR 5,00),3 Werktage</ShippingProfileName></SellerShippingProfile><SellerReturnProfile><ReturnProfileID>70043489023</ReturnProfileID><ReturnProfileName>Verbraucher\
        \ haben das Recht, den Artikel unte</ReturnProfileName></SellerReturnProfile><SellerPaymentProfile><PaymentProfileID>75393265023</PaymentProfileID><PaymentProfileName>PayPal:\xDC\
        berweisung in der Kaufabwicklung akze#0</PaymentProfileName></SellerPaymentProfile></SellerProfiles><ShippingServiceCostOverrideList><ShippingServiceCostOverride><ShippingServicePriority>1</ShippingServicePriority><ShippingServiceType>Domestic</ShippingServiceType><ShippingServiceCost\
        \ currencyID=\"EUR\">1.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost></ShippingServiceCostOverride></ShippingServiceCostOverrideList><ShippingPackageDetails><ShippingIrregular>false</ShippingIrregular><ShippingPackage>None</ShippingPackage><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></ShippingPackageDetails><HideFromSearch>false</HideFromSearch><eBayPlus>false</eBayPlus><eBayPlusEligible>false</eBayPlusEligible></Item><Item><AutoPay>false</AutoPay><BuyerProtection>ItemEligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"USD\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><Description>&lt;font\
        \ face=&quot;Arial&quot; size=&quot;2&quot;&gt;Dies ist ein Testprodukt.&lt;/font&gt;</Description><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>262005016633</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</Bindin[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoD[...]
[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><EndFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><EndingReason>NotAvailable</EndingReason><ErrorLanguage>de_DE</ErrorLanguage><ItemID>262039817881</ItemID></EndFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'EndFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [7c1eac37-4297-405c-a24e-96a030d415f8]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <EndFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-09-08T09:26:27.502Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_UNI_API5_17667776_R1</Build><EndTime>2015-09-08T09:26:27.000Z</EndTime></EndFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14fac472-2d10-a620-8a63-7ef3e1ba6d40]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___ZW9nNGQ3MWYrNmcxPigyNSg+Oys3MjErMD45PTY/Mw==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [EndFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:b59ca4aa-d17f-4e46-840e-2452a461a367']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fac472-2d10-a620-8a63-7ef3e1ba6d40!ws.api.dll!10.98.8.166!esbtrading[']
    status: {code: 200, message: OK}
- request:
    body: '{"state": "published", "details": {}, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: POST
    uri: http://app.intern.inventorum.net/api/products/665753/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2126404128828089844']
    status: {code: 200, message: OK}
version: 1
