interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetOrdersRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><ModTimeFrom>2015-04-25T12:16:11.257939Z</ModTimeFrom><OrderRole>Seller</OrderRole><OrderStatus>Completed</OrderStatus><Pagination><EntriesPerPage>100</EntriesPerPage></Pagination></GetOrdersRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetOrders']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [c5344e91-2eff-4593-95e3-5d1644fd0608]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetOrdersResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-04-30T12:16:12.598Z</Timestamp><Ack>Success</Ack><Version>915</Version><Build>E915_INTL_APIXO_17437404_R1</Build><PaginationResult><TotalNumberOfPages>1</TotalNumberOfPages><TotalNumberOfEntries>5</TotalNumberOfEntries></PaginationResult><HasMoreOrders>false</HasMoreOrders><OrderArray><Order><OrderID>261869293885-1616104762016</OrderID><OrderStatus>Completed</OrderStatus><AdjustmentAmount\
        \ currencyID=\"EUR\">0.0</AdjustmentAmount><AmountPaid currencyID=\"EUR\"\
        >5.3</AmountPaid><AmountSaved currencyID=\"EUR\">0.0</AmountSaved><CheckoutStatus><eBayPaymentStatus>NoPaymentFailure</eBayPaymentStatus><LastModifiedTime>2015-04-28T14:19:17.000Z</LastModifiedTime><PaymentMethod>PayPal</PaymentMethod><Status>Complete</Status><IntegratedMerchantCreditCardEnabled>false</IntegratedMerchantCreditCardEnabled></CheckoutStatus><ShippingDetails><InsuranceFee\
        \ currencyID=\"EUR\">0.0</InsuranceFee><InsuranceOption>NotOffered</InsuranceOption><InsuranceWanted>false</InsuranceWanted><SalesTax><SalesTaxPercent>0.0</SalesTaxPercent><SalesTaxState></SalesTaxState><ShippingIncludedInTax>false</ShippingIncludedInTax><SalesTaxAmount\
        \ currencyID=\"EUR\">0.0</SalesTaxAmount></SalesTax><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">4.29</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">5.0</ShippingServiceCost><ShippingServicePriority>2</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceCost><ShippingServicePriority>3</ShippingServicePriority><ExpeditedService>false</ExpeditedService></ShippingServiceOptions><SellingManagerSalesRecordNumber>100</SellingManagerSalesRecordNumber><GetItFast>false</GetItFast></ShippingDetails><CreatedTime>2015-04-28T14:19:17.000Z</CreatedTime><PaymentMethods>COD</PaymentMethods><PaymentMethods>CashOnPickup</PaymentMethods><PaymentMethods>PayPal</PaymentMethods><SellerEmail>mail@jmaicher.de</SellerEmail><ShippingAddress><Name>John\
        \ Wayne</Name><Street1>Inventorum</Street1><Street2></Street2><CityName>Berlin</CityName><StateOrProvince></StateOrProvince><Country>DE</Country><CountryName>DE</CountryName><Phone>Invalid\
        \ Request</Phone><PostalCode>13355</PostalCode><AddressID>3271723544011</AddressID><AddressOwner>eBay</AddressOwner><ExternalAddressID></ExternalAddressID></ShippingAddress><ShippingServiceSelected><ShippingInsuranceCost\
        \ currencyID=\"EUR\">0.0</ShippingInsuranceCost><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">4.29</ShippingServiceCost></ShippingServiceSelected><Subtotal\
        \ currencyID=\"EUR\">1.01</Subtotal><Total currencyID=\"EUR\">5.3</Total><TransactionArray><Transaction><Buyer><Email>michal+ebay+john@inventorum.com</Email><UserFirstName>John</UserFirstName><UserLastName>Wayne</UserLastName></Buyer><ShippingDetails><SellingManagerSalesRecordNumber>100</SellingManagerSalesRecordNumber></ShippingDetails><CreatedDate>2015-04-28T14:19:17.000Z</CreatedDate><Item><ItemID>261869293885</ItemID><Site>Germany</Site><Title>Inventorum\
        \ T-Shirt[Blau,XL]</Title><ConditionID>1000</ConditionID><ConditionDisplayName>Neu\
        \ mit Etikett</ConditionDisplayName></Item><QuantityPurchased>1</QuantityPurchased><Status><PaymentHoldStatus>None</PaymentHoldStatus><InquiryStatus>NotApplicable</InquiryStatus><ReturnStatus>NotApplicable</ReturnStatus></Status><TransactionID>1616104762016</TransactionID><TransactionPrice\
        \ currencyID=\"EUR\">1.01</TransactionPrice><TransactionSiteID>Germany</TransactionSiteID><Platform>eBay</Platform><Variation><SKU>invdev_1</SKU><VariationSpecifics><NameValueList><Name>Farbe</Name><Value>Blau</Value></NameValueList><NameValueList><Name>Size</Name><Value>XL</Value></NameValueList></VariationSpecifics><VariationTitle>Inventorum\
        \ T-Shirt[Blau,XL]</VariationTitle><VariationViewItemURL>http://cgi.ebay.de/ws/eBayISAPI.dll?ViewItem&amp;item=261869293885&amp;vti=Farbe%09Blau%0ASize%09XL</VariationViewItemURL></Variation><Taxes><TotalTaxAmount\
        \ currencyID=\"EUR\">0.0</TotalTaxAmount><TaxDetails><Imposition>SalesTax</Imposition><TaxDescription>SalesTax</TaxDescription><TaxAmount\
        \ currencyID=\"EUR\">0.0</TaxAmount><TaxOnSubtotalAmount currencyID=\"EUR\"\
        >0.0</TaxOnSubtotalAmount><TaxOnShippingAmount currencyID=\"EUR\">0.0</TaxOnShippingAmount><TaxOnHandlingAmount\
        \ currencyID=\"EUR\">0.0</TaxOnHandlingAmount></TaxDetails><TaxDetails><Imposition>WasteRecyclingFee</Imposition><TaxDescription>ElectronicWasteRecyclingFee</TaxDescription><TaxAmount\
        \ currencyID=\"EUR\">0.0</TaxAmount></TaxDetails></Taxes><OrderLineItemID>261869293885-1616104762016</OrderLineItemID><ExtendedOrderID>261869293885-1616104762016!464427364015</ExtendedOrderID></Transaction></TransactionArray><BuyerUserID>dejoh_dnju7</BuyerUserID><IntegratedMerchantCreditCardEnabled>false</IntegratedMerchantCreditCardEnabled><EIASToken>nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ==</EIASToken><PaymentHoldStatus>None</PaymentHoldStatus><IsMultiLegShipping>false</IsMultiLegShipping><SellerUserID>newmade</SellerUserID><SellerEIASToken>nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ==</SellerEIASToken><CancelStatus>NotApplicable</CancelStatus><ExtendedOrderID>261869293885-1616104762016!464427364015</ExtendedOrderID></Order><Order><OrderID>261869293885-1616104763016</OrderID><OrderStatus>Completed</OrderStatus><AdjustmentAmount\
        \ currencyID=\"EUR\">0.0</AdjustmentAmount><AmountPaid currencyID=\"EUR\"\
        >6.03</AmountPaid><AmountSaved currencyID=\"EUR\">0.0</AmountSaved><CheckoutStatus><eBayPaymentStatus>NoPaymentFailure</eBayPaymentStatus><LastModifiedTime>2015-04-28T14:19:17.000Z</LastModifi[...]
