interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSellerListRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><DetailLevel>ReturnAll</DetailLevel><EndTimeFrom>2015-09-07T14:34:28.199044Z</EndTimeFrom><EndTimeTo>2016-01-05T14:34:28.199071Z</EndTimeTo><ErrorLanguage>de_DE</ErrorLanguage><IncludeVariations>True</IncludeVariations><Pagination><EntriesPerPage>200</EntriesPerPage></Pagination></GetSellerListRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetSellerList']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [ef52a8dd-e12f-42d7-b5f1-fb71d10416ec]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetSellerListResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-09-07T12:34:30.030Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_INTL_APISELLING_17668125_R1</Build><PaginationResult><TotalNumberOfPages>1</TotalNumberOfPages><TotalNumberOfEntries>6</TotalNumberOfEntries></PaginationResult><HasMoreItems>false</HasMoreItems><ItemArray><Item><AutoPay>false</AutoPay><BuyerProtection>ItemIneligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"USD\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><Description>Felt\
        \ Brougham</Description><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>261999679081</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</BindingAuction><CheckoutEnabled>true</CheckoutEnabled><ConvertedBuyItNowPrice\
        \ currencyID=\"USD\">0.0</ConvertedBuyItNowPrice><ConvertedStartPrice currencyID=\"\
        EUR\">1.0</ConvertedStartPrice><ConvertedReservePrice currencyID=\"EUR\">0.0</ConvertedReservePrice><HasReservePrice>false</HasReservePrice><StartTime>2015-08-10T12:40:26.000Z</StartTime><EndTime>2015-09-09T12:40:26.000Z</EndTime><ViewItemURL>http://www.ebay.de/itm/Felt-Brougham-/261999679081</ViewItemURL><HasUnansweredQuestions>false</HasUnansweredQuestions><HasPublicMessages>false</HasPublicMessages><ViewItemURLForNaturalSearch>http://www.ebay.de/itm/Felt-Brougham-/261999679081</ViewItemURLForNaturalSearch></ListingDetails><ListingDesigner><LayoutID>7710000</LayoutID><ThemeID>7710</ThemeID></ListingDesigner><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><Location>Berlin</Location><PaymentMethods>MoneyXferAccepted</PaymentMethods><PaymentMethods>PayPal</PaymentMethods><PaymentMethods>MoneyXferAcceptedInCheckout</PaymentMethods><PayPalEmailAddress>mail@jmaicher.de</PayPalEmailAddress><PrimaryCategory><CategoryID>22416</CategoryID><CategoryName>Sport:Weitere\
        \ Wintersportarten:Sonstige</CategoryName></PrimaryCategory><PrivateListing>false</PrivateListing><Quantity>108</Quantity><ReservePrice\
        \ currencyID=\"EUR\">0.0</ReservePrice><ReviseStatus><ItemRevised>true</ItemRevised></ReviseStatus><SellingStatus><BidCount>0</BidCount><BidIncrement\
        \ currencyID=\"EUR\">0.0</BidIncrement><ConvertedCurrentPrice currencyID=\"\
        EUR\">1.0</ConvertedCurrentPrice><CurrentPrice currencyID=\"EUR\">1.0</CurrentPrice><HighBidder><AboutMePage>false</AboutMePage><EIASToken>nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ==</EIASToken><Email>Invalid\
        \ Request</Email><FeedbackScore>2</FeedbackScore><PositiveFeedbackPercent>100.0</PositiveFeedbackPercent><FeedbackPrivate>false</FeedbackPrivate><FeedbackRatingStar>None</FeedbackRatingStar><IDVerified>false</IDVerified><eBayGoodStanding>true</eBayGoodStanding><NewUser>false</NewUser><RegistrationAddress><Name>John\
        \ Wayne</Name><Street>Inventorum GmbH, Voltastr. 5</Street><Street1>Inventorum\
        \ GmbH</Street1><Street2>Voltastr. 5</Street2><CityName>Berlin</CityName><Country>DE</Country><CountryName>Deutschland</CountryName><Phone>Invalid\
        \ Request</Phone><PostalCode>13355</PostalCode></RegistrationAddress><RegistrationDate>2015-04-17T15:32:24.000Z</RegistrationDate><Site>Germany</Site><Status>Confirmed</Status><UserID>dejoh_dnju7</UserID><UserIDChanged>false</UserIDChanged><VATStatus>VATExempt</VATStatus><UserAnonymized>false</UserAnonymized></HighBidder><LeadCount>0</LeadCount><MinimumToBid\
        \ currencyID=\"EUR\">1.0</MinimumToBid><QuantitySold>1</QuantitySold><ReserveMet>true</ReserveMet><SecondChanceEligible>false</SecondChanceEligible><ListingStatus>Active</ListingStatus></SellingStatus><ShippingDetails><ApplyShippingDiscount>false</ApplyShippingDiscount><CalculatedShippingRate><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></CalculatedShippingRate><InsuranceFee\
        \ currencyID=\"EUR\">0.0</InsuranceFee><InsuranceOption>NotOffered</InsuranceOption><SalesTax><SalesTaxPercent>0.0</SalesTaxPercent><ShippingIncludedInTax>false</ShippingIncludedInTax></SalesTax><ShippingServiceOptions><ShippingService>DE_DHLPackchen</ShippingService><ShippingServiceCost\
        \ currencyID=\"EUR\">1.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost><ShippingServicePriority>1</ShippingServicePriority><ExpeditedService>false</ExpeditedService><ShippingTimeMin>1</ShippingTimeMin><ShippingTimeMax>2</ShippingTimeMax></ShippingServiceOptions><ShippingType>Flat</ShippingType><ThirdPartyCheckout>false</ThirdPartyCheckout><InsuranceDetails><InsuranceOption>NotOffered</InsuranceOption></InsuranceDetails><ShippingDiscountProfileID>0</ShippingDiscountProfileID><InternationalShippingDiscountProfileID>0</InternationalShippingDiscountProfileID><SellerExcludeShipToLocationsPreference>true</SellerExcludeShipToLocationsPreference></ShippingDetails><ShipToLocations>DE</ShipToLocations><Site>Germany</Site><StartPrice\
        \ currencyID=\"EUR\">1.0</StartPrice><TimeLeft>P2DT5M57S</TimeLeft><Title>Felt\
        \ Brougham</Title><LocationDefaulted>true</LocationDefaulted><GetItFast>false</GetItFast><SKU>invproduction_2381482</SKU><PostalCode>13355</PostalCode><PictureDetails><GalleryType>Gallery</GalleryType><GalleryURL>http://app.intern.inventorum.com/uploads/2992/product/7a/6c/69/a3/43/c5/97/8c/d0/3e/d2/5e/96/99/46/7a6c69a343c5978cd03ed25e969946bd.ipad_retina.png</GalleryURL><PhotoDisplay>PicturePack</PhotoDisplay><PictureURL>http://app.intern.inventorum.com/uploads/2992/product/7a/6c/69/a3/43/c5/97/8c/d0/3e/d2/5e/96/99/46/7a6c69a343c5978cd03ed25e969946bd.ipad_retina.png</PictureURL></PictureDetails><DispatchTimeMax>3</DispatchTimeMax><ProxyItem>false</ProxyItem><BuyerGuaranteePrice\
        \ currencyID=\"EUR\">20000.0</BuyerGuaranteePrice><ReturnPolicy><ReturnsWithinOption>Days_14</ReturnsWithinOption><ReturnsWithin>14\
        \ Tage</ReturnsWithin><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption><ReturnsAccepted>Verbraucher\
        \ haben das Recht, den Artikel unter den angegebenen Bedingungen zur\xFCckzugeben.</ReturnsAccepted><ShippingCostPaidByOption>Buyer</ShippingCostPaidByOption><ShippingCostPaidBy>K\xE4\
        ufer tr\xE4gt die unmittelbaren Kosten der R\xFCcksendung der Waren</ShippingCostPaidBy></ReturnPolicy><ConditionID>1000</ConditionID><ConditionDisplayName>Neu</ConditionDisplayName><PostCheckoutExperienceEnabled>false</PostCheckoutExperienceEnabled><SellerProfiles><SellerShippingProfile><ShippingProfileID>71752373023</ShippingProfileID><ShippingProfileName>Pauschal:DHL\
        \ P\xE4ckchen(EUR 5,00),3 Werktage</ShippingProfileName></SellerShippingProfile><SellerReturnProfile><ReturnProfileID>70043489023</ReturnProfileID><ReturnProfileName>Verbraucher\
        \ haben das Recht, den Artikel unte</ReturnProfileName></SellerReturnProfile><SellerPaymentProfile><PaymentProfileID>75393265023</PaymentProfileID><PaymentProfileName>PayPal:\xDC\
        berweisung in der Kaufabwicklung akze#0</PaymentProfileName></SellerPaymentProfile></SellerProfiles><ShippingServiceCostOverrideList><ShippingServiceCostOverride><ShippingServicePriority>1</ShippingServicePriority><ShippingServiceType>Domestic</ShippingServiceType><ShippingServiceCost\
        \ currencyID=\"EUR\">1.0</ShippingServiceCost><ShippingServiceAdditionalCost\
        \ currencyID=\"EUR\">0.0</ShippingServiceAdditionalCost></ShippingServiceCostOverride></ShippingServiceCostOverrideList><ShippingPackageDetails><ShippingIrregular>false</ShippingIrregular><ShippingPackage>None</ShippingPackage><WeightMajor\
        \ measurementSystem=\"Metric\" unit=\"kg\">0</WeightMajor><WeightMinor measurementSystem=\"\
        Metric\" unit=\"gm\">0</WeightMinor></ShippingPackageDetails><HideFromSearch>false</HideFromSearch><eBayPlus>false</eBayPlus><eBayPlusEligible>false</eBayPlusEligible></Item><Item><AutoPay>false</AutoPay><BuyerProtection>ItemEligible</BuyerProtection><BuyItNowPrice\
        \ currencyID=\"USD\">0.0</BuyItNowPrice><Country>DE</Country><Currency>EUR</Currency><Description>&lt;font\
        \ face=&quot;Arial&quot; size=&quot;2&quot;&gt;Dies ist ein Testprodukt.&lt;/font&gt;</Description><GiftIcon>0</GiftIcon><HitCounter>NoHitCounter</HitCounter><ItemID>262005016633</ItemID><ListingDetails><Adult>false</Adult><BindingAuction>false</Bindin[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoD[...]
[...]
