interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSessionIDRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials></RequesterCredentials><RuName>Inventorum_GmbH-Inventor-9021-4-pbiiw</RuName></GetSessionIDRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode GetSessionID]
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [1dad8500-55a2-4dca-9758-03f65a312f86]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetSessionIDResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-04-17T14:57:16.120Z</Timestamp><Ack>Success</Ack><Version>919</Version><Build>E919_INTL_APISIGNIN_17468662_R1</Build><SessionID>qeUBAA**c7e2413914c0a5e3ca00e0d0fffff86e</SessionID></GetSessionIDResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14cc7e24-1190-a785-f856-8846c2fd0355]
      x-ebay-api-pool-name: [___cDRidW90amJobm1saHNv]
      x-ebay-api-server-name: [___dWtgMWQ3MmYrPzo1MigyNSg+NyswNy00MDc5PTY/Mg==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetSessionID]
      x-ebay-esb-guid: ['urn:uuid:f9831fbe-4519-44c2-ac21-d19d88b33f2a']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14cc7e24-1190-a785-f856-8846c2fd0355!ws.api.dll!10.120.95.133!esbtrading[]']
    status: {code: 200, message: OK}
version: 1
