interactions:
- request:
    body: '{"safety_stock": 5, "reorder_level": 10, "name": "Test product 1", "images":
      [], "price": "1.6722689076", "quantity": 12, "tax_type": 1063, "description":
      ""}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: POST
    uri: http://app.intern.inventorum.net/api/products/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Test product 1",
        "id": 666411, "quantity": "12.00", "reorder_level": "10.00", "safety_stock":
        "5.00", "price": "1.6722689076", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": null, "variation_count": 0, "variations": [], "average_purchase_price":
        "0", "description": "", "product_code": null, "ean": null, "categories": [],
        "images": [], "custom_sale": false, "shipping_services": [], "is_favourite":
        false, "brand": "", "supplier": "", "meta": {}, "is_giftcard": false, "gross_price":
        "1.99", "purchase_price": "0"}'}
    headers:
      allow: ['GET, POST, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2990532307329803764']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}], "account": {"paypal": false, "ebay":
        false, "image": null, "shipping_address": null, "billing_address": {"id":
        5067, "address1": "Voltastr 5", "address2": "Gebaude 3", "zipcode": "13355",
        "city": "Berlin", "state": null, "country": "DE", "first_name": "John", "last_name":
        "Newman", "company": "Inventorum", "title": null}, "phone_numbers": [{"country_code":
        "49", "id": 1444, "type": "normal", "national_number": "030 12341234"}], "name":
        "Inventorum Test Account", "store_name": "Inventorum Test Account", "store_description":
        "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com", "fax":
        "", "tax_number": "", "vat_number": "", "payment_method_note": "", "thanks_note":
        "", "invoice_prefix": "", "invoice_counter": 0, "bank_name": "", "bank_account_number":
        "", "bank_code": "", "bank_iban": "", "bank_bic_swift": "", "settings": {"shipping_services":
        [{"id": "DE_DHL2KGPaket", "description": "DHL 2kg Paket (nur f\u00fcr kurze
        Zeit)", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat": "", "carrier":
        "DHL", "category": "[STANDARD]", "service": "DE_DHL2KGPaket", "cost": "5.0000000000",
        "additional_cost": "2.0000000000", "enabled": true, "free_above_price": null}],
        "ebay_payment_methods": [1], "izettle": true, "meta_prices_enabled": true,
        "paypal": false, "ebay": true, "ebay_click_and_collect": false, "shop": false,
        "zreports": true, "roundup": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false},
        "image_width": 0, "image_height": 0, "permissions": ["accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.can_add_basket_discount", "subscriptions.can_change_header_and_footer_on_receipt",
        "subscriptions.can_enable_shop", "subscriptions.can_have_shop", "subscriptions.can_see_native_pos_v121",
        "subscriptions.can_use_acc_photo_on_receipt", "subscriptions.can_use_giftcards",
        "subscriptions.can_use_inventorum", "subscriptions.can_use_izettle", "subscriptions.can_use_native_cashbook_add",
        "subscriptions.can_use_native_checkout", "subscriptions.can_use_native_pos_v121",
        "subscriptions.can_use_product_list_in_bo", "subscriptions.can_use_purchase_on_account",
        "subscriptions.can_use_stock_keeping", "subscriptions.is_paid", "subscriptions.native_checkout_enabled",
        "subscriptions.native_product_details", "subscriptions.poweredby_hidden"],
        "subscriptions": [{"start_date": "2015-04-02T13:16:20.637+02:00", "due_date":
        null, "subscription_plan": {"id": 32, "name": "Base Plan"}, "users_quota":
        1, "active": true}, {"start_date": "2015-04-02T13:16:42.183+02:00", "due_date":
        "2015-04-16T23:59:59.183+02:00", "subscription_plan": {"id": 25, "name": "Trial"},
        "users_quota": 3, "active": false}, {"start_date": "2015-04-02T13:37:41+02:00",
        "due_date": null, "subscription_plan": {"id": 39, "name": "Inventorum Premium"},
        "users_quota": null, "active": true}], "users_quota": null, "image_absolute":
        null, "return_prefix": "", "id": 346, "opening_hours": [], "is_ece": false,
        "bank_account_holder": "", "first_app_login": "2015-04-02T11:48:58.474Z",
        "account_creation": "2015-04-02T11:16:20.623Z", "country": "DE"}, "ece_categories":
        [], "channels": [{"name": "ipad", "description": "ipad", "translated_name":
        "POS"}, {"name": "shop", "description": "shop", "translated_name": "Shop"}],
        "carriers": [{"description": "DHL"}, {"description": "Pick up in store"},
        {"description": "Deutsche Post"}, {"description": "UPS"}, {"description":
        "Hermes"}, {"description": "DPD"}, {"description": "GLS"}], "countries": {"DE":
        "Germany", "AT": "Austria"}}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['74451548607407604']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/666411
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=utf-8]
      location: ['http://app.intern.inventorum.net/api/products/666411/']
      x-inv-account: [Anonymous]
      x-inv-user: [Anonymous]
      x-rid: ['2990532307329803764']
    status: {code: 301, message: MOVED PERMANENTLY}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/666411/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Test product 1",
        "id": 666411, "quantity": "12.00", "reorder_level": "10.00", "safety_stock":
        "5.00", "price": "1.6722689076", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": null, "variation_count": 0, "variations": [], "average_purchase_price":
        "0", "description": "", "product_code": null, "ean": null, "categories": [],
        "images": [], "custom_sale": false, "shipping_services": [], "is_favourite":
        false, "brand": "", "supplier": "", "meta": {}, "is_giftcard": false, "gross_price":
        "1.99", "purchase_price": "0"}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['74451548607407604']
    status: {code: 200, message: OK}
- request:
    body: '{"state": "in_progress", "details": null, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: POST
    uri: http://app.intern.inventorum.net/api/products/666411/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['74451548607407604']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**+SoxVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ**qeUBAA**AAMAAA**C3hLSGxBbPWdVJyUL0CWP/+WBVv+WH+m27U0atsiRZd0O6YeiXxXIeDv0FlwDBPtiDGXqP9GXaRgrn0GPTeumA7qhjocNfuHZyuwr80/bh9IqSXKA1EcNCmMbyI/696cKoaxPm7R6nczyIZV0ssT7t5vCwANcJEMsfXSJGVsJEX0Y54YV+Z70Bk6E2RyxJ1B9XN4rKG3yGvnyT+dOXMZN7W7S9gQqyeMPJ7B6Ebk9TyekHaFHEBwnArRQjVWuiMxX53GuRsBGFB07ekJhe+4UgBDN0v4/5LyHzAolM+UkE7/is2nZz74JQ7kHRXiLzHRstmU1aifkeBj1NsdwHV6QScA7ubNITHgFWkO4z2wmpkWfIdevnw42UHhsCdKRXp2p/AYuZ1O9bwVt7uLm0gJi3EvmDRmEevMk4j/VfLRwhC15qbFAMzL+g+zNK9qIJ/gy6TwO04Pr3H4001ASE+SBpKgr1CgoydwRGa3/w6IrnsQbjwgBR+tRyuad6r3251U0e7wNyXqqCGOMkk4y/8W91g6tIeuS0Iv73cw9h1fpoFz9vUf8qsy640UTQPkrUQqYYn3tyootvwBmskYNV7b1S7r9MTf9ygWkxgvndaV49nJji+xnshPtFfpr1qBX3bRU/3j7pdVLpMuQUw7sz9faDGkA19EKoXtefqkbzgP+f0mnOx0y6vwTADhVsfwo2sJowyqvPfNVxpYVuWJ+jBJuQDM91oukkS9uBxDrwWa8Rofe03JkTmHE/807wkzi+zg</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description></Description><DispatchTimeMax>3</DispatchTimeMax><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>bartosz@hernas.pl</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>176973</CategoryID></PrimaryCategory><Quantity>12</Quantity><ReturnPolicy><Description></Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption></ReturnPolicy><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHL2KGPaket</ShippingService><ShippingServiceAdditionalCost>2.0000000000</ShippingServiceAdditionalCost><ShippingServiceCost>5.0000000000</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><StartPrice>1.9900000000</StartPrice><Title>Test
      product 1</Title></Item></AddFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'AddFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [69502a48-6338-4732-979b-748b42c79b18]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <AddFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-04-17T16:09:51.786Z</Timestamp><Ack>Success</Ack><Version>917</Version><Build>E917_UNI_API5_17456394_R1</Build><ItemID>131489842714</ItemID><StartTime>2015-04-17T16:09:49.520Z</StartTime><EndTime>2015-05-17T16:09:49.520Z</EndTime><Fees><Fee><Name>AuctionLengthFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BoldFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>BuyItNowFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>CategoryFeaturedFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryPlusFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedGalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>FixedPriceDurationFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GiftIconFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>HighLightFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>InsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.5</PromotionalDiscount></Fee><Fee><Name>InternationalInsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingDesignerFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.5</PromotionalDiscount></Fee><Fee><Name>PhotoDisplayFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>PhotoFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ReserveFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>SchedulingFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>SubtitleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BorderFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BasicUpgradePackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ValuePackBundleFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>PrivateListingFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackPlusBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee></Fees><DiscountReason>SpecialOffer</DiscountReason></AddFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14ce63be-3080-a785-f482-8a82bd7b28a9]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dWtgMGQ3MWYrMzRgNygyNSg2MTMoNTE8KD8wPz43OzU=]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:84bcfa9e-074a-490c-88c0-7f6078945d1a']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14ce63be-3080-a785-f482-8a82bd7b28a9!ws.api.dll!10.120.95.72!esbtrading[]']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/delta/modified/?limit=100&page=1&verbose=True
  response:
    body: {string: !!python/unicode '{"total": 1, "data": [{"name": "Test product
        1", "id": 666411, "quantity": "12.00", "reorder_level": "10.00", "safety_stock":
        "5.00", "price": "2.5126050420", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": null, "variation_count": 0, "is_giftcard": false, "gross_price":
        "2.99", "state": "updated", "parent": null, "ean": null, "custom_sale": false,
        "categories": []}]}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2990532307329803764']
    status: {code: 200, message: OK}
- request:
    body: <?xml version='1.0' encoding='utf-8'?><ReviseFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**+SoxVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ**qeUBAA**AAMAAA**C3hLSGxBbPWdVJyUL0CWP/+WBVv+WH+m27U0atsiRZd0O6YeiXxXIeDv0FlwDBPtiDGXqP9GXaRgrn0GPTeumA7qhjocNfuHZyuwr80/bh9IqSXKA1EcNCmMbyI/696cKoaxPm7R6nczyIZV0ssT7t5vCwANcJEMsfXSJGVsJEX0Y54YV+Z70Bk6E2RyxJ1B9XN4rKG3yGvnyT+dOXMZN7W7S9gQqyeMPJ7B6Ebk9TyekHaFHEBwnArRQjVWuiMxX53GuRsBGFB07ekJhe+4UgBDN0v4/5LyHzAolM+UkE7/is2nZz74JQ7kHRXiLzH[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/delta/deleted/?limit=10000&page=1
  response:
    body: {string: !!python/unicode '{"total": 0, "data": []}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2990532307329803764']
    status: {code: 200, message: OK}
- request:
    body: '{"stock": {"date": "23.04.2015", "note": "", "price": "2.99", "quantity":
      10}}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: PUT
    uri: http://app.intern.inventorum.net/api/products/666411/adjust_inventory/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Test product 1",
        "id": 666411, "quantity": "22.00", "reorder_level": "10.00", "safety_stock":
        "5.00", "price": "2.5126050420", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url": null,
        "thumbnail": null, "variation_count": 0, "variations": [], "average_purchase_price":
        "2.99", "description": "", "product_code": null, "ean": null, "categories":
        [], "images": [], "custom_sale": false, "shipping_services": [], "is_favourite":
        false, "brand": "", "supplier": "", "meta": {}, "is_giftcard": false, "gross_price":
        "2.99", "purchase_price": "2.99"}'}
    headers:
      allow: ['PUT, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2990532307329803764']
    status: {code: 200, message: OK}
[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><EndFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**+SoxVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ**qeUBAA**AAMAAA**C3hLSGxBbPWdVJyUL0CWP/+WBVv+WH+m27U0atsiRZd0O6YeiXxXIeDv0FlwDBPtiDGXqP9GXaRgrn0GPTeumA7qhjocNfuHZyuwr80/bh9IqSXKA1EcNCmMbyI/696cKoaxPm7R6nczyIZV0ssT7t5vCwANcJEMsfXSJGVsJEX0Y54YV+Z70Bk6E2RyxJ1B9XN4rKG3yGvnyT+dOXMZN7W7S9gQqyeMPJ7B6Ebk9TyekHaFHEBwnArRQjVWuiMxX53GuRsBGFB07ekJhe+4UgBDN0v4/5LyHzAolM+UkE7/is2nZz74JQ7kHRXiLzHRstmU1aifkeBj1NsdwHV6QScA7ubNITHgFWkO4z2wmpkWfIdevnw42UHhsCdKRXp2p/AYuZ1O9bwVt7uLm0gJi3EvmDRmEevMk4j/VfLRwhC15qbFAMzL+g+zNK9qIJ/gy6TwO04Pr3H4001ASE+SBpKgr1CgoydwRGa3/w6IrnsQbjwgBR+tRyuad6r3251U0e7wNyXqqCGOMkk4y/8W91g6tIeuS0Iv73cw9h1fpoFz9vUf8qsy640UTQPkrUQqYYn3tyootvwBmskYNV7b1S7r9MTf9ygWkxgvndaV49nJji+xnshPtFfpr1qBX3bRU/3j7pdVLpMuQUw7sz9faDGkA19EKoXtefqkbzgP+f0mnOx0y6vwTADhVsfwo2sJowyqvPfNVxpYVuWJ+jBJuQDM91oukkS9uBxDrwWa8Rofe03JkTmHE/807wkzi+zg</eBayAuthToken></RequesterCredentials><EndingReason>NotAvailable</EndingReason><ErrorLanguage>de_DE</ErrorLanguage><ItemID>131489842714</ItemID></EndFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'EndFixedPriceItem']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [125746a4-4f0e-4af2-94c7-000d87e2fe76]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <EndFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-04-17T16:09:53.366Z</Timestamp><Ack>Success</Ack><Version>917</Version><Build>E917_UNI_API5_17456394_R1</Build><EndTime>2015-04-17T16:09:53.000Z</EndTime></EndFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14ce6466-3a80-a626-78d7-0b17f6fc0332]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___ZW9nNGQ3MWYrNDEyYigyNSg+Oys3MjUrNzMzPz43OzU=]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [EndFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:76dc4cec-85d1-4071-8ec6-e70044020be6']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14ce6466-3a80-a626-78d7-0b17f6fc0332!ws.api.dll!10.98.103.141!esbtrading[]']
    status: {code: 200, message: OK}
[...]
