interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225146152575102591/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "SlowRoad Shipping
        Details", "id": 640416, "quantity": "3000.00", "reorder_level": "200.00",
        "safety_stock": "200.00", "price": "560.7383177570", "tax_type": 1062, "custom_price":
        false, "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url":
        null, "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad.JPEG",
        "id": 2918, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "0", "description":
        "Some description", "product_code": "", "ean": null, "categories": [], "images":
        [{"new": false, "type": 0, "id": 2918, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb.JPEG"}}],
        "custom_sale": false, "shipping_services": [{"id": "DE_HermesPaket", "description":
        "Hermes Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "Hermes", "category": "[STANDARD]",
        "service": "DE_HermesPaket", "cost": "10.0000000000", "additional_cost": "1.0000000000",
        "enabled": true, "free_above_price": null}, {"id": "DE_DHLPaket", "description":
        "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "20.0000000000", "additional_cost": "3.0000000000",
        "enabled": true, "free_above_price": null}], "is_favourite": false, "brand":
        "", "supplier": "", "meta": {"shop": {"channel": 5, "description": "", "gross_price":
        "599.99", "id": 738, "images": [], "name": "", "price": "560.7383177570"},
        "ebay": {"channel": 4, "description": "", "gross_price": "599.99", "id": 739,
        "images": [], "name": "", "price": "560.7383177570"}}, "is_giftcard": false,
        "gross_price": "599.99", "purchase_price": "0", "states": [], "attributes_str":
        "", "inv_id": "1225146152575102591"}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3414715097232762356']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}, {"key": "material"}], "account": {"paypal":
        false, "ebay": false, "image": null, "shipping_address": null, "billing_address":
        {"country": "DE", "id": 5067, "address1": "Voltastr 5", "address2": "Gebaude
        3", "zipcode": "13355", "city": "Berlin", "state": null, "first_name": "John",
        "last_name": "Newman", "company": "Inventorum", "title": null}, "phone_numbers":
        [{"country_code": "49", "id": 1444, "type": "normal", "national_number": "030
        12341234"}], "name": "Inventorum Test Account", "store_name": "Inventorum
        Test Account", "store_description": "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com",
        "fax": "", "tax_number": "", "vat_number": "", "payment_method_note": "",
        "thanks_note": "", "invoice_prefix": "", "invoice_counter": 2, "bank_name":
        "", "bank_account_number": "", "bank_code": "", "bank_iban": "", "bank_bic_swift":
        "", "settings": {"shipping_services": [{"id": "DE_DHLPaket", "description":
        "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
