interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/666032
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=utf-8]
      location: ['http://app.intern.inventorum.net/api/products/666032/']
      x-inv-account: [Anonymous]
      x-inv-user: [Anonymous]
      x-rid: ['248403084214593012']
    status: {code: 301, message: MOVED PERMANENTLY}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/666032/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Jeans Valid Attrs",
        "id": 666032, "quantity": "3.00", "reorder_level": "20.00", "safety_stock":
        "20.00", "price": "0E-10", "tax_type": 1062, "custom_price": false, "ebay_product_id":
        null, "ebay_url": null, "in_shop": false, "shop_url": null, "thumbnail": null,
        "variation_count": 2, "variations": [{"id": 666030, "attributes": {"color":
        ["Red"], "material": ["Denim"], "size": ["22"]}, "quantity": "1.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "140.1869158879",
        "product_code": null, "tax_type": 1062, "name": "Jeans Valid Attrs, Red, 22,
        Denim", "images": [{"new": false, "type": 0, "id": 2979, "urls": {"ipad": "https://dev-app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "ipad_retina": "https://dev-app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://dev-app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://dev-app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"}}],
        "meta": {"shop": {"images": [], "price": "140.1869158879",
        "gross_price": "150.00", "id": 960, "channel": 5, "name": null, "description":
        null}, "ebay": {"images": [], "price": "140.1869158879", "gross_price": "150.00",
        "id": 961, "channel": 4, "name": null, "description": null}}, "gross_price":
        "150.00", "purchase_price": "0", "average_purchase_price": "0", "attributes_str":
        "Red, 22, Denim"}, {"id": 666031, "attributes": {"color": ["Blue"], "material":
        ["Leather"], "size": ["50"]}, "quantity": "2.00", "reorder_level": "20.00",
        "safety_stock": "20.00", "ean": null, "price": "121.4953271028", "product_code":
        null, "tax_type": 1062, "name": "Jeans Valid Attrs, Blue, 50, Leather", "images":
        [{"new": false, "type": 0, "id": 2979, "urls": {"ipad": "https://dev-app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/[...]
