interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/666032
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=utf-8]
      location: ['http://app.intern.inventorum.net/api/products/666032/']
      x-inv-account: [Anonymous]
      x-inv-user: [Anonymous]
      x-rid: ['2026761987072517620']
    status: {code: 301, message: MOVED PERMANENTLY}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/666032/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Jeans Valid Attrs",
        "id": 666032, "quantity": "80.00", "reorder_level": null, "safety_stock":
        null, "price": "0E-10", "tax_type": 1062, "custom_price": false, "ebay_product_id":
        null, "ebay_url": null, "in_shop": false, "shop_url": null, "thumbnail": null,
        "variation_count": 2, "variations": [{"id": 666030, "attributes": {"color":
        ["Red"], "material": ["Denim"], "size": ["22"]}, "quantity": "30.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "140.1869158879",
        "product_code": null, "tax_type": 1062, "name": "Red, 22", "images": [], "meta":
        {}, "gross_price": "150.00"}, {"id": 666031, "attributes": {"color": ["Blue"],
        "material": ["Leather"], "size": ["50"]}, "quantity": "50.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "121.4953271028",
        "product_code": null, "tax_type": 1062, "name": "Blue, 50", "images": [],
        "meta": {}, "gross_price": "130.00"}], "average_purchase_price": "0", "description":
        "Photo of jeans for sell.", "product_code": null, "ean": null, "categories":
        [], "images": [], "custom_sale": false, "shipping_services": [], "is_favourite":
        false, "brand": "Test", "supplier": "", "meta": {}, "is_giftcard": false,
        "gross_price": "0.00", "purchase_price": "0"}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2790966548841948660']
    status: {code: 200, message: OK}
version: 1
