interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225147276579275043/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Jeans Valid Attrs",
        "id": 666032, "quantity": "3.00", "reorder_level": "20.00", "safety_stock":
        "20.00", "price": "0E-10", "tax_type": 1062, "custom_price": false, "ebay_product_id":
        null, "ebay_url": null, "in_shop": false, "shop_url": null, "thumbnail": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "id": 2978, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"},
        "variation_count": 2, "variations": [{"id": 666030, "attributes": {"color":
        ["Red"], "material": ["Denim"], "size": ["22"]}, "quantity": "1.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": "978020113447", "price": "140.1869158879",
        "product_code": null, "tax_type": 1062, "name": "Jeans Valid Attrs, Red, 22,
        Denim", "images": [{"new": false, "type": 0, "id": 2978, "urls": {"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"}}],
        "meta": {"shop": {"channel": 5, "description": null, "gross_price": "150.00",
        "id": 960, "images": [], "name": null, "price": "140.1869158879"}, "atalanda":
        {"channel": 9, "description": null, "gross_price": "150.00", "id": 3498, "images":
        [], "name": null, "price": "140.1869158879"}, "click_and_collect": {"channel":
        8, "description": null, "gross_price": "150.00", "id": 3499, "images": [],
        "name": null, "price": "140.1869158879"}, "ebay": {"channel": 4, "description":
        null, "gross_price": "150.00", "id": 961, "images": [], "name": null, "price":
        "140.1869158879"}}, "gross_price": "150.00", "purchase_price": "0", "average_purchase_price":
        "0", "attributes_str": "Red, 22, Denim", "inv_id": null}, {"id": 666031, "attributes":
        {"color": ["Blue"], "material": ["Leather"], "size": ["50"]}, "quantity":
        "2.00", "reorder_level": "20.00", "safety_stock": "20.00", "ean": "978020113448",
        "price": "121.4953271028", "product_code": null, "tax_type": 1062, "name":
        "Jeans Valid Attrs, Blue, 50, Leather", "images": [{"new": false, "type":
        0, "id": 2979, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de12[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}, {"key": "material"}], "account": {"paypal":
        false, "ebay": false, "image": null, "shipping_address": null, "billing_address":
        {"country": "DE", "id": 5067, "address1": "Voltastr 5", "address2": "Gebaude
        3", "zipcode": "13355", "city": "Berlin", "state": null, "first_name": "John",
        "last_name": "Newman", "company": "Inventorum", "title": null}, "phone_numbers":
        [{"country_code": "49", "id": 1444, "type": "normal", "national_number": "030
        12341234"}], "name": "Inventorum Test Account", "store_name": "Inventorum
        Test Account", "store_description": "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com",
        "fax": "", "tax_number": "", "vat_number": "", "payment_method_note": "",
        "thanks_note": "", "invoice_prefix": "", "invoice_counter": 2, "bank_name":
        "", "bank_account_number": "", "bank_code": "", "bank_iban": "", "bank_bic_swift":
        "", "settings": {"shipping_services": [{"id": "DE_DHLPaket", "description":
        "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
