interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/640416
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=utf-8]
      location: ['http://app.intern.inventorum.net/api/products/640416/']
      x-inv-account: [Anonymous]
      x-inv-user: [Anonymous]
      x-rid: ['377600098524784116']
    status: {code: 301, message: MOVED PERMANENTLY}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/640416/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "SlowRoad Shipping
        Details", "id": 640416, "quantity": "3000.00", "reorder_level": "200.00",
        "safety_stock": "200.00", "price": "560.7383177570", "tax_type": 1062, "custom_price":
        false, "ebay_product_id": null, "ebay_url": null, "in_shop": false, "shop_url":
        null, "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad.JPEG",
        "id": 2918, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "0", "description":
        "Some description", "product_code": "", "ean": null, "categories": [], "images":
        [{"ipad": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad.JPEG",
        "id": 2918, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/3931/c077/30b1/c4ac/2992/ae92/f6f8/3931c07730b1c4ac2992ae92f6f8dfdc_thumb.JPEG"}],
        "custom_sale": false, "shipping_services": [{"id": "DE_HermesPaket", "description":
        "Hermes Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "Hermes", "category": "[STANDARD]",
        "service": "DE_HermesPaket", "cost": "10.0000000000", "additional_cost": "1.0000000000",
        "enabled": true, "free_above_price": null}, {"id": "DE_DHLPaket", "description":
        "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "20.0000000000", "additional_cost": "3.0000000000",
        "enabled": true, "free_above_price": null}], "is_favourite": false, "brand":
        "", "supplier": "", "meta": {"shop": {"images": [], "price": "560.7383177570",
        "gross_price": "599.99", "id": 738, "channel": 5, "name": "", "description":
        ""}, "ebay": {"images": [], "price": "560.7383177570", "gross_price": "599.99",
        "id": 739, "channel": 4, "name": "", "description": ""}}, "is_giftcard": false,
        "gross_price": "599.99", "purchase_price": "0"}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['2586052765796591092']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}], "account": {"paypal": false, "ebay":
        false, "image": null, "shipping_address": null, "billing_address": {"id":
        5067, "address1": "Voltastr 5", "address2": "Gebaude 3", "zipcode": "13355",
        "city": "Berlin", "state": null, "country": "DE", "first_name": "John", "last_name":
        "Newman", "company": "Inventorum", "title": null}, "phone_numbers": [{"country_code":
        "49", "id": 1444, "type": "normal", "national_number": "030 12341234"}], "name":
        "Inventorum Test Account", "store_name": "Inventorum Test Account", "store_description":
        "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com", "fax":
        "", "tax_number": "", "vat_number": "", "payment_method_note": "", "thanks_note":
        "", "invoice_prefix": "", "invoice_counter": 0, "bank_name": "", "bank_account_number":
        "", "bank_code": "", "bank_iban": "", "bank_bic_swift": "", "settings": {"shipping_services":
        [{"id": "DE_DHLPaket", "description": "DHL Paket", "type": "", "time_max":
        2, "time_min": 1, "cost_group_flat": "Group3MaxFlatShippingCost", "carrier":
        "DHL", "category": "[STANDARD]", "service": "DE_DHLPaket", "cost": "5.0000000000",
        "additional_cost": "2.0000000000", "enabled": true, "free_above_price": null}],
        "ebay_payment_methods": [1], "izettle": true, "meta_prices_enabled": true,
        "paypal": false, "ebay": true, "ebay_click_and_collect": true, "shop": false,
        "zreports": true, "roundup": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false},
        "image_width": 0, "image_height": 0, "permissions": ["accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.can_add_basket_discount", "subscriptions.can_change_header_and_footer_on_receipt",
        "subscriptions.can_enable_shop", "subscriptions.can_have_shop", "subscriptions.can_see_native_pos_v121",
        "subscriptions.can_use_acc_photo_on_receipt", "subscriptions.can_use_giftcards",
        "subscriptions.can_use_inventorum", "subscriptions.can_use_izettle", "subscriptions.can_use_native_cashbook_add",
        "subscriptions.can_use_native_checkout", "subscriptions.can_use_native_pos_v121",
        "subscriptions.can_use_product_list_in_bo", "subscriptions.can_use_purchase_on_account",
        "subscriptions.can_use_stock_keeping", "subscriptions.is_paid", "subscriptions.native_checkout_enabled",
        "subscriptions.native_product_details", "subscriptions.poweredby_hidden"],
        "subscriptions": [{"start_date": "2015-04-02T13:16:20.637+02:00", "due_date":
        null, "subscription_plan": {"id": 32, "name": "Base Plan"}, "users_quota":
        1, "active": true}, {"start_date": "2015-04-02T13:16:42.183+02:00", "due_date":
        "2015-04-16T23:59:59.183+02:00", "subscription_plan": {"id": 25, "name": "Trial"},
        "users_quota": 3, "active": false}, {"start_date": "2015-04-02T13:37:41+02:00",
        "due_date": null, "subscription_plan": {"id": 39, "name": "Inventorum Premium"},
        "users_quota": null, "active": true}], "users_quota": null, "image_absolute":
        null, "return_prefix": "", "id": 346, "opening_hours": [], "is_ece": false,
        "bank_account_holder": "", "first_app_login": "2015-04-02T11:48:58.474Z",
        "account_creation": "2015-04-02T11:16:20.623Z", "country": "DE"}, "ece_categories":
        [], "channels": [{"name": "ipad", "description": "ipad", "translated_name":
        "POS"}, {"name": "shop", "description": "shop", "translated_name": "Shop"}],
        "carriers": [{"description": "DHL"}, {"description": "Pick up in store"},
        {"description": "Deutsche Post"}, {"description": "UPS"}, {"description":
        "Hermes"}, {"description": "DPD"}, {"description": "GLS"}], "countries": {"DE":
        "Germany", "AT": "Austria"}}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['377600098524784116']
    status: {code: 200, message: OK}
version: 1
