interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225147276579275043/
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=utf-8]
      location: ['http://app.intern.inventorum.net/api/products/1225147276579275043/']
      x-inv-account: [Anonymous]
      x-inv-user: [Anonymous]
      x-rid: ['1187122131544630772']
    status: {code: 301, message: MOVED PERMANENTLY}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225147276579275043/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "Jeans Valid Attrs",
        "id": 666032, "inv_id": 1225147276579275043, "quantity": "3.00", "reorder_level": null, "safety_stock": null,
        "price": "0E-10", "tax_type": 1062, "custom_price": false, "ebay_product_id":
        null, "ebay_url": null, "in_shop": false, "shop_url": null, "thumbnail": null,
        "variation_count": 2, "variations": [{"id": 666030, "attributes": {"color":
        ["Red"], "material": ["Denim"], "size": ["22"]}, "quantity": "1.00", "reorder_level":
        "20.00", "safety_stock": "20.00", "ean": null, "price": "140.1869158879",
        "product_code": null, "tax_type": 1062, "name": "Red, 22", "images": [{"ipad":
        "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad.JPEG",
        "id": 2978, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_thumb.JPEG"}],
        "meta": {"shop": {"images": [], "price": "140.1869158879", "gross_price":
        "150.00", "id": 960, "channel": 5, "name": null, "description": null}, "ebay":
        {"images": [], "price": "140.1869158879", "gross_price": "150.00", "id": 961,
        "channel": 4, "name": null, "description": null}}, "gross_price": "150.00"},
        {"id": 666031, "attributes": {"color": ["Blue"], "material": ["Leather"],
        "size": ["50"]}, "quantity": "2.00", "reorder_level": "20.00", "safety_stock":
        "20.00", "ean": null, "price": "121.4953271028", "product_code": null, "tax_type":
        1062, "name": "Blue, 50", "images": [{"ipad": "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad.JPEG",
        "id": 2979, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_thumb.JPEG"}],
        "meta": {"shop": {"images": [], "price": "121.4953271028", "gross_price":
        "130.00", "id": 962, "channel": 5, "name": null, "description": null}, "ebay":
        {"images": [], "price": "121.4953271028", "gross_price": "130.00", "id": 963,
        "channel": 4, "name": null, "description": null}}, "gross_price": "130.00"}],
        "average_purchase_price": "0", "description": "Photo of jeans for sell.",
        "product_code": null, "ean": null, "categories": [], "images": [], "custom_sale":
        false, "shipping_services": [], "is_favourite": false, "brand": "Test", "supplier":
        "", "meta": {"shop": {"images": [], "price": "0E-10", "gross_price": "0.00",
        "id": 958, "channel": 5, "name": null, "description": null}, "ebay": {"images":
        [], "price": "0E-10", "gross_price": "0.00", "id": 959, "channel": 4, "name":
        null, "description": null}}, "is_giftcard": false, "gross_price": "0.00",
        "purchase_price": "0"}'}
    headers:
      allow: ['GET, PUT, DELETE, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['1187122131544630772']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}], "account": {"paypal": false, "ebay":
        false, "image": null, "shipping_address": null, "billing_address": {"id":
        5067, "address1": "Voltastr 5", "address2": "Gebaude 3", "zipcode": "13355",
        "city": "Berlin", "state": null, "country": "DE", "first_name": "John", "last_name":
        "Newman", "company": "Inventorum", "title": null}, "phone_numbers": [{"country_code":
        "49", "id": 1444, "type": "normal", "national_number": "030 12341234"}], "name":
        "Inventorum Test Account", "store_name": "Inventorum Test Account", "store_description":
        "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com", "fax":
        "", "tax_number": "", "vat_number": "", "payment_method_note": "", "thanks_note":
        "", "invoice_prefix": "", "invoice_counter": 0, "bank_name": "", "bank_account_number":
        "", "bank_code": "", "bank_iban": "", "bank_bic_swift": "", "settings": {"shipping_services":
        [{"id": "DE_DHLPaket", "description": "DHL Paket", "type": "", "time_max":
        2, "time_min": 1, "cost_group_flat": "Group3MaxFlatShippingCost", "carrier":
        "DHL", "category": "[STANDARD]", "service": "DE_DHLPaket", "cost": "5.0000000000",
        "additional_cost": "2.0000000000", "enabled": true, "free_above_price": null}],
        "ebay_payment_methods": [1], "izettle": true, "meta_prices_enabled": true,
        "paypal": false, "ebay": true, "ebay_click_and_collect": true, "shop": false,
        "zreports": true, "roundup": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false},
        "image_width": 0, "image_height": 0, "permissions": ["accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.can_add_basket_discount", "subscriptions.can_change_header_and_footer_on_receipt",
        "subscriptions.can_enable_shop", "subscriptions.can_have_shop", "subscriptions.can_see_native_pos_v121",
        "subscriptions.can_use_acc_photo_on_receipt", "subscriptions.can_use_giftcards",
        "subscriptions.can_use_inventorum", "subscriptions.can_use_izettle", "subscriptions.can_use_native_cashbook_add",
        "subscriptions.can_use_native_checkout", "subscriptions.can_use_native_pos_v121",
        "subscriptions.can_use_product_list_in_bo", "subscriptions.can_use_purchase_on_account",
        "subscriptions.can_use_stock_keeping", "subscriptions.is_paid", "subscriptions.native_checkout_enabled",
        "subscriptions.native_product_details", "subscriptions.poweredby_hidden"],
        "subscriptions": [{"start_date": "2015-04-02T13:16:20.637+02:00", "due_date":
        null, "subscription_plan": {"id": 32, "name": "Base Plan"}, "users_quota":
        1, "active": true}, {"start_date": "2015-04-02T13:16:42.183+02:00", "due_date":
        "2015-04-16T23:59:59.183+02:00", "subscription_plan": {"id": 25, "name": "Trial"},
        "users_quota": 3, "active": false}, {"start_date": "2015-04-02T13:37:41+02:00",
        "due_date": null, "subscription_plan": {"id": 39, "name": "Inventorum Premium"},
        "users_quota": null, "active": true}], "users_quota": null, "image_absolute":
        null, "return_prefix": "", "id": 346, "opening_hours": [{"id": 414, "day_of_week":
        1, "opens_hour": 8, "opens_minute": 0, "closes_hour": 10, "closes_minute":
        0, "valid_from": null, "valid_through": null, "enabled": true}, {"id": 415,
        "day_of_week": 2, "opens_hour": 12, "opens_minute": 0, "closes_hour": 14,
        "closes_minute": 0, "valid_from": null, "valid_through": null, "enabled":
        true}, {"id": 421, "day_of_week": 2, "opens_hour": 18, "opens_minute": 0,
        "closes_hour": 20, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": true}, {"id": 416, "day_of_week": 3, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 417, "day_of_week": 4, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 418, "day_of_week": 5, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 419, "day_of_week": 6, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 420, "day_of_week": 7, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}], "is_ece": false, "bank_account_holder": "", "first_app_login":
        "2015-04-02T11:48:58.474Z", "account_creation": "2015-04-02T11:16:20.623Z",
        "country": "DE"}, "ece_categories": [], "channels": [{"name": "ipad", "description":
        "ipad", "translated_name": "POS"}, {"name": "shop", "description": "shop",
        "translated_name": "Shop"}], "carriers": [{"description": "DHL"}, {"description":
        "Pick up in store"}, {"description": "Deutsche Post"}, {"description": "UPS"},
        {"description": "Hermes"}, {"description": "DPD"}, {"description": "GLS"}],
        "countries": {"DE": "Germany", "AT": "Austria"}}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3644961628182078964']
    status: {code: 200, message: OK}
- request:
    body: '{"state": "in_progress", "details": null, "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/666032/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3644961628182078964']
    status: {code: 200, message: OK}
- request:
    body: !!python/str "<?xml version='1.0' encoding='utf-8'?><AddFixedPriceItemRequest
      xmlns=\"urn:ebay:apis:eBLBaseComponents\"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><Item><ConditionID>1000</ConditionID><Country>DE</Country><Currency>EUR</Currency><Description>Photo
      of jeans for sell.</Description><DispatchTimeMax>3</DispatchTimeMax><ItemSpecifics><NameValueList><Name>Marke</Name><Value>Adidas</Value></NameValueList><NameValueList><Name>Gr\xF6\xDFe</Name><Value>22</Value></NameValueList></ItemSpecifics><ListingDuration>Days_30</ListingDuration><ListingType>FixedPriceItem</ListingType><PayPalEmailAddress>bartosz@hernas.pl</PayPalEmailAddress><PaymentMethods>PayPal</PaymentMethods><PostalCode>13355</PostalCode><PrimaryCategory><CategoryID>53159</CategoryID></PrimaryCategory><ReturnPolicy><Description></Description><ReturnsAcceptedOption>ReturnsAccepted</ReturnsAcceptedOption></ReturnPolicy><SKU>invdev_666032</SKU><ShippingDetails><ShippingServiceOptions><ShippingService>DE_DHLPaket</ShippingService><ShippingServiceAdditionalCost>3.00</ShippingServiceAdditionalCost><ShippingServiceCost>20.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><ShippingDetails><ShippingServiceOptions><ShippingService>DE_HermesPaket</ShippingService><ShippingServiceAdditionalCost>1.00</ShippingServiceAdditionalCost><ShippingServiceCost>10.00</ShippingServiceCost><ShippingServicePriority>1</ShippingServicePriority></ShippingServiceOptions></ShippingDetails><Title>Jeans
      Valid Attrs</Title><Variations><Pictures><VariationSpecificName>size</VariationSpecificName><VariationSpecificPictureSet><PictureURL>http://app.inventorum.net/uploads/img-hash/a2b4/90f3/6717/6129/9548/428d/6205/a2b490f3671761299548428d6205e2e0_ipad_retina.JPEG</PictureURL><VariationSpecificValue>22</VariationSpecificValue></VariationSpecificPictureSet><VariationSpecificPictureSet><PictureURL>http://app.inventorum.net/uploads/img-hash/29de/128c/e87a/4c7c/2f6d/1424/ea3c/29de128ce87a4c7c2f6d1424ea3cc424_ipad_retina.JPEG</PictureURL><VariationSpecificValue>50</VariationSpecificValue></VariationSpecificPictureSet></Pictures><Variation><Quantity>1</Quantity><SKU>invdev_666030</SKU><StartPrice>150.00</StartPrice><VariationSpecifics><NameValueList><Name>size</Name><Value>22</Value></NameValueList><NameValueList><Name>material</Name><Value>Denim</Value></NameValueList><NameValueList><Name>color</Name><Value>Red</Value></NameValueList></VariationSpecifics></Variation><Variation><Quantity>2</Quantity><SKU>invdev_666031</SKU><StartPrice>130.00</StartPrice><VariationSpecifics><NameValueList><Name>size</Name><Value>50</Value></NameValueList><NameValueList><Name>material</Name><Value>Leather</Value></NameValueList><NameValueList><Name>color</Name><Value>Blue</Value></NameValueList></VariationSpecifics></Variation><VariationSpecificsSet><NameValueList><Name>color</Name><Value>Red</Value><Value>Blue</Value></NameValueList><NameValueList><Name>material</Name><Value>Denim</Value><Value>Leather</Value></NameValueList><NameValueList><Name>size</Name><Value>22</Value><Value>50</Value></NameValueList></VariationSpecificsSet></Variations></Item></AddFixedPriceItemRequest>"
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode AddFixedPriceItem]
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [b8b4b6f1-21b5-4486-8a4b-1c9f399a331d]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <AddFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-05-06T12:58:22.413Z</Timestamp><Ack>Success</Ack><Version>921</Version><Build>E921_UNI_API5_17485744_R1</Build><ItemID>261878300567</ItemID><StartTime>2015-05-06T12:58:20.366Z</StartTime><EndTime>2015-06-05T12:58:20.366Z</EndTime><Fees><Fee><Name>AuctionLengthFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BoldFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>BuyItNowFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>CategoryFeaturedFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryPlusFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>FeaturedGalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>FixedPriceDurationFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>GalleryFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>GiftIconFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>HighLightFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>InsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.5</PromotionalDiscount></Fee><Fee><Name>InternationalInsertionFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingDesignerFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ListingFee</Name><Fee
        currencyID="EUR">0.0</Fee><PromotionalDiscount currencyID="EUR">0.5</PromotionalDiscount></Fee><Fee><Name>PhotoDisplayFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>PhotoFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ReserveFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>SchedulingFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>SubtitleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BorderFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>BasicUpgradePackBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ValuePackBundleFee</Name><Fee currencyID="EUR">0.0</Fee></Fee><Fee><Name>PrivateListingFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee><Fee><Name>ProPackPlusBundleFee</Name><Fee
        currencyID="EUR">0.0</Fee></Fee></Fees><DiscountReason>SpecialOffer</DiscountReason></AddFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14d294e2-ef70-a785-f486-a726f2f8f2d4]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dWtgMWQ3MmYrZGE3YCgyNSg+Nys3MzUrMDY5PTY/Mw==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [AddFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:eeb430b4-acbb-4d9d-b8c7-4f74be54da8e']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14d294e2-ef70-a785-f486-a726f2f8f2d4!ws.api.dll!10.120.95.72!esbtrading[]']
    status: {code: 200, message: OK}
[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><EndFixedPriceItemRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><EndingReason>NotAvailable</EndingReason><ErrorLanguage>de_DE</ErrorLanguage><ItemID>261878300567</ItemID></EndFixedPriceItemRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode EndFixedPriceItem]
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [8800b6b2-6f51-4157-a732-e6a90a1f1b9d]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <EndFixedPriceItemResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-05-06T12:58:23.556Z</Timestamp><Ack>Success</Ack><Version>921</Version><Build>E921_UNI_API5_17485744_R1</Build><EndTime>2015-05-06T12:58:23.000Z</EndTime></EndFixedPriceItemResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14d294e3-f640-a625-4b57-49e79a83d6a0]
      x-ebay-api-pool-name: [___cDRidW8ydmtv]
      x-ebay-api-server-name: [___dm97PWQ3MGYrNTAxNCgyNSgzMSs3NzcrMD85PTY/Mw==]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [EndFixedPriceItem]
      x-ebay-esb-guid: ['urn:uuid:3c78131a-ba04-4dc4-a3e0-726118901205']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14d294e3-f640-a625-4b57-49e79a83d6a0!ws.api.dll!10.98.84.181!esbtrading[]']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"state": "published", "details": [{"long_message": "Das Angebot wurde
      bereits beendet.", "code": 1047, "severity_code": "Error", "classification":
      "RequestError", "short_message": "Das Angebot wurde beendet."}], "channel":
      "ebay"}'
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/666032/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3644961628182078964']
    status: {code: 200, message: OK}
version: 1
