interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}], "account": {"paypal": false, "ebay":
        false, "image": null, "shipping_address": null, "billing_address": {"id":
        5067, "address1": "Voltastr 5", "address2": "Gebaude 3", "zipcode": "13355",
        "city": "Berlin", "state": null, "country": "DE", "first_name": "John", "last_name":
        "Newman", "company": "Inventorum", "title": null}, "phone_numbers": [{"country_code":
        "49", "id": 1444, "type": "normal", "national_number": "030 12341234"}], "name":
        "Inventorum Test Account", "store_name": "Inventorum Test Account", "store_description":
        "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com", "fax":
        "", "tax_number": "", "vat_number": "", "payment_method_note": "", "thanks_note":
        "", "invoice_prefix": "", "invoice_counter": 0, "bank_name": "", "bank_account_number":
        "", "bank_code": "", "bank_iban": "", "bank_bic_swift": "", "settings": {"shipping_services":
        [{"id": "DE_DHLPaket", "description": "DHL Paket", "type": "", "time_max":
        2, "time_min": 1, "cost_group_flat": "Group3MaxFlatShippingCost", "carrier":
        "DHL", "category": "[STANDARD]", "service": "DE_DHLPaket", "cost": "5.0000000000",
        "additional_cost": "2.0000000000", "enabled": true, "free_above_price": null}],
        "ebay_payment_methods": [1], "izettle": true, "meta_prices_enabled": true,
        "paypal": false, "ebay": true, "ebay_click_and_collect": true, "shop": false,
        "zreports": true, "roundup": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false},
        "image_width": 0, "image_height": 0, "permissions": ["accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanmodel", "subscriptions.can_add_ba[...]
- request:
    body: <?xml version="1.0" encoding="utf-8"?><AddInventoryLocationRequest><Address1>aXdhbJVRJv</Address1><Address2>wZDlMWoXLT</Address2><City>rOndJcWZXr</City><Country>DE</Country><Hours><Day><DayOfWeek>1</DayOfWeek><Interval><Close>10:00:00</Close><Open>08:00:00</Open></Interval></Day><Day><DayOfWeek>2</DayOfWeek><Interval><Close>14:00:00</Close><Open>12:00:00</Open></Interval><Interval><Close>20:00:00</Close><Open>18:00:00</Open></Interval></Day></Hours><Latitude>54.2363932469</Latitude><LocationID>invdev_346</LocationID><LocationType>STORE</LocationType><Longitude>9999.999</Longitude><Name>ecZwIHwwPzbVJBwhRUWE</Name><Phone>NryWArKIjasLdNJDkUnS</Phone><PickupInstructions>hyVYyvMgsUscOhJKoxym</PickupInstructions><PostalCode>yL</PostalCode><Region>LCzYFPtVRU</Region><URL>http://inventorum.com</URL><UTCOffset>+02:00</UTCOffset></AddInventoryLocationRequest>
    headers:
      Authorization: [TOKEN AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/]
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [0f5d64ce-d82f-47c1-8017-f1d4b65a9370]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/locations/delta/add
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><AddInventoryLocationResponse><Ack>FAILURE</Ack><Errors><ShortMessage>//Longitude:
        must be less than or equal to 180.00</ShortMessage><LongMessage>//Longitude:
        must be less than or equal to 180.00 Value: 9999.999</LongMessage><ErrorCode>10</ErrorCode><SeverityCode>Error</SeverityCode><ErrorClassification>RequestError</ErrorClassification></Errors><LocationID
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><LocationUUID
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></AddInventoryLocationResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d2e9e1-8cd0-a2b6-2291-e2c1f4fe7b92]
      nncoection: [close]
      rlogid: [t6jkptufoi9%3Fvo%7B%3Dd70f%2B5e5%3F-14d2e9e18cf-0x125b0]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d2e9e1-8cd0-a2b6-2291-e2c1f4fe7b92!selling.inventory.v1.locations!10.43.98.41!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 400, message: Bad Request}
version: 1
