interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
      X-Api-Version: [9]
      X-Inv-Account: [!!python/unicode 346]
      X-Inv-User: [!!python/unicode 425]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"key": "color"}, {"key": "size"}], "account": {"paypal": false, "ebay":
        false, "image": null, "shipping_address": null, "billing_address": {"id":
        5067, "address1": "Voltastr 5", "address2": "Gebaude 3", "zipcode": "13355",
        "city": "Berlin", "state": null, "country": "DE", "first_name": "John", "last_name":
        "Newman", "company": "Inventorum", "title": null}, "phone_numbers": [{"country_code":
        "49", "id": 1444, "type": "normal", "national_number": "030 12341234"}], "name":
        "Inventorum Test Account", "store_name": "Inventorum Test Account", "store_description":
        "", "store_slogan": "", "email": "tech+slingshot-test@inventorum.com", "fax":
        "", "tax_number": "", "vat_number": "", "payment_method_note": "", "thanks_note":
        "", "invoice_prefix": "", "invoice_counter": 0, "bank_name": "", "bank_account_number":
        "", "bank_code": "", "bank_iban": "", "bank_bic_swift": "", "settings": {"shipping_services":
        [{"id": "DE_DHLPaket", "description": "DHL Paket", "type": "", "time_max":
        2, "time_min": 1, "cost_group_flat": "Group3MaxFlatShippingCost", "carrier":
        "DHL", "category": "[STANDARD]", "service": "DE_DHLPaket", "cost": "5.0000000000",
        "additional_cost": "2.0000000000", "enabled": true, "free_above_price": null}],
        "ebay_payment_methods": [1], "izettle": true, "meta_prices_enabled": true,
        "paypal": false, "ebay": true, "ebay_click_and_collect": true, "shop": false,
        "zreports": true, "roundup": false, "pdf": 1, "ebay_paypal_email": "info@inventorum.com",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false},
        "image_width": 0, "image_height": 0, "permissions": ["accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.can_add_basket_discount", "subscriptions.can_change_header_and_footer_on_receipt",
        "subscriptions.can_enable_shop", "subscriptions.can_have_shop", "subscriptions.can_see_native_pos_v121",
        "subscriptions.can_use_acc_photo_on_receipt", "subscriptions.can_use_giftcards",
        "subscriptions.can_use_inventorum", "subscriptions.can_use_izettle", "subscriptions.can_use_native_cashbook_add",
        "subscriptions.can_use_native_checkout", "subscriptions.can_use_native_pos_v121",
        "subscriptions.can_use_product_list_in_bo", "subscriptions.can_use_purchase_on_account",
        "subscriptions.can_use_stock_keeping", "subscriptions.is_paid", "subscriptions.native_checkout_enabled",
        "subscriptions.native_product_details", "subscriptions.poweredby_hidden"],
        "subscriptions": [{"start_date": "2015-04-02T13:16:20.637+02:00", "due_date":
        null, "subscription_plan": {"id": 32, "name": "Base Plan"}, "users_quota":
        1, "active": true}, {"start_date": "2015-04-02T13:16:42.183+02:00", "due_date":
        "2015-04-16T23:59:59.183+02:00", "subscription_plan": {"id": 25, "name": "Trial"},
        "users_quota": 3, "active": false}, {"start_date": "2015-04-02T13:37:41+02:00",
        "due_date": null, "subscription_plan": {"id": 39, "name": "Inventorum Premium"},
        "users_quota": null, "active": true}], "users_quota": null, "image_absolute":
        null, "return_prefix": "", "id": 346, "opening_hours": [{"id": 414, "day_of_week":
        1, "opens_hour": 8, "opens_minute": 0, "closes_hour": 10, "closes_minute":
        0, "valid_from": null, "valid_through": null, "enabled": true}, {"id": 415,
        "day_of_week": 2, "opens_hour": 12, "opens_minute": 0, "closes_hour": 14,
        "closes_minute": 0, "valid_from": null, "valid_through": null, "enabled":
        true}, {"id": 421, "day_of_week": 2, "opens_hour": 18, "opens_minute": 0,
        "closes_hour": 20, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": true}, {"id": 416, "day_of_week": 3, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 417, "day_of_week": 4, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 418, "day_of_week": 5, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 419, "day_of_week": 6, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}, {"id": 420, "day_of_week": 7, "opens_hour": 0, "opens_minute":
        0, "closes_hour": 0, "closes_minute": 0, "valid_from": null, "valid_through":
        null, "enabled": false}], "is_ece": false, "bank_account_holder": "", "first_app_login":
        "2015-04-02T11:48:58.474Z", "account_creation": "2015-04-02T11:16:20.623Z",
        "country": "DE"}, "ece_categories": [], "channels": [{"name": "ipad", "description":
        "ipad", "translated_name": "POS"}, {"name": "shop", "description": "shop",
        "translated_name": "Shop"}], "carriers": [{"description": "DHL"}, {"description":
        "Pick up in store"}, {"description": "Deutsche Post"}, {"description": "UPS"},
        {"description": "Hermes"}, {"description": "DPD"}, {"description": "GLS"}],
        "countries": {"DE": "Germany", "AT": "Austria"}}'}
    headers:
      allow: ['GET, HEAD, OPTIONS']
      content-type: [application/json]
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['3509009214430832116']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <?xml version="1.0" encoding="utf-8"?><AddInventoryLocationRequest><Address1>WgWEzlJOGn</Address1><Address2>SShAyTJPTJ</Address2><City>qybPXXGrAH</City><Country>DE</Country><Hours><Day><DayOfWeek>1</DayOfWeek><Interval><Close>10:00:00</Close><Open>08:00:00</Open></Interval></Day><Day><DayOfWeek>2</DayOfWeek><Interval><Close>14:00:00</Close><Open>12:00:00</Open></Interval><Interval><Close>20:00:00</Close><Open>18:00:00</Open></Interval></Day></Hours><Latitude>87.2370085870</Latitude><LocationID>invdev_346</LocationID><LocationType>STORE</LocationType><Longitude>134.0446870671</Longitude><Name>SCybnaaiLaLocvGMTCGq</Name><Phone>udEjxHwKrGWLazbJpSzh</Phone><PickupInstructions>sjbEiofKzpXNBZsxTyEc</PickupInstructions><PostalCode>ZX</PostalCode><Region>CnuzimRCRo</Region><URL>http://inventorum.com</URL><UTCOffset>+02:00</UTCOffset></AddInventoryLocationRequest>
    headers:
      Authorization: [TOKEN AgAAAA**AQAAAA**aAAAAA**+SoxVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHloamDZGGpwmdj6x9nY+seQ**qeUBAA**AAMAAA**C3hLSGxBbPWdVJyUL0CWP/+WBVv+WH+m27U0atsiRZd0O6YeiXxXIeDv0FlwDBPtiDGXqP9GXaRgrn0GPTeumA7qhjocNfuHZyuwr80/bh9IqSXKA1EcNCmMbyI/696cKoaxPm7R6nczyIZV0ssT7t5vCwANcJEMsfXSJGVsJEX0Y54YV+Z70Bk6E2RyxJ1B9XN4rKG3yGvnyT+dOXMZN7W7S9gQqyeMPJ7B6Ebk9TyekHaFHEBwnArRQjVWuiMxX53GuRsBGFB07ekJhe+4UgBDN0v4/5LyHzAolM+UkE7/is2nZz74JQ7kHRXiLzHRstmU1aifkeBj1NsdwHV6QScA7ubNITHgFWkO4z2wmpkWfIdevnw42UHhsCdKRXp2p/AYuZ1O9bwVt7uLm0gJi3EvmDRmEevMk4j/VfLRwhC15qbFAMzL+g+zNK9qIJ/gy6TwO04Pr3H4001ASE+SBpKgr1CgoydwRGa3/w6IrnsQbjwgBR+tRyuad6r3251U0e7wNyXqqCGOMkk4y/8W91g6tIeuS0Iv73cw9h1fpoFz9vUf8qsy640UTQPkrUQqYYn3tyootvwBmskYNV7b1S7r9MTf9ygWkxgvndaV49nJji+xnshPtFfpr1qBX3bRU/3j7pdVLpMuQUw7sz9faDGkA19EKoXtefqkbzgP+f0mnOx0y6vwTADhVsfwo2sJowyqvPfNVxpYVuWJ+jBJuQDM91oukkS9uBxDrwWa8Rofe03JkTmHE/807wkzi+zg]
      Content-Type: [application/xml]
      X-EBAY-SDK-REQUEST-ID: [228ca342-8574-49ab-ab00-39e4e2cb4212]
    method: POST
    uri: https://api.ebay.com/selling/inventory/v1/locations/delta/add
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><AddInventoryLocationResponse><Ack>SUCCESS</Ack><LocationID>INVDEV_346</LocationID><LocationUUID>DB4EC21A-DFF0-4B78-90FB-8A2E56C9A127</LocationUUID></AddInventoryLocationResponse>'}
    headers:
      content-type: [application/xml]
      guid: [14d1e42b-7830-a358-a116-f1e6f93e15c2]
      rlogid: [t6jkptufoi9%3Fuk%601d70f%2B0b%3C0-14d1e42b787-0x16157]
      x-ebay-c-version: [1.0.0]
      x-ebay-request-id: ['14d1e42b-7830-a358-a116-f1e6f93e15c2!selling.inventory.v1.locations!10.53.138.17!comosesb[!inventory.v1!r1invsvcin[]]']
    status: {code: 200, message: OK}
version: 1
