interactions:
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetSessionIDRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials></RequesterCredentials><RuName>Inventorum_GmbH-Inventor-9021-4-pbiiw</RuName></GetSessionIDRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetSessionID']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [bf46ed8e-789c-4777-baaf-56511cbf0560]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <GetSessionIDResponse xmlns="urn:ebay:apis:eBLBaseComponents"><Timestamp>2015-09-18T08:49:45.272Z</Timestamp><Ack>Success</Ack><Version>933</Version><Build>E933_INTL_APISIGNIN_17616572_R1</Build><SessionID>qeUBAA**dfa5210914f0a5eb2ac27662ffffea49</SessionID></GetSessionIDResponse>'}
    headers:
      content-type: [text/xml]
      guid: [14fdfa52-0d50-a785-f483-a333feb25546]
      x-ebay-api-pool-name: [___cDRidW90amJobm1saHNv]
      x-ebay-api-server-name: [___dWtgMWQ3MmYrMzA3PygyNSg+Nys3MDsrNzAxPz43OzQ=]
      x-ebay-esb-app-name: [Inventor-9021-41d8-9c25-9bae93f76429]
      x-ebay-esb-call-name: [GetSessionID]
      x-ebay-esb-guid: ['urn:uuid:476416da-a555-4018-811f-c88332fcdcfb']
      x-ebay-esb-siteid: ['77']
      x-ebay-request-id: ['14fdfa52-0d50-a785-f483-a333feb25546!ws.api.dll!10.120.95.72!esbtrading[']
    status: {code: 200, message: OK}
version: 1
