interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [&id001 !!python/long '1384694432717776210']
    method: GET
    uri: http://app.intern.inventorum.net/api/products/1225146588560351744/
  response:
    body: {string: !!python/unicode '{"attributes": {}, "name": "INVENTORUM iPad-Stand",
        "id": 665753, "quantity": "74.00", "reorder_level": "0.00", "safety_stock":
        "0.00", "price": "0.8403361345", "tax_type": 1063, "custom_price": false,
        "ebay_product_id": null, "ebay_url": null, "in_shop": true, "shop_url": "https://inventorum-test-account.inventorum.net/products/details?pid=665753",
        "thumbnail": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "id": 2934, "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb.JPEG"},
        "variation_count": 0, "variations": [], "average_purchase_price": "3E+1",
        "description": "Der stylische iPad-Stand von INVENTORUM aus edlem Holz rundet
        das Erscheinungsbild Ihrer neuen iPad-Kasse optimal ab. Durch seinen speziellen
        Neigungswinkel ist dieser ideal, um einfach und schnell Produkte mit der internen
        Kamera des iPads zu scannen.  Kompatibel f\u00fcr iPad 2, 3 und 4, sowie das
        iPad Air und iPad mini.", "product_code": "", "ean": null, "categories": [],
        "images": [{"new": false, "type": 0, "id": 2934, "urls": {"ipad": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad.JPEG",
        "ipad_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_ipad_retina.JPEG",
        "thumb_retina": "https://app.inventorum.net/uploads/img-hash/6c8b/d601/0a6c/f966/b929/1d01/4424/6c8bd6010a6cf966b9291d0144245e77_thumb_retina.JPEG",
        "thumb": "https://app.inventorum.net/uploads/[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: GET
    uri: http://app.intern.inventorum.net/api/info/
  response:
    body: {string: !!python/unicode '{"tax_types": [{"id": 1061, "name": "0%", "tax_rate":
        "0.00000"}, {"id": 1062, "name": "7%", "tax_rate": "7.00000"}, {"id": 1063,
        "name": "19%", "tax_rate": "19.00000"}], "customer_groups": [{"id": 325, "name":
        "Inventorum Test Account", "description": "-"}], "groups": [{"id": 2, "name":
        "owner"}, {"id": 3, "name": "manager"}, {"id": 4, "name": "staff"}], "attributes":
        [{"used": true, "usage_count": 3, "key": "color"}, {"used": true, "usage_count":
        4, "key": "size"}, {"used": true, "usage_count": 4, "key": "material"}], "account":
        {"paypal": false, "ebay": false, "image": null, "shipping_address": null,
        "billing_address": {"country": "DE", "id": 5067, "address1": "Voltastr 5",
        "address2": "Gebaude 3", "zipcode": "13355", "city": "Berlin", "state": null,
        "first_name": "John", "last_name": "Newman", "company": "Inventorum", "title":
        null}, "phone_numbers": [{"country_code": "49", "id": 1444, "type": "normal",
        "national_number": "030 12341234"}], "name": "Inventorum Test Account", "store_name":
        "Inventorum Test Account", "store_description": "", "store_slogan": "", "email":
        "tech+slingshot-test@inventorum.com", "fax": "", "tax_number": "", "vat_number":
        "", "payment_method_note": "", "thanks_note": "", "invoice_prefix": "", "invoice_counter":
        2, "bank_name": "", "bank_account_number": "", "bank_code": "", "bank_iban":
        "", "bank_bic_swift": "", "settings": {"shipping_services": [{"id": "DE_DHLPaket",
        "description": "DHL Paket", "type": "", "time_max": 2, "time_min": 1, "cost_group_flat":
        "Group3MaxFlatShippingCost", "carrier": "DHL", "category": "[STANDARD]", "service":
        "DE_DHLPaket", "cost": "5.0000000000", "additional_cost": "2.0000000000",
        "enabled": true, "free_above_price": null}], "ebay_payment_methods": [1],
        "izettle": true, "meta_prices_enabled": true, "paypal": false, "ebay": true,
        "ebay_click_and_collect": true, "shop": false, "zreports": true, "roundup":
        false, "atalanda_enabled": false, "pdf": 1, "ebay_paypal_email": "bartosz@hernas.pl",
        "receipt_header": "", "receipt_footer": "", "first_change_added": false, "individual_receipt_type":
        "default", "company_receipt_type": "detailed"}, "image_width": 0, "image_height":
        0, "permissions": ["accounts.can_open_backoffice", "accounts.can_use_acc_photo_on_receipt",
        "accounts.change_account", "accounts.change_accountsettings", "accounts.change_user",
        "accounts.change_users", "products.can_adjust_inventory", "products.can_create_category",
        "products.can_delete_product", "products.can_edit_product", "products.can_see_margin",
        "products.import_products", "products.import_products_with_drop", "shop.change_shop",
        "subscriptions.add_subscriptionplanm[...]
- request:
    body: <?xml version='1.0' encoding='utf-8'?><GetUserPreferencesRequest xmlns="urn:ebay:apis:eBLBaseComponents"><RequesterCredentials><eBayAuthToken>AgAAAA**AQAAAA**aAAAAA**rp4aVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHlYunD5KLqA+dj6x9nY+seQ**qeUBAA**AAMAAA**O2lrsU8I6yjrricneQO018oJ2GChsYf5PaV62oYlcDgguiGB/IPq89cLIHfiHXjsz5ONAxNsjSzR+elJQkx6NlF+LTw0p3DdPItRFahsbY3O5+iVksmJr++E1+QF7PvkudovYAb183wTZpnZ8np7bsOPAWvFeuRZHbVmwvROSGDQOsAzbWFyVF/6l9xJpHAKULDMzR/nnaCnE24tiTn0V2KH+iBAMZzVbuoXM1kEtIll+N6S0JEvvhtTUW8qlmM0blGaXC7uVfd8CeLDudxEi7T2CSLzsqszuzf+fzBsbSHmAWLWwndHmgnhqyrOXoDrrL9bd2w8jAgO5Lg58/2LoEPbo7TzFXlqv6RPjr0A/gp2/rpbbTl5XTsApPyUN+YiYHuZe0MzxJxgDD6BsGKFK4FmeL+GoC8J9qox5Rk8ynGFOdpjTT29c9gA0NRW0x3iA9zzB5O81Z20+euQJ1L58iVFOcDSHbN2pae0kgafUVJsq96yBz7EB56q9jt1KegCbGXVUrkfCzDUrEmZuJCm3qw6edh6Xir6x+esSnG65toiF/TuiyyC76UYVXctEFxmJFpHbEOou8fzfEHq4FR8LFM5xEmqsx4tUKUFRoxO6pCWHEjPEeOu5Hgl8/JxWDSp/JmTgGwofeIHrgHLJsnA6bhoo6heiAo2O8bGw/sReKccSGNV8JlFZJXCL7leA3APeVt3yi4itCaSCq0JsDpILTCAdC6vnUEQHcVvowhzN7ck1qmY0gUcOo6IOMuJlxn/</eBayAuthToken></RequesterCredentials><ErrorLanguage>de_DE</ErrorLanguage><ShowSellerProfilePreferences>True</ShowSellerProfilePreferences></GetUserPreferencesRequest>
    headers:
      Content-Type: [text/xml]
      X-EBAY-API-APP-NAME: [Inventor-9021-41d8-9c25-9bae93f76429]
      X-EBAY-API-CALL-NAME: [!!python/unicode 'GetUserPreferences']
      X-EBAY-API-CERT-NAME: [6be1b82a-0372-4e15-822d-e93797d623ac]
      X-EBAY-API-COMPATIBILITY-LEVEL: [911]
      X-EBAY-API-DEV-NAME: [dbedb016-ee04-4fce-a8e3-22c134fbb3c7]
      X-EBAY-API-SITEID: [77]
      X-EBAY-SDK-REQUEST-ID: [4326d2c4-c014-4b86-b38a-b360fb69b7c6]
    method: POST
    uri: https://api.ebay.com/ws/api.dll
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GetUserPreferencesResponse\
        \ xmlns=\"urn:ebay:apis:eBLBaseComponents\"><Timestamp>2015-09-17T11:46:03.542Z</Timestamp><Ack>Success</Ack><Version>939</Version><Build>E939_INTL_APISELLING_17668125_R1</Build><SellerProfilePreferences><SellerProfileOptedIn>true</SellerProfileOptedIn><SupportedSellerProfiles><SupportedSellerProfile><ProfileID>70836070023</ProfileID><ProfileType>PAYMENT</ProfileType><ProfileName>PayPal:Sofortige\
        \ Bezahlung</ProfileName><ShortSummary>PayPal, bartosz@hernas.pl</ShortSummary><CategoryGroup><Name>ALL</Name><IsDefault>false</IsDefault></CategoryGroup></SupportedSellerProfile><SupportedSellerProfile><ProfileID>72448630023</ProfileID><ProfileType>PAYMENT</ProfileType><ProfileName>PayPal:Sofortige\
        \ Bezahlung#2</ProfileName><ShortSummary>PayPal, silvia_maunz@web.de</ShortSummary><CategoryGroup><Name>ALL</Name><IsDefault>false</IsDefault></CategoryGroup></SupportedSellerProfile><SupportedSellerProfile><ProfileID>71605019023</ProfileID><ProfileType>PAYMENT</ProfileType><ProfileName>PayPal#2</ProfileName><[...]
- request:
    body: '{"state": "failed", "details": [{"severity_code": "FatalError", "code":
      -1, "classification": "ApiError", "parameters": [], "long_message": "Something
      went wrong, please try again later.", "short_message": "Fatal error (b8436b29-0456-4444-b11f-c8981ed7cc33)"}],
      "channel": "ebay"}'
    headers:
      Content-Type: [!!python/unicode 'application/json']
      X-Api-Version: [10]
      X-Inv-Account: [!!python/unicode '346']
      X-Inv-User: [!!python/unicode '425']
      X-Rid: [*id001]
    method: POST
    uri: http://app.intern.inventorum.net/api/products/665753/state/
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: ['POST, OPTIONS']
      x-inv-account: ['346']
      x-inv-user: ['425']
      x-rid: ['1384694432717776210']
    status: {code: 200, message: OK}
version: 1
